.section_footer{
    background: #212121ed;
    padding: 60px 0 30px;
    @media screen and (max-width:999px) {
       padding: 30px 0;
    }
    .all_section{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:999px) {
            display: block;
        }
        .section_footer_col_one{
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width:999px) {
               text-align: center;
               width: 100%;
            }
            .section_logo{
                padding-bottom: 100px;
                @media screen and (max-width:999px) {
                    padding-bottom: 0;
                  }
                a{
                    img{
                        max-width: 150px;
                    }
                }
                p{
                    color: white;
                    font-size: 13px;
                    font-weight: normal;
                    letter-spacing: 0.43px;
                    line-height: 21px;
                    max-width: 230px;
                    padding-top: 15px;
                    @media screen and (max-width:999px) {
                       max-width: 100%;
                       width: 100%;
                    }
                }
                .call{
                    display: flex;
                    align-items: center;
                    padding-top: 12px;
                    @media screen and (max-width:999px) {
                       justify-content: center;
                    }
                    img{
                        width: 17px;
                    }
                    .num{
                        color: #32C2DE;
                        font-size: 20px;
                        line-height: 26px;
                        padding: 0 5px;
                        font-weight: bold;
                        width: auto;
                    }
                }
            }
            .company_social{
                width: 100%;
                @media screen and (max-width:999px) {
                    padding-top: 20px;
                 }
                h5{
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0.45px;
                }
                span{
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: normal;
                    letter-spacing: 0.41px;
                    padding: 10px 0;
                    display: block;
                }
                form{
                    position: relative;
                    width: 350px;
                    height: 45px;
                    background: white;
                    display: flex;
                    @media screen and (max-width:999px) {
                        width: 100%;
                    }
                    .sc-jzJRlG{
                        width: 100%;
                    }
                    input{
                        width: 100%;
                        border-radius: 4px;
                        padding: 15px;
                        color: black;
                        font-size: 12px;
                        font-weight: normal;
                    }
                    .btn{
                        background: #32c2de;
                        color: white;
                        font-size: 12px;
                        line-height: 32px;
                        font-weight: bold;
                        transition: all 0.3s;
                        &:hover{
                            background: #2caac3 ;
                        }
                    }
                }
            }
        }
        .section_footer_col_two{
            display: flex;
            @media screen and (max-width:999px) {
                display: none;
            }
            .list_menu{
                padding-#{$start}: 50px;
                &:last-child{
                    padding-#{$start}: 0;
                }
                li{
                    h4{
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0.45px;
                        padding-bottom: 15px;
                    }
                    a{
                        color: #ffffff;
                        font-size: 15px;
                        font-weight: normal;
                        letter-spacing: 0.5px;
                        line-height: 32px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .section_footer_col_three{
            @media screen and (max-width:999px) {
              display: none;
            }
            .section_insta{
                max-width: 260px;
                // display: none;
                .title{
                    display: flex;
                    align-items: center;
                    padding-bottom: 15px;
                    h4{
                        color: #ffffff;
                        font-weight: bold;
                        padding: 0 5px;
                    }
                    span{
                        font-size: 18px;
                        font-weight: normal;
                        color: white;
                    }
                }

                
                .insta_gallery{
                    .sb_instagram_header{
                        padding: 0 !important;
                        .sbi_header_link{
                            display: flex !important;
                            flex-direction: row-reverse;
                            width: 100% !important;
                            padding: 0 !important;
                            .sbi_header_text{
                                width: calc(100% - 10%) !important;
                                padding: 0 0 0 6px !important;
                                h3{
                                    font-size: 18px !important;
                                    font-weight: normal !important;
                                    color: white !important;
                                    margin: 0 !important;
                                    width: 100% !important;
                                    padding: 0 !important;
                                }
                            }
                            .sbi_header_img{
                                background: transparent;
                                width: 10% !important;
                                height: auto !important;
                                border-radius: 0 !important;
                                .sbi_new_logo{
                                    margin: 0 !important;
                                    width: 100% !important;
                                    height: 100% !important;
                                    position: relative !important;
                                    left: 0px !important;
                                    top: 0 !important;
                                }
                            }
                        }
                    }
                    #sbi_images{
                            padding: 0 !important;
                            .sbi_item{
                                width: calc(100% / 3) !important;
                                padding: 0 2px 4px !important;
                                .sbi_photo{
                                    width: 100% !important;
                                    .fa-play{
                                        width: 15px !important;
                                        left: 35px !important;
                                        top: 20px !important;
                                        margin: 0 !important;
                                    }
                                }
                            }
                    }
                    #sb_instagram .sb_instagram_header .sbi_header_img, .sb_instagram_header .sbi_header_img{
                        margin: 0 !important;
                    }
                    #sb_instagram .sb_instagram_header .sbi_header_text.sbi_no_bio h3, .sb_instagram_header .sbi_header_text.sbi_no_bio h3{
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                    #sb_instagram.sbi_col_4 #sbi_images .sbi_item{
                        padding: 0 2px 4px !important;
                    }
                }
            }   
        }
    }
}
.bottom_footer{
    background: #212121;
    .grid{
        display: flex;
        justify-content: space-between;
        padding: 13px 0;
        @media screen and (max-width:999px) {
           flex-direction: column;
           align-items: center;
        }
    }
    .copy_right,.powerd{
        padding: 0 30px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.43px;
        @media screen and (max-width:999px) {
            font-size: 11px;
            padding: 5px 0;
         }
    }
}
