.section_header{
    background: #32c2de;
    position: relative;
    @media screen and (max-width:999px) {
       display: none;
    }
    &.header_hero{
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s;
        background: transparent;
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(255,255,255,0.2);
            width: 100%;
            height: 100%;
        }

        &:hover{
            background: white;
            &::before{
               display: none;
            }
            .section_header_col_one{
                .section_call,.section_logo{
                    .normal{
                        display: block !important;
                    }
                    .color{
                        display: none !important;
                    }
                    .call{
                        p{
                            color: #32C2DE !important;
                        }
                    }
                }
                .sec_end{
                    .section_button{
                        .menu{
                            .header_link{
                                border: 2px solid #32C2DE;
                                cursor: pointer;
                                &.hotel{
                                    background: #32C2DE;
                                    color: white;
                                    &:hover{
                                        background: #2cb3ce;
                                        border: 2px solid #2cb3ce;
                                    }
                                }
                                &.home{
                                    background: white;
                                    color: #32C2DE;
                                    &:hover{
                                        background: #32C2DE;
                                        color: white;
                                    }
                                }
                            }
                        }
                       
                    }
                    .cart{
                        a{
                            .section_icon_cart{
                                .white{
                                    display: none !important;
                                }
                                .cart_hover{
                                    display: block !important;
                                }
                            }
                       
                        }
                    }
                }
                
            }
            .section_header_col_two{
                .main-nav {
                    .main-menu {
                        .single_menu {
                            color: black;
                            .link {
                                color: black;
                            }
                            &.has-mega {
                                & > a {
                                    &::before {
                                        content: "";
                                        background-image: url(../img/icons/menu_hover.png);
                                        position: absolute;
                                        right: 0;
                                        top: 5px;
                                        font-weight: 400;
                                        background-size: 9px;
                                        background-repeat: no-repeat;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .normal{
            display: none !important;
        }
        .color{
            display: block !important;
        }
        .call{
            p{
                color: white !important;
            }
        }
    }
    &.checkout{
        @media screen and (max-width:999px) {
            display: block !important;
        }
        .section_header_col_one{
            border-bottom: 0;
            @media screen and (max-width:999px) {
               .section_call{
                   display: none;
               }
            }
        }
    }
    .section_header_col_one{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        border-bottom: 1px solid white;
        .section_call{
            width: calc(100% / 3);
            .normal{
                display: none;
            }
            .color{
                display: block;
            }
            .call{
                display: flex;
                align-items: center;
                padding-top: 12px;
                img{
                    width: 17px;
                }
                p{
                    color: #32C2DE;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 0 5px;
                    font-weight: bold;
                }
                &.white{
                    p{
                        color: white !important;
                    }
                }
            }
        }
        .section_logo{
            width: calc(100% / 3);
            .normal{
                display: none;
            }
            .color{
                display: block;
            }
        }
        .sec_end{
            display: flex;
            align-items: center;
            .section_button{
                .menu{
                    display: flex;
                    margin: 0 -5px;
                    .header_link{
                        display: block;
                        text-align: center;
                        width: 124px;
                        font-size: 14px;
                        border: 2px solid white;
                        color: white;
                        margin: 0 5px;
                        transition: all 0.3s;
                        cursor: pointer;
                        a{
                            line-height: 34px;
                            text-transform: uppercase;
                        }
                        &.hotel{
                            background: white;
                            color: #32c2de;
                            &:hover{
                                background: #32c2de;
                                // border: 2px solid #32c2de;
                                color: white;
                            }
                        }
                        &.home{
                            &:hover{
                                background: white;
                                color: #32c2de;
                            }
                        }
                    }
                }
            }
            .cart{
                display: none !important;
                padding-#{$start}: 25px;
                cursor: pointer;
                &.hide{
                    display: none;
                }
                a{
                    display: block;
                    .section_icon_cart{
                        position: relative;
                        #cart_total_count{
                            font-size: 14px;
                            font-weight: bold;
                            text-align: center;
                            border: 1px solid #33c2de;
                            background: white;
                            color: #33c2de;
                            position: absolute;
                            right: -14px;
                            top: -4px;
                            width: 24px;
                            height: 24px;
                            border-radius: 50px;
                            padding: 4px 0px;
                        }
                        img{
                            width: 30px;
                            &.white{
                                display: block;
                            }
                            &.cart_hover{
                                display: none;
                            }
                        }
                        
                    }
               
                }
            }
        }
       
    }
    .section_header_col_two{
        padding: 18px 0 0;
        .main-nav {
            width: 100%;
            .main-menu {
                white-space: nowrap;
                display: flex;
                justify-content: center;
                position: static;
                .single_menu {
                    display: inline-block;
                    vertical-align: middle;
                    color: White;
                    position: static;
                    padding-#{$start}: 30px;
                    &:last-child{
                        padding-#{$start}: 0px;
                    }
                    .link {
                        font-size: 16px;
                        color: white;
                        display: block;
                        position: relative;
                        text-transform: uppercase;
                        font-weight: 500;
                        // padding: 15px 0;
                        transition: all 0.3s;
                        padding-bottom: 20px;
                        // &:hover{
                        //    color: #32c2de;
                        // }
                       
                    }
                    &.has-mega {
                        position: static;
                        &:hover {
                            // & > a {
                            //     &::before {
                            //         content: "";
                            //         background-image: url(../img/icons/arrow-down-menu-hover.png);
                            //         }
                            //     }
                            .mega-menu {
                                pointer-events: auto;
                                opacity: 1;
                                margin-top: 0;
                                padding-top: 0;
                            }
                        }
                        & > a {
                        position: relative;
                        padding-#{$start}: 20px;
                        &::before {
                            content: "";
                            background-image: url(../img/icons/menu_arrow.png);
                            position: absolute;
                            right: 0;
                            top: 2px;
                            font-weight: 400;
                            background-size: 10px;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 10px;
                        }
                        }
                        .mega-menu{
                            position: absolute;
                            pointer-events: none;
                            opacity: 0;
                            width: 100%;
                            right: 0;
                            left: 0;
                            top: 100%;
                            margin-top: -10px;
                            background: white;
                            box-shadow: 0px 5px 10px 0px #af975133;
                            display: flex;
                            box-shadow: 0 2px 4px 0 #00000030;
                            padding: 0;
                            flex-wrap: nowrap;
                            z-index: 9999999;
                            transition: all .4s ease;
                            .box{
                                display: flex;
                                justify-content: space-between;
                                padding: 60px 0;
                                width: 100%;
                                max-width: 800px;
                                .list_subcategory{
                                    width: calc(100% - 400px);
                                    display: flex;
                                    ul{
                                        .col{
                                            padding-#{$start}: 50px;
                                            &:last-child{
                                                padding-#{$start}: 0;
                                            }
                                            .title{
                                                display: block;
                                                color: #121212;
                                                font-size: 16px;
                                                font-weight: normal;
                                                padding-bottom: 25px;
                                                transition: all 0.3s;
                                                &:hover{
                                                    color: #32c2de;
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                }
                                .img_category{
                                    width: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.sticky{
        transform: translateY(-80px);
        transition: .80s;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        &.fixed{
            transform: translateY(0);
            .section_header_col_two {
                padding: 22px 0 0;
            }
        }
        .header_link{
            display: block;
            text-align: center;
            width: 124px;
            font-size: 14px;
            border: 2px solid white;
            color: white;
            margin: -10px 5px 10px;
            transition: all 0.3s;
            cursor: pointer;
            a{
                line-height: 34px;
                text-transform: uppercase;
            }
            &.hotel{
               
                background: transparent;
                color: white;
                &:hover{
                    background: white;
                    // border: 2px solid #32c2de;
                    color: #32c2de;
                }
            }
        }
    }
}


.section_header_mobile{
    display: none;
    @media screen and (max-width:999px) {
        display: block;
        background: #32c2de;
    }
    .section_header_col_one{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 15px 15px;

        .menu_button_mobile{
            width: 30px;
            .menu_mobile_icon{
                i{
                    color: white;
                }
                &.open{
                    &.hide{
                        display: none;
                    }
                }
                &.close{
                    display: none;
                    &.show{
                        display: block;
                    }
                }
            }
        } 
        .section_logo{
            width: calc(100% - 30px);
            text-align: center;
            img{
                max-width: 150px;
            }
        }
        .cart{
            display: none !important;
            padding-#{$start}: 25px;
            cursor: pointer;
            &.hide{
                display: none;
            }
            a{
                display: block;
                .section_icon_cart{
                    position: relative;
                    #cart_total_count{
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        border: 1px solid #33c2de;
                        background: white;
                        color: #33c2de;
                        position: absolute;
                        right: -14px;
                        top: -4px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        padding: 4px 0px;
                    }
                    img{
                        width: 30px;
                        &.white{
                            display: block;
                        }
                        &.cart_hover{
                            display: none;
                        }
                    }
                    
                }
            
            }
        }
             
    }
    .section_header_col_two{
        .section_button{
            margin: 0 -5px;
            border-bottom: 2px solid #33c2de36;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .menu{
                display: flex;
                justify-content: end;
                margin: 0 -5px;
                .header_link{
                    display: block;
                    text-align: center;
                    width: 50%;
                    padding: 12px 0;
                    border: 2px solid #32c2de;
                    color: #32c2de;
                    margin: 0 5px;
                    transition: all 0.3s;
                    &.hotel{
                        background: #32c2de;
                        color: white;
                        &:hover{
                            background: #2caac3;
                            border: 2px solid #2caac3;
                        }
                    }
                    &.home{
                        &:hover{
                            background: #32c2de;
                            color: white;
                        }
                    }
                }
            }
           
        }
        .mobile-nav {
            position: fixed;
            top: 55px;
            bottom: 0;
            #{$start}: 0;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            background: white;
            z-index: 99999999;  
            padding: 0px 0 20px;
            @include transform(translate(-100%, 0));
            @include transition(opacity, 0.2s, ease);
            @include transition(all, 0.4s, ease);
            body.ltr & {
              @include transform(translate(100%, 0));
              #{$end}: auto;
              right: 0;
            }
            &.active {
              opacity: 1;
              pointer-events: auto;
              @include transform(translate(0, 0));
              body.ltr & {
                @include transform(translate(0, 0));
              }
            }
            .mobile-menu {
              overflow: auto;
              height: 100%;
              padding: 20px;
              .main-navigation {
                  .menu-main-nav-container{
                    padding-bottom: 20px;
                    ul.menu {
                        margin: 0;
                        display: block;
                          li.menu-item {
                            padding-bottom: 22px;
                            &:last-child{
                                padding-bottom: 0;
                            }
                            a{
                                display: block;
                                color: black;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 28px;
                            }
                            &.menu-item-has-children {
                                > a {
                                    position: relative;
                                    &::before {
                                        content: "expand_more";
                                        @include MaterialFamily;
                                        font-size: 20px;
                                        color: inherit;
                                        position: absolute;
                                        right: 0;
                                        top: 50%;
                                        margin-top: -10px;
                                        line-height: 20px;
                                        font-weight: 400;
                                        @include transition (all,0.2s,ease);
                                        body.ltr & {
                                        right: auto;
                                        left: 0;
                                        }
                                    }
                                }
                                &.active{
                                    > a{
                                        &::before {
                                            content: "expand_less";
                                            @include transition (all,0.2s,ease);
                                        }
                                    }
                                }
                                .list_subcategory_mobile{
                                    display: none;
                                    padding-top: 10px;
                                    .col{
                                        color: black;
                                        font-size: 14px;
                                        font-weight: 500;
                                        padding-bottom: 15px;
                                    }
                                }
                            }
                        }
                      }
                  }
              }
            }
        }
    }
}