.camp_landing{
    .section_pdf{
        text-align: center;
        padding-bottom: 50px;
        p{
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
        }
        .link{
            position: relative;
            display: block;
            width: 230px;
            text-align: center;
            border: 2px solid #212121;
            color: #212121;
            font-size: 14px;
            font-weight: 500;
            padding: 10px 0;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            transition: all 0.3s;
            margin: 8px auto 0;
            &::after{
                content: '';
                background-image: url('../img/icons/pdf.png');
                width: 15px;
                height: 15px;
                background-size: 15px;
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: bottom;
                margin: 0 5px;
            }
            &:hover{
                background: #212121;
                color: white;
            }
        }
    }
    .section_info{
        display: flex;
        padding: 80px 0;
        @media screen and (max-width:999px) {
            flex-direction: column-reverse;
            padding: 40px 0;
        }
        .img{
            width: 700px;
            display: flex;
            padding-left: 40px;
            @media screen and (max-width:999px) {
                width: 100%;
                padding-left: 0;
            }
            img{
                width: 100%;
                // @media screen and (max-width:779px) {
                //    max-height: 350px;
                // }
            }
            .full_img{
                width: calc(100% - 300px);
                img{
                    height: 100%;
                    height: 750px;
                    @media screen and (max-width:779px) {
                        max-height: 350px;
                     }
                }
            }
            .half_img{
                padding: 0 2px;
                width: 300px;
                display: flex;
                flex-direction: column;
                img{
                    // height: 100%;
                    padding-bottom: 2px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
        }
        .text{
            width: calc(100% - 700px);
            @media screen and (max-width:999px) {
                width: 100%;
                padding-top: 20px;
            }
            @media screen and (max-width:779px) {
              padding-top: 12px;
            }
            h3{
                font-size: 36px;
                font-weight: bold;
                line-height: 47px;
                @media screen and (max-width:999px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media screen and (max-width:779px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            p{
                color: #737373;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                padding: 25px 0;
                @media screen and (max-width:779px) {
                    font-size: 14px;
                    line-height: 26px;
                    padding: 10px 0 12px;
                }
            }
        }
        &.row_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width:999px) {
                flex-direction: column;
            }
            .img{
                display: flex;
                padding-left: 40px;
                @media screen and (max-width:999px) {
                   padding-left: 0;
                }
                .full_img{
                    width: calc(100% - 300px);
                    img{
                        height: 100%;
                    }
                }
                .half_img{
                    padding: 0 2px;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    img{
                        // height: 100%;
                        padding-bottom: 2px;
                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                }
            }   
            .text{
                width: calc(100% - 800px);
                padding-#{$start}: 40px;
                padding-#{$end}: 0;
                @media screen and (max-width:999px) {
                    width: 100%;
                    padding-#{$start}: 0;
                 }
            }
        }
    }
    .section_activity_program{
        padding: 100px 0;
        @media screen and (max-width:767px) {
            padding: 40px 0;
        }
        .section_title{
            text-align: center;
            h3{
             font-size: 36px;
             font-weight: 300;
             line-height: 56px;
                @media screen and (max-width:999px) {
                    font-size: 30px;
                    line-height: 46px;
                }
                @media screen and (max-width:479px) {
                    font-size: 22px;
                    line-height: 36px;
                }
            }
            p{
             color: rgb(115, 115, 115);
             font-size: 18px;
             font-weight: 300;
             line-height: 30px;
             max-width: 650px;
             margin: 0 auto;
                @media screen and (max-width:999px) {
                    font-size: 16px;
                }
                @media screen and (max-width:479px) {
                    font-size: 14px;
                }
            }
        }
        .section_table{
            margin: 100px 20px 0;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            @media screen and (max-width:999px) {
                margin: 40px 20px 0;
            }
            @media screen and (max-width:767px) {
                white-space: nowrap;
            }
            &::-webkit-scrollbar-track {
                width: 1px;
                border-radius: 3px;
                background-color: #EFEFEF;
              }
  
              &::-webkit-scrollbar {
                width: 1px;
                border-radius: 3px;
              }
  
              &::-webkit-scrollbar-thumb {
                border-radius: 1px;
                background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, $Aqua), color-stop(0.72, $Aqua), color-stop(0.86, $Aqua));
              }
            tr{
                th{
                    padding-bottom: 70px;
                    color: #212121;
                    font-size: 24px;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: left;
                    @media screen and (max-width:999px) {
                      padding-bottom: 20px;
                      font-size: 18px;
                    }
                    @media screen and (max-width:479px) {
                        font-size: 13px;
                     }
                }
                td{
                    text-align: left;
                    padding: 15px;
                    color: #212121;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 25px;
                    max-width: 120px;
                    border-bottom: 1px solid #C0C0C0;
                    @media screen and (max-width:767px) {
                        max-width: 100%;
                    }
                    @media screen and (max-width:479px) {
                       font-size: 10px;
                       line-height: 15px;
                    }
                    a{
                        color: #FF5000;
                        text-decoration: underline;
                    }
                }
            }
        } 
    }
    .section_box{
        padding: 120px 0 100px;
        @media screen and (max-width:999px) {
            padding: 0px 0 50px;
        }
       .section_title{
           text-align: center;
           h3{
            font-size: 48px;
            font-weight: 300;
            line-height: 73px;
            @media screen and (max-width:999px) {
                font-size: 30px;
                line-height: 46px;
            }
           }
           p{
            color: rgb(115, 115, 115);
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            max-width: 440px;
            margin: 0 auto;
            @media screen and (max-width:999px) {
                font-size: 16px;
            }
            @media screen and (max-width:479px) {
                font-size: 14px;
            }
           }
       } 
       .all{
           display: flex;
           flex-wrap: wrap;
           padding-top: 60px;
           margin: 0 -15px;
            @media screen and (max-width:779px) {
               padding-top: 30px;
            }
           .single{
               width: calc(100% / 2);
               padding: 0 15px 140px;
                @media screen and (max-width:779px) {
                   width: 100%;
                   padding: 0 8px 30px;
                }
               a{
                display: block;
                cursor: revert;
                .box{
                    position: relative;
                    @include transition(all, 0.4s, ease); 
                   .img{
                        position: relative;
                        font-size: 0;
                        &::before{
                            content: '';
                            position: absolute;
                            background: #00000029;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            display: block;
                            z-index: 9;
                            @include transition(all, 0.4s, ease);
                        } 
                        img{
                            width: 100%;
                            height: 675px;
                            object-fit: cover;
                            @media screen and (max-width:779px) {
                               height: 400px;
                            }
                        }
                        span{
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            color: white;
                            font-size: 18px;
                            font-weight: bold;
                            text-transform: uppercase;
                            z-index: 9;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                            }
                        }
                    }
                    
                    .info{
                        .title{
                            font-size: 36px;
                            font-weight: bold;
                            line-height: 44px;
                            padding: 15px 0;
                            @media screen and (max-width:999px) {
                                font-size: 20px;
                                line-height: 36px;
                                padding: 15px 0 5px;
                            }
                        }
                        .desc{
                            color: #212121;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
           }
       }
    }
    .section_bk{
        background: #eaf8fb;
        padding: 80px 0 50px;
        @media screen and (max-width:999px) {
            padding: 40px 0;
        }
        .section_title{
            text-align: center;
            h3{
             font-size: 48px;
             font-weight: 300;
             line-height: 73px;
                @media screen and (max-width:999px) {
                    font-size: 30px;
                    line-height: 46px;
                }
                @media screen and (max-width:779px) {
                    font-size: 22px;
                    line-height: 36px;
                }
            }
            p{
                color: rgb(115, 115, 115);
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                max-width: 650px;
                margin: 0 auto;
                @media screen and (max-width:999px) {
                    font-size: 16px;
                }
                @media screen and (max-width:779px) {
                    font-size: 12px;
                    line-height: 22px;
                    padding: 5px 0 10px;
                }
            }
        } 
        .content{
            display: flex;
            margin: 100px -15px 0;
            @media screen and (max-width:999px) {
                margin: 20px 0 0;
             }
            @media screen and (max-width:779px) {
                flex-wrap: wrap;
             }
            .single{
                width: calc(100% / 3);
                padding: 0 15px;
                @media screen and (max-width:999px) {
                    width: calc(100% / 2);
                    padding: 0 5px 20px;
                }
                @media screen and (max-width:779px) {
                    width: 100%;
                    padding: 0 0 20px;
                 }
                .box{
                    background: #ffffff;
                    .img{
                        position: relative;
                        height: 280px;
                        @media screen and (max-width:999px) {
                           height: auto;
                        }
                        img{
                            top: -50px;
                            position: absolute;
                            @media screen and (max-width:999px) {
                                position: relative;
                                top: auto;
                                width: 100%;
                            }
                        }
                    }
                    .info{
                        padding: 0 30px 30px;
                        @media screen and (max-width:999px) {
                            padding: 15px;
                        }
                        h5{
                            font-size: 36px;
                            font-weight: bold;
                            text-transform: uppercase;
                            letter-spacing: 0.3px;
                            line-height: 44px;
                            @media screen and (max-width:999px) {
                                font-size: 20px;
                                line-height: 36px;
                            }
                        }
                        p{
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            padding: 15px 10px 0px 0;
                            max-height: 300px;
                            overflow-y: scroll;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 24px;
                            }
                            &::-webkit-scrollbar {
                                width: 2px;
                              }
                              
                            &::-webkit-scrollbar-thumb {
                              background-color: #32c2de;
                              border: 1px solid #32c2de;
                            }
                        }
                    }
                }
            }
        }
        .content_dates{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2px;
            max-width: 800px;
            margin: 60px auto 80px;
            @media screen and (max-width:779px) {
                margin: 0;
                padding-top: 20px;
             }
            .single{
                width: calc(100% / 3);
                padding: 0 2px 4px;
                @media screen and (max-width:779px) {
                    width: calc(100% / 2);
                    padding: 0 8px 15px;
                }
                @media screen and (max-width:479px) {
                   width: 100%;
                   padding: 0 0 15px;
                }
                .info{
                    background: #ffffff;
                    padding: 60px 45px;
                    text-align: center;
                    @media screen and (max-width:779px) {
                        padding: 40px 25px;
                    }
                    h5{                       
                        color: #737373;
                        font-size: 24px;
                        font-weight: 300;
                        letter-spacing: -0.3px;
                        @media screen and (max-width:779px) {
                            font-size: 20px;
                            line-height: 36px;
                        }
                    }
                    p{
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: -0.83px;
                        padding: 25px 0;
                        @media screen and (max-width:779px) {
                            font-size: 14px;
                            line-height: 24px;
                            padding: 15px 0;
                        }
                    }
                    .link{
                        display: block;
                        max-width: 160px;
                        margin: 0 auto;
                        border: 2px solid #212121;
                        color: #212121;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 10px 0;
                        text-transform: uppercase;
                        letter-spacing: 0.8px;
                        transition: all 0.3s;
                        @media screen and (max-width:779px) {
                            font-size: 14px;
                        }
                        &:hover{
                            background: #212121;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .section_Brought_By{
        padding: 100px 0;
        @media screen and (max-width:779px) {
            padding: 50px 0;
         }
        .col{
            padding-bottom: 100px;
            &:last-child{
                padding-bottom: 0;
            }
            @media screen and (max-width:779px) {
               padding-bottom: 30px;
             }
            p{
                font-size: 24px;
                font-weight: 300;
                text-align: center;
                padding-bottom: 50px;
                @media screen and (max-width:779px) {
                   font-size: 18px;
                   padding-bottom: 30px;
                 }
            }
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 -50px;
                @media screen and (max-width:779px) {
                    margin: 0;
                  }
                img{
                    padding: 0 50px;
                    @media screen and (max-width:779px) {
                        padding: 0 20px;
                        max-width: 140px;
                      }
                      @media screen and (max-width:400px) {
                        max-width: 100px;
                      }
                }
            }
        }
    }
}