.page_camp_list{
    .section_hero{
        .hero_image{
            position: relative;
            // max-width: 1680px;
            // margin: 0 auto;
            img{
                width: 100%;
            }
            .hero_text{
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 40%;
                max-width: 600px;
               
                text-align: center;
                p{
                    color: white;
                    font-size: 24px;
                    font-weight: 300;
                    letter-spacing: 5px;
                }
                h1{
                    color: white;
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 73px;
                    padding: 10px 0 30px;
                }
            }
        }
    }
    .grid{
        max-width: 1000px;
    }
    .section_sub_hero{
        text-align: center;
        padding: 200px 0;
        // max-width: 1000px;
        // margin: 0 auto;
        h3{
            font-size: 36px;
            font-weight: 900;
            letter-spacing: 1.05px;
        }
        p{
            font-size: 21px;
            font-weight: 300;
            line-height: 42px;
            padding-top: 15px;
        }
    }
    .sec_list{
        .single_list{
            display: flex;
            align-items: center;
            padding: 80px 0;
            &.row_reverse{
                flex-direction: row-reverse;
                .text{
                    padding-left: 40px;
                    padding-right: 0;
                }
            }
            .img{
                img{
                    width: 100%;
                }
            }
            .text{
                width: calc(100% - 550px);
                padding-right: 40px;
                h3{
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 47px;
                }
                p{
                    color: #737373;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    padding: 10px 0 20px;
                }
                .link{
                    display: block;
                    max-width: 160px;
                    // margin: 0 auto;
                    text-align: center;
                    border: 2px solid #212121;
                    color: #212121;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 10px 0;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                    transition: all 0.3s;
                    &:hover{
                        background: #212121;
                        color: white;
                    }
                }
            }
        }
    }
}