.fine_dining_list,.mividia_spa,.page_transportation,.page_form_list,.the_village{
    .grid{
        max-width: 1000px;
    }
}


.section_hero{
    .hero_image{
        position: relative;
        font-size: 0;
        // max-width: 1680px;
        // margin: 0 auto;
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(-180deg, hsla(0, 0%, 0%, 0) 30%, hsla(0, 0%, 0%, 0.31) 100%);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
            z-index: 9;
        }
        img{
            width: 100%;
            @media screen and (max-width:767px) {
                min-height: 350px;
                object-fit: cover;
            }        
        }
        .hero_text{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 45%;
            // max-width: 600px;
            text-align: center;
            z-index: 9;
            @media screen and (max-width:999px) {
                top: 40%;
            }
            p{
                color: white;
                font-size: 24px;
                font-weight: 200;
                letter-spacing: 5px;
                text-transform: uppercase;
                @media screen and (max-width:999px) {
                    font-size: 20px;
                }
                @media screen and (max-width:479px) {
                    font-size: 15px;
                    letter-spacing: 3px;
                }
            }
            h1{
                color: white;
                font-size: 60px;
                font-weight: bold;
                line-height: 73px;
                padding: 20px 0 30px;
                text-transform: uppercase;
                @media screen and (max-width:999px) {
                    font-size: 28px;
                    line-height: 36px;
                }
                @media screen and (max-width:479px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .link{
                display: block;
                max-width: 250px;
                margin: 0 auto;
                background:  #000000;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 15px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                @media screen and (max-width:998px) {
                    max-width: 180px;
                    font-size: 14px;
                    padding: 10px 0;
                }
  

            }
        }
    }
}
.section_sub_hero{
    text-align: center;
    padding: 200px 0;
    // max-width: 1000px;
    // margin: 0 auto;
    @media screen and (max-width:999px) {
        padding: 50px 0;
        .grid{
            padding: 0;
        }
     }
     img{
        @media screen and (max-width:999px) {
            max-width: 150px;
         }
     }
    h3{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.05px;
        @media screen and (max-width:999px) {
            font-size: 22px;
            line-height: 32px;
        }
    }
    p{
        font-size: 21px;
        font-weight: 300;
        line-height: 42px;
        padding-top: 15px;
        color: #212121b0;
        @media screen and (max-width:999px) {
            font-size: 14px;
            line-height: 26px;
        }
    }
}
.sec_list{
    .single_list{
        display: flex;
        align-items: center;
        padding: 80px 0;
        @media screen and (max-width:999px) {
           flex-direction: column-reverse;
           padding: 40px 0;
         }
        &.row_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width:999px) {
                flex-direction: column-reverse;
              }
            .text{
                padding-left: 40px;
                padding-right: 0;
                @media screen and (max-width:999px) {
                    padding-left: 0;
                }
            }
        }
        .img{
            @media screen and (max-width:999px) {
                width: 100%;
            }
            img{
                width: 100%;
                @media screen and (max-width:779px) {
                   max-height: 350px;
                }
            }
        }
        .text{
            width: calc(100% - 450px);
            padding-right: 40px;
            @media screen and (max-width:999px) {
                width: 100%;
                padding-right: 0;
                padding-top: 20px;
            }
            @media screen and (max-width:779px) {
              padding-top: 12px;
            }
            h3{
                font-size: 36px;
                font-weight: 600;
                line-height: 47px;
                @media screen and (max-width:999px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media screen and (max-width:779px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            p{
                color: #737373;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                padding: 10px 0 20px;
                @media screen and (max-width:779px) {
                    font-size: 14px;
                    line-height: 26px;
                    padding: 10px 0 12px;
                }
            }
            .items{
                padding-bottom: 40px;
                ul{
                    
                    li{
                        position: relative;
                        border-bottom: 1px solid #dedede;
                        padding: 15px 0;
                        transition: all 0.3s;
                        @media screen and (max-width:999px) {
                            padding: 10px 0;
                        }
                        &::before {
                            content: "chevron_right";
                            @include MaterialFamily;
                            font-size: 21px;
                            color: inherit;
                            position: absolute;
                            #{$start}: 0;
                            line-height: 40px;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 15px;
                             }
                        }
                        .link_item{
                            display: block;
                            font-size: 21px;
                            line-height: 40px;
                            font-weight: normal;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 34px;
                            }
                        }
                        &:hover{
                            &::before{
                                color: $Aqua;
                            }
                            a{
                                color: $Aqua;
                            }
                        }
                    }
                }
            }
            .links{
                display: flex;
                align-items: center;
                @media screen and (max-width:779px) {
                    justify-content: space-between;
                    flex-wrap: wrap;;
                }
                .link{
                    position: relative;
                    display: block;
                    width: 230px;
                    // margin: 0 auto;
                    text-align: center;
                    border: 2px solid #212121;
                    color: #212121;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 0;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                    transition: all 0.3s;
                    margin: 0 5px;
                   
                    @media screen and (max-width:779px) {
                        font-size: 12px;
                        width: 50%;
                    }
                    @media screen and (max-width:479px) {
                       width: 100%;
                    }
                    &:hover{
                        background: #212121;
                        color: white;
                        &.reservation{
                            &::before{
                                background-image: url('../img/icons/link_wid_white.png');
                            }
                        }
                        &.call{
                            width: 160px;
                            &::before{
                                background-image: url('../img/icons/telephone_white.png');
                            }
                        }
                    }
                    &.reservation{
                        &::before{
                            content: '';
                            background-image: url('../img/icons/link_wid.png');
                            width: 15px;
                            height: 15px;
                            background-size: 15px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            vertical-align: bottom;
                            margin: 0 5px;
                        }
                        @media screen and (max-width:479px) {
                          margin-bottom: 10px;
                        }
                    }
                    &.call{
                        width: 160px;
                        @media screen and (max-width:779px) {
                            width: 50%;
                        }
                        @media screen and (max-width:479px) {
                            width: 100%;
                        }
                        &::before{
                            content: '';
                            background-image: url('../img/icons/call_wid.png');
                            width: 15px;
                            height: 15px;
                            background-size: 15px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            vertical-align: bottom;
                            margin: 0 5px;
                        }
                    }
                }
            }
            .link{
                position: relative;
                display: block;
                width: 230px;
                // margin: 0 auto;
                text-align: center;
                border: 2px solid #212121;
                color: #212121;
                font-size: 18px;
                font-weight: 500;
                padding: 10px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                margin: 0 5px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                @media screen and (max-width:779px) {
                    font-size: 12px;
                    width: 50%;
                }
                @media screen and (max-width:400px) {
                    width: 100%;
                }
                &:hover{
                    background: #212121;
                    color: white;
                    &.reservation{
                        &::before{
                            background-image: url('../img/icons/link_wid_white.png');
                        }
                    }
                    &.call{
                        width: 160px;
                        &::before{
                            background-image: url('../img/icons/telephone_white.png');
                        }
                    }
                }
                &.reservation{
                    &::before{
                        content: '';
                        background-image: url('../img/icons/link_wid.png');
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: bottom;
                        margin: 0 5px;
                    }
                }
                &.call{
                    width: 160px;
                    @media screen and (max-width:779px) {
                        width: 50%;
                    }
                    @media screen and (max-width:400px) {
                        width: 100%;
                        }
                    &::before{
                        content: '';
                        background-image: url('../img/icons/call_wid.png');
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: bottom;
                        margin: 0 5px;
                    }
                }
            }
          
        }
    }
}
.banner_fine_dining{
    position: relative;
    // max-width: 1680px;
    margin: 150px auto 0;
    font-size: 0;
    @media screen and (max-width:999px) {
        margin: 0 auto;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000;
        opacity: 0.3;
        z-index: 1;
    }
    img{
        width: 100%;
    }
    .text{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
        display: table;
        h4{
            color: white;
            font-size: 60px;
            font-weight: bold;
            line-height: 73px;
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 10px 0 20px;
            @media screen and (max-width:999px) {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}
.page_retreat_list{
    .grid{
        max-width: 1100px;
    }
    .sec_list{
        .single_list{
            .text{
                .link{
                    width: 160px;
                }
            }
        }
    }
}

.sec_list{
    .single_list_gallary{
        display: flex;
        padding: 80px 0;
        @media screen and (max-width:999px) {
           flex-direction: column-reverse;
           padding: 25px 0;
         }
        &.row_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width:999px) {
                flex-direction: column-reverse;
              }
            .new_image_slider{
                .box{
                    left: -80px;
                    right: auto;
                    @media screen and (max-width:1100px) {
                        left: 0;
                    }
                }
            }
            .text{
                width: calc(100% - 450px);
                padding-left: 40px;
                padding-right: 0;
                @media screen and (max-width:999px) {
                    padding-left: 0;
                }
            }
        }
        .new_image_slider{
            width: 450px;
            @media screen and (max-width:999px) {
                width: 100%;
            }
            .slick-list{
                overflow: unset;
            }
            .img-con-variant{
                position: relative;
                // opacity: 0;
                // &.slick-active{
                //     opacity: 1;
                // }
                img{
                    width: 100%;
                    // @media screen and (max-width:779px) {
                    //    max-height: 350px;
                    // }
                }
                .box{
                    position: absolute;
                    right: -80px;
                    bottom: 50px;
                    background: #ffffffdb;
                    width: 265px;
                    padding: 20px 30px;
                    @media screen and (max-width:1100px) {
                       right: 0;
                    }
                    @media screen and (max-width:999px) {
                        bottom: 0px;
                        top: auto;
                        left: 0;
                        right: 0;
                        max-width: 500px;
                        width: 100%;
                        margin: 0 auto;
                    }
                    @media screen and (max-width:479px) {
                        max-width: 280px;
                    }
                    .sm_icon{
                        max-width: 70px;
                        padding-bottom: 25px;
                    }
                    .row{
                        padding-bottom: 10px;
                        &.last{
                            padding-bottom: 0;
                        }
                        h4{
                            color: #000000;
                            // font-family: "Bosch Sans Regular";
                            font-size: 14px;
                            line-height: 20px;
                            padding-bottom: 4px;
                            &.phone{
                                &::before{
                                    content: "call";
                                    @include MaterialFamily;
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 2px;
                                }
                            }
                            &.working-hours{
                                &::before{
                                    content: "schedule";
                                    @include MaterialFamily;
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 2px;
                                }
                            }
                            
                        }
                        span{
                            color: #000000;
                            // font-family: "Bosch Sans Medium";
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                   
                }
            }
        }
        .text{
            width: calc(100% - 450px);
            padding-right: 40px;
            z-index: 99;
            @media screen and (max-width:999px) {
                width: 100% !important;
            }
            @media screen and (max-width:779px) {
              padding-top: 12px;
              padding-right: 0;
            }
            h3{
                font-size: 36px;
                font-weight: bold;
                line-height: 47px;
                @media screen and (max-width:999px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media screen and (max-width:779px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            p{
                color: #737373;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                @media screen and (max-width:779px) {
                    font-size: 14px;
                    line-height: 26px;
                    padding: 10px 0 12px;
                }
            }
            .items{
                padding-top: 40px;
                @media screen and (max-width:999px) {
                    padding-top: 10px ;
                }
                .title_slider{
                    max-height: 500px;
                    overflow: scroll;
                    padding-right: 30px;
                    @media screen and (max-width:779px) {
                       max-height: 300px;
                      }
                    &::-webkit-scrollbar {
                        width: 2px;
                    }
                      
                    &::-webkit-scrollbar-thumb {
                      background-color: #32c2de;
                      border: 1px solid #32c2de;
                    }
                    .slick-list{
                        height: auto !important;
                    }
                    li{
                        position: relative;
                        border-bottom: 1px solid #dedede;
                        padding: 15px 0;
                        transition: all 0.3s;
                        cursor: pointer;
                        display: block;
                        width: 100% !important;
                        @media screen and (max-width:999px) {
                            padding: 10px 0;
                        }
                        &::before {
                            content: "chevron_right";
                            @include MaterialFamily;
                            font-size: 21px;
                            color: inherit;
                            position: absolute;
                            #{$start}: 0;
                            line-height: 40px;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 15px;
                             }
                        }
                        .link_item{
                            display: block;
                            font-size: 21px;
                            line-height: 40px;
                            font-weight: normal;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 34px;
                            }
                        }
                        &:hover{
                            border-bottom: 1px solid $Aqua;
                            &::before{
                                color: $Aqua;
                            }
                            .link_item{
                                color: $Aqua;
                            }
                        }
                        &.active{
                            border-bottom: 1px solid $Aqua;
                            &::before{
                                color: $Aqua;
                            }
                            .link_item{
                                color: $Aqua;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .single_list_new{
        display: flex;
        align-items: center;
        padding: 80px 0;
        @media screen and (max-width:999px) {
           flex-direction: column-reverse;
           padding: 40px 0;
         }
        &.row_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width:999px) {
                flex-direction: column-reverse;
              }
            .img-con-variant{
                .box{
                    left: -80px;
                    right: auto;
                    @media screen and (max-width:1100px) {
                        left: 0;
                    }
                }
            }
            .text{
                width: calc(100% - 450px);
                padding-left: 40px;
                padding-right: 0;
                @media screen and (max-width:999px) {
                    padding-left: 0;
                }
            }
        }
        .img{
            width: 450px;
            @media screen and (max-width:999px) {
                width: 100%;
            }
            &.img-con-variant{
                position: relative;
                // opacity: 0;
                // &.slick-active{
                //     opacity: 1;
                // }
                img{
                    width: 100%;
                    // @media screen and (max-width:779px) {
                    //    max-height: 350px;
                    // }
                }
                .box{
                    position: absolute;
                    right: -80px;
                    bottom: 50px;
                    background: #ffffffdb;
                    width: 265px;
                    padding: 20px 30px;
                    @media screen and (max-width:1100px) {
                       right: 0;
                    }
                    @media screen and (max-width:999px) {
                        bottom: 0px;
                        top: auto;
                        left: 0;
                        right: 0;
                        max-width: 500px;
                        width: 100%;
                        margin: 0 auto;
                    }
                    @media screen and (max-width:479px) {
                        max-width: 280px;
                    }
                    .sm_icon{
                        max-width: 70px;
                        padding-bottom: 25px;
                    }
                    .row{
                        padding-bottom: 10px;
                        &.last{
                            padding-bottom: 0;
                        }
                        h4{
                            color: #000000;
                            // font-family: "Bosch Sans Regular";
                            font-size: 14px;
                            line-height: 20px;
                            padding-bottom: 4px;
                            &.phone{
                                &::before{
                                    content: "call";
                                    @include MaterialFamily;
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 2px;
                                }
                            }
                            &.working-hours{
                                &::before{
                                    content: "schedule";
                                    @include MaterialFamily;
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 2px;
                                }
                            }
                            
                        }
                        span{
                            color: #000000;
                            // font-family: "Bosch Sans Medium";
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                   
                }
            }
        }
        .text{
            width: calc(100% - 450px);
            padding-right: 40px;
            z-index: 99;
            @media screen and (max-width:999px) {
                width: 100% !important;
            }
            @media screen and (max-width:779px) {
              padding-top: 12px;
            }
            h3{
                font-size: 36px;
                font-weight: 700;
                line-height: 47px;
                @media screen and (max-width:999px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media screen and (max-width:779px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            p{
                color: black;
                font-size: 36px;
                font-weight: 600;
                line-height: 52px;
                text-transform: uppercase;
                @media screen and (max-width:779px) {
                    font-size: 14px;
                    line-height: 26px;
                    padding: 10px 0 12px;
                }
            }
            span{
                font-size: 18px;
                color: #737373;
                line-height: 28px;
                padding-top: 10px;
                display: block;
                @media screen and (max-width:779px) {
                   font-size: 14px;
                   line-height: 26px;
                   padding-top: 5px;
                }
            }
            .items{
                padding-top: 40px;
                @media screen and (max-width:999px) {
                    padding-top: 10px ;
                }
                .title{
                    li{
                        position: relative;
                        border-bottom: 1px solid #dedede;
                        padding: 15px 0;
                        transition: all 0.3s;
                        cursor: pointer;
                        display: block;
                        width: 100% !important;
                        @media screen and (max-width:999px) {
                            padding: 10px 0;
                        }
                        &::before {
                            content: "chevron_right";
                            @include MaterialFamily;
                            font-size: 21px;
                            color: inherit;
                            position: absolute;
                            #{$start}: 0;
                            line-height: 40px;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 15px;
                             }
                        }
                        .link_item{
                            display: block;
                            font-size: 21px;
                            line-height: 40px;
                            font-weight: normal;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 34px;
                            }
                        }
                        &:hover{
                            border-bottom: 1px solid $Aqua;
                            &::before{
                                color: $Aqua;
                            }
                            .link_item{
                                color: $Aqua;
                            }
                        }
                        // &.active{
                        //     border-bottom: 1px solid $Aqua;
                        //     &::before{
                        //         color: $Aqua;
                        //     }
                        //     .link_item{
                        //         color: $Aqua;
                        //     }
                        // }
                    }
                }
                &.not_link{
                    .title{
                        li{
                            cursor: unset;
                            &::before{
                                display: none;
                            }
                            &:hover{
                                border-bottom: 1px solid #dedede;
                                .link_item{
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
            .link{
                position: relative;
                display: block;
                width: 230px;
                // margin: 0 auto;
                text-align: center;
                border: 2px solid #212121;
                color: #212121;
                font-size: 18px;
                font-weight: 500;
                padding: 10px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                margin: 40px 5px 0;
                font-family: 'Barlow Semi Condensed', sans-serif;
                @media screen and (max-width:779px) {
                    font-size: 12px;
                    width: 50%;
                }
                @media screen and (max-width:400px) {
                    width: 100%;
                }
                &:hover{
                    background: #212121;
                    color: white;
                    &.reservation{
                        &::before{
                            background-image: url('../img/icons/link_wid_white.png');
                        }
                    }
                    &.call{
                        width: 160px;
                        &::before{
                            background-image: url('../img/icons/telephone_white.png');
                        }
                    }
                }
                &.reservation{
                    &::before{
                        content: '';
                        background-image: url('../img/icons/link_wid.png');
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: bottom;
                        margin: 0 5px;
                    }
                }
                &.call{
                    width: 160px;
                    @media screen and (max-width:779px) {
                        width: 50%;
                    }
                    @media screen and (max-width:400px) {
                        width: 100%;
                        }
                    &::before{
                        content: '';
                        background-image: url('../img/icons/call_wid.png');
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: bottom;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}