// .single_book_beach{
//     .content_gallary{
//         display: flex;
//         padding: 60px 0 200px;
//         .sec_gallary{
//             width: 650px;
//             .gallary{
//               display: flex;
//               .product-slider {
//                 // position: relative;
//                 display: block;
//                 width: 100%;
//                 height: 625px;
//                 text-align: left;
//                 opacity: 0;
//                 @include transition(0.3s);
               
//                 &.active {
//                   opacity: 1;
//                 }
//                 & > .item:not(:first-child) {
//                   display: none;
//                 }
//                 .slick-list {
//                   width: 100%;
//                   height: 100%;
//                   overflow: inherit;
//                   .slick-track {
//                     width: 100% !important;
//                     height: 100%;
//                     .slick-slide {
//                       width: 100% !important;
//                       height: 100%;
//                       position: relative !important;
//                       position: absolute !important;
//                       left: 0 !important;
//                       right: 0 !important;
//                       background-position: center center;
          
//                       &.not-clickable-js{
//                         display: block;
//                       }
          
//                       img {
//                         object-fit: cover;
//                         width: 100%;
//                         height: 100%;
//                         border-radius: 4px;
//                       }
//                     }
//                   }
//                 }
//                 .slide-item {
//                   @media (max-width: 992px) {
//                     display: inline-block;
//                     opacity: 1 !important;
//                     flex: 0 0 400px;
//                     margin-#{$end}: 20px;
//                     body.ltr & {
//                       margin-#{$end}: 0;
//                       margin-right: 20px;
//                     }
//                     .icon {
//                       display: none;
//                     }
//                   }
//                   @media (max-width: 600px) {
//                     flex: 0 0 80%;
//                     &:last-child {
//                       margin-left: 0;
//                       body.ltr & {
//                         margin-right: 0;
//                       }
//                     }
//                   }
//                 }
//                 .next-arrow {
//                     right: 0;
//                     position: relative;
//                     position: absolute;
//                     top: 50%;
//                     cursor: pointer;
//                     @include transition(all, 0.2s, ease);
//                     span {
//                         display: block;
//                         &::before{
//                           content: "chevron_right";
//                           font-family: "Material Icons";
//                           display: flex;
//                           align-items: center;
//                           position: absolute;
//                           top: 0;
//                           bottom: 0;
//                           right: 3px;
//                           font-size: 32px;
//                           font-weight: 100;
//                             color: white;
//                         }
//                     }
//                     &:hover{
//                     //   background-color: $BaseColor;
//                       span{
//                         &::before{
//                           color: #fff;
//                         }
//                       }
//                       @include transition(all, 0.2s, ease);
//                     }
//                   }
//                   .prev-arrow {
//                     left: 0;
//                     position: relative;
//                     position: absolute;
//                     top: 50%;
//                     cursor: pointer;
//                     z-index: 9;
//                     @include transition(all, 0.2s, ease);
//                     span {
//                         display: block;
//                         &::before{
//                             content: "chevron_left";
//                             font-family: "Material Icons";
//                             display: flex;
//                             align-items: center;
//                             position: absolute;
//                             top: 0;
//                             bottom: 0;
//                             left: 3px;
//                             font-size: 32px;
//                             font-weight: 100;
//                             color: white;
//                         }
//                     }
//                     &:hover{
//                     //   background-color: $BaseColor;
//                       span{
//                         &::before{
//                           color: #fff;
//                         }
//                       }
//                       @include transition(all, 0.2s, ease);
//                     }
//                   }
               
//               }
//             }
//             .slider-nav {
//             display: inline-block;
//             overflow: hidden;
//             width: 80px;
//             margin-right: 5px;
//             margin-top: -3px;
//             // opacity: 0;
//             @media (max-width: 992px) {
//                 display: none;
//             }
//             @media (max-width: 600px) {
//                 margin-bottom: 0;
//             }
//             .slick-slide {
//                 width: 100% !important;
//                 height: 77px !important;
//                 margin-bottom: 3px;
//                 border: 2px solid transparent;
//                 border-radius: 6px;
//                 cursor: pointer;
//                 @include transition(0.3s);
//                 @media (max-width: 992px) {
//                 width: 64px !important;
//                 margin-right: 7px;
//                 }
//                 @media (max-width: 600px) {
//                 width: 47px !important;
//                 height: 47px !important;
//                 margin-right: 10px;
//                 }
//                 img {
//                 display: block;
//                 width: 100% !important;
//                 height: 100%;
//                 // border-radius: 2px;
//                 }
//                 &:hover {
//                 border: 2px solid #37000f;
//                 }
//                 &.active{
//                 border: 2px solid #37000f;
//                 }
//             }
//             .slick-list {
//                 padding: 0 !important;
//                 .slick-track {
//                 width: 100% !important;
//                 }
//             }
//             &.active {
//                 opacity: 1;
//             }
        
//             .slick-arrow{
//                 position: relative;
//                 font-size: 0;
//                 border: none;
//                 width: 100%;
//                 height: 22px;
//                 background-color: rgba(89, 44, 123, 0.53);
//                 color: #fff;
//                 font-size: 0;
//                 margin: 0 auto;
//                 position: absolute;
//                 left: 0;
//                 right: 0;
//                 z-index: 10;
//                 transition: .3s all ease-in-out;
//                 &::before{
//                 content: 'keyboard_arrow_down';
//                 @include MaterialFamily;
//                 position: absolute;
//                 font-size: 20px;
//                 color: #fff;
//                 left: 0;
//                 right: 0;
//                 top: 0;
//                 bottom: 0;
//                 }
//                 &.slick-next{
//                 bottom: 0;
//                 }
//                 &.slick-prev{
//                 top: 0;
//                 &::before{
//                     content: "keyboard_arrow_up";
//                 }
//                 }
//                 &:hover{
//                 background-color: rgba(89, 44, 123, 1);
//                 }
//                 &.slick-disabled{
//                 opacity: 0;
//                 pointer-events: none;
//                 }
//             }
//             }
//         }
//         .sec_info{
//             width: calc(100% - 650px);
//             padding-left: 20px;
//             .breadcramb {
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 li {
//                   display: inline-block;
//                   position: relative;
//                   margin-right: 10px;
//                   line-height: 20px;
              
//                   &::before {
//                     content: "chevron_right";
//                     position: absolute;
//                     font-family: "Material Icons";
//                     font-size: 14px;
//                     right: -8px;
//                     top: 0;
//                     color: #c0c0c0;
//                     bottom: 0;
//                     display: inline-flex;
//                     align-items: center;
//                   }
              
//                   a {
//                     color: #32c2de;
//                     font-size: 14px;
//                     font-weight: 500;
//                     padding-right: 10px;
//                     vertical-align: top;
//                     &:hover {
//                       text-decoration: underline;
//                     }
//                   }
//                   &:last-child {
//                       a{
//                           color: #c0c0c0;
//                           pointer-events: none;
//                       }
//                     &::before {
//                       display: none;
//                     }
//                   }
//                 }
//             }
//             .top{
//                 padding-bottom: 20px;
//                 border-bottom: 1px solid #8080807d;
//                 .single_title_item{
//                     font-size: 40px;
//                     font-weight: bold;
//                     padding: 40px 0 28px;
//                 }
//                 .price{
//                     font-size: 24px;
//                     font-weight: bold;
//                     letter-spacing: 0.2px;
//                     line-height: 27.72px;
//                 }
//                 .description{
//                     color: rgb(93, 91, 91);
//                     font-size: 14px;
//                     font-weight: 300;
//                     line-height: 24px;
//                     padding-top: 20px;
//                 }
//             }
//             .choose{
//                 padding-top: 15px;
//                .col{
//                    padding-bottom: 25px;
//                    max-width: 300px;
//                    &.time{
//                     max-width: 600px;
//                    }
//                    &.n_people{
//                     width: 100px;
//                     }
//                    p{
//                     font-size: 14px;
//                     font-weight: normal;
//                     padding-bottom: 5px;
//                    }
//                    .select_arrow{
//                     position: relative;
//                     width: 100%;
//                     select{
//                         // background: black;                      
//                         // border-radius: 5px;
//                         border: 1px solid black;
//                         width: 100%;
//                         font-size: 16px;
//                         font-weight: 500;
//                         padding: 18px 10px;
//                         cursor: pointer;
                        
//                     }
//                     &::before {
//                         content: "arrow_drop_down";
//                         @include MaterialFamily;
//                         font-size: 20px;
//                         position: absolute;
//                         color: black;
//                         top: 18px;
//                         right: 10px;
//                         cursor: pointer;
//                         pointer-events: none; 
//                     }
                    
//                     }
//                     input{
//                         border: 1px solid black;
//                         width: 100%;
//                         font-size: 16px;
//                         font-weight: 500;
//                         padding: 18px 10px;
//                         cursor: pointer;                            
//                     }
//                     .all_time{
//                         display: flex;
//                         flex-wrap: wrap;
//                         align-items: center;
//                         margin: 0 -5px;
//                         .single{
//                             width: calc(100% / 5);
//                             padding: 0 5px 5px;
//                             &.not_available{
//                                 .box{
//                                     background: #d3d3d3;
//                                     h4{
//                                         color: #777777;
//                                         &::before{
//                                             color: #777777;
//                                         }
//                                     }
//                                 }
//                             }
//                             &.select{
//                                 .box{
//                                     background: #32c2de;
//                                     border: 2px solid #32c2de;
//                                     h4{
//                                         color: white;
//                                         &::before{
//                                             content: 'check_box';
//                                             color: white;
//                                         }
//                                     }
//                                 }
//                             }
//                             .box{
//                                 border: 2px solid #d3d3d3;
//                                 padding: 15px 0;
//                                 text-align: center;
//                                 cursor: pointer;
//                                 h4{
//                                     font-size: 14px;
//                                     position: relative;
//                                     &::before {
//                                         content: "check_box_outline_blank";
//                                         @include MaterialFamily;
//                                         font-size: 18px;
//                                         display: inline-block;
//                                         vertical-align: middle;
//                                         margin-top: -3px;
//                                         margin-right: 5px;
//                                         cursor: pointer;
//                                         pointer-events: none; 
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                     .option{
//                         // border-top: 1px solid #ffffff3d;
//                         // padding-top: 20px;
//                         // padding-bottom: 20px;
//                         // line-height: 8px;
//                         // max-width: 480px;
//                         padding-right: 18px;
//                         display: inline-block;
//                         input[type="radio"]{
//                           appearance: none;
//                           padding: 0;
//                           border: 0;
//                         }
//                         label{
//                             cursor: pointer;
//                             position: relative;
//                             padding: 0 0 0 30px;
//                             line-height: 30px;
//                             font-size: 12px;
//                             font-weight: normal;
//                             letter-spacing: 0.21px;
//                           &::before{
//                             content: "";
//                             display: inline-block;
//                             width: 16px;
//                             height: 16px;
//                             border: 1px solid black;
//                             border-radius: 50%;
//                             position: absolute;
//                             right: auto;
//                             left: 0;
//                             top: 4px;
//                             opacity: 1;
//                             transition: all 0.3s;
//                           }
//                           &::after{
//                             content: "";
//                             display: inline-block;
//                             width: 8px;
//                             height: 8px;
//                             border: 1px solid black;
//                             background: black;
//                             border-radius: 50%;
//                             position: absolute;
//                             right: auto;
//                             left: 4px;
//                             top: 8px;
//                             opacity: 0;
//                             transition: all 0.3s;
//                           }
//                         }
//                         input[type="radio"]:checked + label::after{
//                           opacity: 1;
//                         }
//                     }
//                } 
//             }
//             .link{
//                 display: block;
//                 max-width: 330px;
//                 background: #007fa8;
//                 color: white;
//                 font-size: 18px;
//                 font-weight: 500;
//                 padding: 20px 0;
//                 text-transform: uppercase;
//                 letter-spacing: 0.8px;
//                 transition: all 0.3s;
//                 text-align: center;
//                 &:hover{
//                     background: #016b8d;
//                 }
//             }
//             .note{
//                 color: #5d5b5b;
//                 font-size: 14px;
//                 font-weight: 300;
//                 line-height: 24px;
//                 padding-top: 25px;
//                 span{
//                     color: $Aqua;
//                     font-weight: bold;
//                 }
//             }
//         }
//     }
//     .section_bk{
//         background: #eaf8fb;
//         padding: 150px 0 ;
//         &.white{
//             background: white;
//             padding: 200px 0;
//         }
//         .grid{
//             max-width: 1300px;
//         }
//         .section_title{
//             text-align: center;
//             h3{
//                 font-size: 36px;
//                 font-weight: 900;
//                 text-transform: uppercase;
//                 letter-spacing: 1.05px;
//                 line-height: 42px;
//             }
//             p{
//                 font-size: 21px;
//                 font-weight: 300;
//                 line-height: 32px;
//                 padding-top: 5px;
//             }
//         } 
//         .content{
//             display: flex;
//             margin: 50px -15px 0;
//             .single{
//                 width: calc(100% / 3);
//                 padding: 0 15px;
//                 .img{
//                     position: relative;
//                     img{
//                         width: 400px;
//                         height: 300px;
//                         object-fit: cover;
//                     }
//                     span{
//                         position: absolute;
//                         top: 20px;
//                         left: 20px;
//                         color: white;
//                         font-size: 12px;
//                         font-weight: bold;
//                         text-transform: uppercase;
//                         z-index: 9;
//                     }
//                 }
//                 .info{
//                     padding: 15px 0 0;
//                     h5{
//                         font-size: 23px;
//                         font-weight: bold;
//                         text-transform: uppercase;
//                         letter-spacing: 0.3px;
//                         line-height: 34px;
//                     }
//                     .desc{
//                         font-size: 14px;
//                         font-weight: normal;
//                         line-height: 26px;
//                         padding: 5px 0 15px;
//                     }
//                     .price{
//                         font-size: 16px;
//                         font-weight: bold;
//                         letter-spacing: 0.13px;
//                         line-height: 27.72px;
//                     }
//                 }
//             }
//         }
//     }
// }