.page_single_hotel{
    .section_title_hero{
        text-align: center;
        padding: 80px 0 60px ;
        @media screen and (max-width: 999px) {
            padding: 30px 0;
        }
        h1{
            font-size: 60px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 73px;
            @media screen and (max-width: 999px) {
               font-size: 28px;
               line-height: 32px;
            }
        }
        span{ 
            display: block;
            font-size: 24px;
            font-weight: 200;
            text-transform: uppercase;
            letter-spacing: 4px;
            padding: 15px 0 30px;
            @media screen and (max-width: 999px) {
                font-size: 16px;
                letter-spacing: 1px;
                padding: 12px 0 15px;
            }
        }
        .link{
            display: block;
            max-width: 250px;
            margin: 0 auto;
            border: 2px solid #212121;
            color: #212121;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 0;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            transition: all 0.3s;
            font-family: 'Barlow Semi Condensed', sans-serif;
            &:hover{
                background: #212121;
                color: white;
            }
            @media screen and (max-width: 999px) {
                font-size: 14px;
                max-width: 180px;
            }
        }
    }
    .hero_single_img{
        width: 100%;
        .slick-dots{
            position: absolute;
            bottom: 20px;
            #{$end}: 50px;
            top: auto;
            display: flex;
            justify-content: center;
            z-index: 9;
            // direction: ltr;
            @media (max-width:1025px) {
              bottom: 18px;
            }
            @media (max-width:779px) {
                #{$end}: 20px;
            }
            li{
              button {
                // border: 1px solid #ffffff;
                width: 25px;
                height: 25px;
                background: #ffffffc9;
                font-size: 0;
                margin: 0 3px;
                @media (max-width:779px) {
                    width: 15px;
                    height: 15px;
                }
              }
              &.slick-active{
                button {
                  background: #32c2de;
                }
              }
            }
        }
        // img{
        //     height: 800px;
        //     @media screen and (max-width: 999px) {
        //         height: 350px;
        //      }
        // }
    }
   
    .section_hotel_info{
        display: flex;
        align-items: center;
        padding: 80px 0;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 999px) {
            flex-direction: column;
            padding: 40px 0;
        }
        .img{
            width: 60%;
            @media screen and (max-width: 999px) {
               width: 100%;
               img{
                   width: 100%;
               }
            }
        }
        .text{
            width: calc(100% - 50%);
            padding-#{$end}: 40px;
            @media screen and (max-width: 999px) {
                width: 100%;
                padding-#{$end}: 0;
                padding-top: 15px;
             }
            h3{
                font-size: 36px;
                font-weight: bold;
                line-height: 47px;
                @media screen and (max-width: 999px) {
                    font-size: 22px;
                    line-height: 32px;
                 }
            }
            p{
                color: #212121b0;
                font-size: 18px;
                font-weight: 300;
                line-height: 33px;
                padding: 25px 0;
                @media screen and (max-width: 999px) {
                    font-size: 14px;
                    line-height: 26px;
                    padding: 15px 0;
                  }
            }
            .link{
                display: block;
                max-width: 300px;
                background: #007fa8;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 20px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                text-align: center;
                font-family: 'Barlow Semi Condensed', sans-serif;
                &:hover{
                    background: #016b8d;
                }
            }
        }
        &.row_reverse{
            flex-direction: row-reverse;
            display: none;
            @media screen and (max-width: 999px) {
                flex-direction: column;
            }
            .img{
                width: 900px;
                // display: flex;
                padding-left: 40px;
                @media screen and (max-width: 999px) {
                    width: 100%;
                    padding-left: 0;
                    .full_img{
                        width: 100%;
                    }
                  }
                .full_img{
                    width: calc(100% - 300px);                   
                    img{
                        height: 100%;
                    }
                }
                // .half_img{
                //     padding: 0 2px;
                //     width: 300px;
                //     display: flex;
                //     flex-direction: column;
                //     img{
                //         // height: 100%;
                //         padding-bottom: 2px;
                //         &:last-child{
                //             padding-bottom: 0;
                //         }
                //     }
                // }
            }   
            .text{
                width: calc(100% - 800px);
                padding-#{$start}: 40px;
                padding-#{$end}: 0;
                @media screen and (max-width: 999px) {
                    width: 100%;
                    padding-#{$start}: 0;
                  }
            }
        }
    }
    .room_gallery{
        padding-bottom: 100px;
        display: none;
        .section_title{
            text-align: center;
           p{
            color: #dedede;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            @media screen and (max-width: 999px) {
                font-size: 14px;
             }
           }
           h4{
            font-size: 48px;
            font-weight: 300;
            line-height: 73px;
            @media screen and (max-width: 999px) {
                font-size: 28px;
                line-height: 38px;
            }
           }
        }
        .room_content{
            max-width: 1200px;
            margin: 0 auto;
            .nav_menu{   
                display: flex;
                padding: 40px 0px;
                @media (max-width:999px) {
                    overflow: scroll;
                    white-space: nowrap;
                    margin: 0 -20px;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                .nav_single_title{
                    width: calc(100% / 3);
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1.71px;
                    border-bottom: 1px solid #dedede;
                    display: block;
                    padding-bottom: 20px;
                    @media (max-width:999px) {
                        width: 100%;
                        font-size: 14px;
                        padding: 0 20px 20px;
                    }
                    &.active{
                        color: $Aqua;
                        border-bottom: 1px solid $Aqua;
                        &::before{
                          opacity: 1;
                        }
                    }
                    &::before{
                        content: 'keyboard_arrow_down';
                        @include MaterialFamily;
                        font-size: 18px;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        position: absolute;
                        bottom: -30px;
                    }
                }
            }
            .section_room{
                .single_room{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .sec_room_gallery{
                        .arrow{
                            right: 0;
                            position: relative;
                            position: absolute;
                            background: #32c2de;
                            width: 60px;
                            height: 50px;
                            bottom: 50px;
                            cursor: pointer;
                            z-index: 9;
                            @include transition(all, 0.2s, ease);
                            @media screen and (max-width:999px) {
                              width: 40px;
                              height: 40px;
                              bottom: 0;
                            }
                            &.slick-disabled{
                                pointer-events: none;
                            }
                            &.next{
                                right: -60px;
                                @media screen and (max-width:999px) {
                                  right: 0;
                                }
                                span {
                                    display: block;
                                        &::before{
                                            content: "chevron_right";
                                            @include MaterialFamily;
                                            color: white;
                                            position: absolute;
                                            font-size: 24px;
                                            top: 12px;
                                            left: 15px;
                                            @media screen and (max-width:999px) {
                                             top: 10px;
                                             left: 10px;
                                            }
                                        }
                                }
                            }
                            &.prev{
                              @media screen and (max-width:999px) {
                                right: 40px;
                              }
                                span {
                                    display: block;
                                        &::before{
                                            content: "chevron_left";
                                            @include MaterialFamily;
                                            color: white;
                                            position: absolute;
                                            font-size: 24px;
                                            top: 12px;
                                            left: 15px;
                                            @media screen and (max-width:999px) {
                                              top: 10px;
                                              left: 10px;
                                             }
                                        }
                                }
                            }
                            &:hover{
                                background: #2db8d3;
                            }
                        }
                    }
                    h5{
                        font-size: 24px;
                        font-weight: bold;
                        padding: 15px 0; 
                        @media (max-width:999px) {
                           font-size: 18px;
                           line-height: 26px;
                        }
                    }
                    p{
                        color: rgb(33, 33, 33);
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 42px;
                        @media (max-width:999px) {
                           font-size: 14px;
                           line-height: 32px;
                        }
                    }
                    .room_info{
                        max-width: 800px;
                    }
                   .facilities{
                       max-width: 700px;
                       ul{
                           display: flex;
                           flex-wrap: wrap;
                           align-items: center;
                           padding-top: 40px;
                           li{
                                color: #007fa8;
                                font-size: 13px;
                                font-weight: normal;
                                text-transform: uppercase;
                                padding-right: 30px;
                                padding-bottom: 25px;
                                display: flex;
                                align-items: center;
                                img{
                                    margin-right: 10px;
                                }
                           }
                       }
                   }
                }
            }
        }
    }
 
    .section_phases{
        padding: 100px 0 50px;
        @media (max-width:779px) {
            padding: 50px 0;
        }
        .grid{
            max-width: 1400px;
            padding: 0;
        }
       .section_title{
           text-align: center;
           h3{
            font-size: 48px;
            font-weight: 200;
            line-height: 73px;
            @media screen and (max-width: 999px) {
                font-size: 28px;
                line-height: 38px;
            }
           }
           p{
            color: #212121b0;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            max-width: 440px;
            margin: 5px auto;
            @media screen and (max-width: 999px) {
                font-size: 14px;
                max-width: 100%;
             }
           }
       } 
       .all_phases{
           display: flex;
           flex-wrap: wrap;
           padding-top: 60px;
           @media (max-width:779px) {
           padding-top: 30px;
           }
           .single_phases{
               width: calc(100% / 4);
               @media (max-width:779px) {
                width: calc(100% / 2);
               }
               a{
                display: block;
                padding: 0 5px 35px;
                cursor: pointer;
                @media (max-width:779px) {
                    padding: 0 5px 20px;
                }
                .box{
                    position: relative;
                    font-size: 0;
                    @include transition(all, 0.4s, ease); 
                    // &::before{
                    //     content: '';
                    //     position: absolute;
                    //     background: #00000029;
                    //     top: 0;
                    //     bottom: 0;
                    //     right: 0;
                    //     left: 0;
                    //     display: block;
                    //     z-index: 9;
                    //     @include transition(all, 0.4s, ease);
                    // } 
                   
                    img{
                        width: 100%;
                        // height: 675px;
                        object-fit: cover;
                        // @media (max-width:779px) {
                        //     height: 500px;
                        // }
                    }
                    .info{
                        // position: absolute;
                        // bottom: 30px;
                        // left: 20px;
                        // right: 20px;
                        // z-index: 99;
                        // max-width: 280px;
                        // margin: 0 auto;
                        // word-wrap: break-word;
                        padding-top: 10px;
                        .title_phases{
                            font-size: 24px;
                            line-height: 50px;
                            font-weight: 400;
                            color: black;
                            @media screen and (max-width:999px) {
                            font-size: 20px;
                            line-height: 32px;
                            } 
                            @media screen and (max-width:479px) {
                                font-size: 18px;
                                line-height: 24px;
                            }
                        }
                        .position_phases{
                            font-size: 14px;
                            font-weight: 600;
                            color: #919292;
                            font-family: 'Barlow Semi Condensed', sans-serif;
                            position: relative;
                            @media screen and (max-width:999px) {
                                font-size: 12px;
                            }
                            &::after{
                                content: "chevron_right";
                                @include MaterialFamily;
                                color: #919292;
                                vertical-align: bottom;
                                margin-left: 2px;
                                font-size: 14px;
                                @media (max-width:779px) {
                                    vertical-align: sub;
                                }
                            }
                        }
                    }
                    &:hover{
                        // .title_phases{
                        //     text-decoration: underline;
                        // }
                        .position_phases{
                            color: #32C2DE;
                            &::after{
                                color: #32C2DE;
                            }
                        }
                    }
                }
            }
           }
       }
    }
}