.page_single_phases{
    padding-top: 80px;
    @media screen and (max-width:999px) {
        padding: 40px 15px 0;
    }
  

    .grid_phases{
        max-width: 1400px;
        margin: 0 auto;
    }
        .phases_content{
            // max-width: 1200px;
            // margin: 0 auto;
            .nav_menu{   
                display: flex;
                justify-content: center;
                @media (max-width:999px) {
                    justify-content: flex-start;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    white-space: nowrap;
                    margin: 0 -20px;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                .nav_single_phases{
                    width: calc(100% / 6);
                    position: relative;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1.71px;
                    border-bottom: 2px solid #dedede;
                    display: block;
                    padding-bottom: 15px;
                    color: #737373ad;
                    
                    &.active{
                        color: $Aqua;
                        border-bottom: 2px solid $Aqua;
                        &::before{
                          opacity: 1;
                        }
                    }
                    &::before{
                        content: 'keyboard_arrow_down';
                        @include MaterialFamily;
                        font-size: 18px;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        position: absolute;
                        bottom: -30px;
                    }
                    @media (max-width:999px) {
                        width: 100%;
                        font-size: 14px;
                        padding: 0 20px 20px;
                    }
                }
            }
            .section_phases{
                .single_phases{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .section_title_hero{
                        text-align: center;
                        padding: 50px 0;
                        @media screen and (max-width: 999px) {
                            padding: 30px 0;
                         }
                        h1{
                            display: none;
                            font-size: 60px;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 73px;
                            @media screen and (max-width: 999px) {
                                font-size: 28px;
                                line-height: 32px;
                             }
                        }
                        span{ 
                            display: none;
                            font-size: 24px;
                            font-weight: 300;
                            text-transform: uppercase;
                            letter-spacing: 5px;
                            padding: 20px 0 30px;
                            @media screen and (max-width: 999px) {
                                font-size: 16px;
                                letter-spacing: 1px;
                                padding: 12px 0 15px;
                            }
                        }
                        .link{
                            display: block;
                            max-width: 300px;
                            margin: 25px auto 0;
                            border: 2px solid #212121;
                            color: #212121;
                            font-size: 18px;
                            font-weight: 500;
                            padding: 12px 0;
                            text-transform: uppercase;
                            letter-spacing: 0.8px;
                            transition: all 0.3s;
                            font-family: 'Barlow Semi Condensed', sans-serif;
                            &:hover{
                                background: #212121;
                                color: white;
                            }
                            @media screen and (max-width: 999px) {
                                font-size: 14px;
                                max-width: 180px;
                            }
                        }
                    }
                    .hero_single_img{
                        width: 100%;
                        .slick-dots{
                            position: absolute;
                            bottom: 20px;
                            #{$end}: 50px;
                            top: auto;
                            display: flex;
                            justify-content: center;
                            z-index: 9;
                            // direction: ltr;
                            @media (max-width:1025px) {
                              bottom: 18px;
                            }
                            @media (max-width:779px) {
                                #{$end}: 20px;
                            }
                            li{
                              button {
                                // border: 1px solid #ffffff;
                                width: 25px;
                                height: 25px;
                                background: #ffffffc9;
                                font-size: 0;
                                margin: 0 3px;
                                @media (max-width:779px) {
                                    width: 15px;
                                    height: 15px;
                                }
                              }
                              &.slick-active{
                                button {
                                  background: #32c2de;
                                }
                              }
                            }
                        }
                        img{
                            height: 700px;
                            object-fit: cover;
                            @media screen and (max-width:999px) {
                                height: 350px;
                            }
                        }
                    }
                    .section_pdf{
                        padding: 100px 0 50px;
                        @media screen and (max-width:999px) {
                            padding: 60px 0 20px;
                         }
                        .pdf{
                            font-size: 14px;
                            font-weight: normal;
                            text-align: center;
                            padding-bottom: 12px;
                            @media screen and (max-width:999px) {
                               font-size: 12px;
                               padding-bottom: 10px;
                            }
                        }
                        .link{
                            position: relative;
                            display: block;
                            max-width: 300px;
                            margin: 0 auto;
                            border: 2px solid #212121;
                            color: #212121;
                            font-size: 18px;
                            font-weight: 500;
                            // padding: 12px 0;
                            line-height: 40px;
                            text-transform: uppercase;
                            letter-spacing: 0.8px;
                            transition: all 0.3s;
                            text-align: center;
                            font-family: 'Barlow Semi Condensed', sans-serif;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                max-width: 180px;
                            }
                            &:hover{
                                background: #212121;
                                color: white;
                                &::after{
                                    background-image: url('../img/icons/pdf_white.png');
                                }
                            }
                            &::after{
                                content: '';
                                background-image: url('../img/icons/pdf.png');
                                width: 18px;
                                height: 30px;
                                background-size: 18px;
                                background-repeat: no-repeat;
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 8px;
                                @media screen and (max-width:999px) {
                                    background-size: 13px;
                                    vertical-align: bottom;
                                }
                            }
                        }  
                    }
                    .sec_room_gallery{
                        .arrow{
                            right: 0;
                            position: relative;
                            position: absolute;
                            background: #32c2de;
                            width: 60px;
                            height: 50px;
                            bottom: 50px;
                            cursor: pointer;
                            z-index: 9;
                            @include transition(all, 0.2s, ease);
                            &.slick-disabled{
                                pointer-events: none;
                            }
                            &.next{
                                right: -60px;
                                span {
                                    display: block;
                                        &::before{
                                            content: "chevron_right";
                                            @include MaterialFamily;
                                            color: white;
                                            position: absolute;
                                            font-size: 24px;
                                            top: 12px;
                                            left: 15px;
                                        }
                                }
                            }
                            &.prev{
                                span {
                                    display: block;
                                        &::before{
                                            content: "chevron_left";
                                            @include MaterialFamily;
                                            color: white;
                                            position: absolute;
                                            font-size: 24px;
                                            top: 12px;
                                            left: 15px;
                                        }
                                }
                            }
                            &:hover{
                                background: #2db8d3;
                            }
                        }
                    }
                    .room_gallery{
                        padding: 80px 0;
                        display: none;
                        .section_title{
                            text-align: center;
                           p{
                            color: #dedede;
                            font-size: 16px;
                            font-weight: bold;
                            text-transform: uppercase;
                            @media screen and (max-width: 999px) {
                                font-size: 14px;
                             }
                           }
                           h4{
                            font-size: 48px;
                            font-weight: 300;
                            line-height: 73px;
                             @media screen and (max-width: 999px) {
                                font-size: 28px;
                                line-height: 38px;
                            }
                           }
                        }
                        .room_content{
                            max-width: 1200px;
                            margin: 0 auto;
                            .nav_menu{   
                                display: flex;
                                justify-content: center;
                                padding: 40px 0px;
                                @media (max-width:999px) {
                                    overflow: scroll;
                                    white-space: nowrap;
                                    margin: 0 -20px;
                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                }
                                .nav_single_title{
                                    width: calc(100% / 3);
                                    position: relative;
                                    font-size: 18px;
                                    font-weight: 500;
                                    text-align: center;
                                    text-transform: uppercase;
                                    letter-spacing: 1.71px;
                                    border-bottom: 1px solid #dedede;
                                    display: block;
                                    padding-bottom: 20px;
                                    &.active{
                                        color: $Aqua;
                                        border-bottom: 1px solid $Aqua;
                                        &::before{
                                          opacity: 1;
                                        }
                                    }
                                    &::before{
                                        content: 'keyboard_arrow_down';
                                        @include MaterialFamily;
                                        font-size: 18px;
                                        opacity: 0;
                                        left: 0;
                                        right: 0;
                                        position: absolute;
                                        bottom: -30px;
                                    }
                                    @media (max-width:999px) {
                                        width: 100%;
                                        font-size: 14px;
                                        padding: 0 20px 20px;
                                    }
                                }
                            }
                            .section_room{
                                .single_room{
                                    display: none;
                                    &.active{
                                        display: block;
                                    }
                                    .room{
                                        padding-bottom: 50px;
                                        &:first-child{
                                            padding-top: 100px;
                                            @media (max-width:999px) {
                                                padding-top: 20px;
                                            }
                                        }
                                        &:last-child{
                                            padding-bottom: 0;
                                        }
                                        h5{
                                            font-size: 24px;
                                            font-weight: bold;
                                            padding: 15px 0; 
                                            @media (max-width:999px) {
                                                font-size: 18px;
                                                line-height: 26px;
                                             }
                                        }
                                        .sec_room_gallery{
                                            .arrow{
                                                right: 0;
                                                position: relative;
                                                position: absolute;
                                                background: #32c2de;
                                                width: 60px;
                                                height: 50px;
                                                bottom: 50px;
                                                cursor: pointer;
                                                z-index: 9;
                                                @include transition(all, 0.2s, ease);
                                                @media screen and (max-width:999px) {
                                                  width: 40px;
                                                  height: 40px;
                                                  bottom: 0;
                                                }
                                                &.slick-disabled{
                                                    pointer-events: none;
                                                }
                                                &.next{
                                                    right: -60px;
                                                    @media screen and (max-width:999px) {
                                                      right: 0;
                                                    }
                                                    span {
                                                        display: block;
                                                            &::before{
                                                                content: "chevron_right";
                                                                @include MaterialFamily;
                                                                color: white;
                                                                position: absolute;
                                                                font-size: 24px;
                                                                top: 12px;
                                                                left: 15px;
                                                                @media screen and (max-width:999px) {
                                                                 top: 10px;
                                                                 left: 10px;
                                                                }
                                                            }
                                                    }
                                                }
                                                &.prev{
                                                  @media screen and (max-width:999px) {
                                                    right: 40px;
                                                  }
                                                    span {
                                                        display: block;
                                                            &::before{
                                                                content: "chevron_left";
                                                                @include MaterialFamily;
                                                                color: white;
                                                                position: absolute;
                                                                font-size: 24px;
                                                                top: 12px;
                                                                left: 15px;
                                                                @media screen and (max-width:999px) {
                                                                  top: 10px;
                                                                  left: 10px;
                                                                 }
                                                            }
                                                    }
                                                }
                                                &:hover{
                                                    background: #2db8d3;
                                                }
                                            }
                                        }
                                       .img{
                                           padding-top: 60px;
                                       }
                                    }
                                    .pdf{
                                        font-size: 14px;
                                        font-weight: normal;
                                        text-align: center;
                                        padding-bottom: 12px;
                                    }
                                    .link{
                                    display: block;
                                    max-width: 250px;
                                    margin: 0 auto;
                                    border: 2px solid #212121;
                                    color: #212121;
                                    font-size: 18px;
                                    font-weight: 500;
                                    padding: 10px 0;
                                    text-transform: uppercase;
                                    letter-spacing: 0.8px;
                                    transition: all 0.3s;
                                    text-align: center;
                                    &:hover{
                                        background: #212121;
                                        color: white;
                                    }
                                    }
                                 
                                }
                            }
                        }
                    }
                    .section_hero_about{
                        padding: 60px 0 100px;
                        @media screen and (max-width:999px) {
                           padding: 50px 0;
                        }
                        .hero_image{
                            position: relative;
                            // max-width: 1680px;
                            // margin: 0 auto;
                            font-size: 0;
                            &::before{
                                content: '';
                                position: absolute;
                                background: linear-gradient(90deg, hsla(190, 72%, 53%, 0.388) 0%, hsla(190, 72%, 53%, 0) 100%);
                                top: 0;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                display: block;
                                z-index: 9;
                            }
                            img{
                                width: 100%;
                                max-height: 700px;
                                @media screen and (max-width:999px) {
                                    height: 350px;
                                }
                            }
                            .hero_text{
                                position: absolute;
                                left: 8%;
                                top: 45%;
                                max-width: 700px;
                                z-index: 9;
                                // @media screen and (max-width:999px) {
                                //     top: 28%;
                                // }
                                p{
                                    color: white;
                                    font-size: 36px;
                                    font-weight: 200;
                                    padding-bottom: 10px;

                                    @media screen and (max-width:999px) {
                                        font-size: 20px;
                                        padding-bottom: 10px;
                                    }
                                }
                                h1{
                                    color: white;
                                    font-size: 60px;
                                    font-weight: bold;
                                    line-height: 73px;
                                    @media screen and (max-width:999px) {
                                        font-size: 28px;
                                        line-height: 36px;
                                        max-width: 400px;
                                    }
                                }
                                .link{
                                    display: block;
                                    max-width: 300px;
                                    margin: 20px 0px 0;
                                    border: 2px solid #ffffff;
                                    color: #ffffff;
                                    font-size: 18px;
                                    font-weight: 500;
                                    padding: 12px 0;
                                    text-transform: uppercase;
                                    letter-spacing: 0.8px;
                                    transition: all 0.3s;
                                    font-family: 'Barlow Semi Condensed', sans-serif;
                                    text-align: center;
                                    &:hover{
                                        background: white;
                                        color: black;
                                    }
                                    @media screen and (max-width: 999px) {
                                        font-size: 14px;
                                        max-width: 180px;
                                    }
                                }
                            }
                        }
                    }
                    .section_info{
                        display: flex;
                        align-items: center;
                        padding: 80px 0;
                        max-width: 1200px;
                        margin: 0 auto;
                        @media screen and (max-width:999px) {
                            flex-direction: column-reverse;
                            padding: 0px 0 50px;
                        }
                        .img{
                            width: 500px;
                            @media screen and (max-width:999px) {
                                width: 100%;
                            }
                            img{
                                width: 100%;
                            }
                        }
                        .text{
                            width: calc(100% - 500px);
                            padding-#{$start}: 40px;
                            padding-#{$end}: 0;
                            @media screen and (max-width:999px) {
                                width: 100%;
                                padding-#{$start}: 0;
                                padding-top: 15px;
                            }
                            h3{
                                font-size: 48px;
                                font-weight: 200;
                                line-height: 65px;
                                @media screen and (max-width:999px) {
                                    font-size: 24px;
                                    line-height: 32px;
                                    font-weight: 400;
                                }
                                @media screen and (max-width:779px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                            p{
                                color: #737373;
                                font-size: 21px;
                                font-weight: 300;
                                line-height: 38px;
                                padding: 40px 0 0;
                                @media screen and (max-width:779px) {
                                    font-size: 14px;
                                    line-height: 26px;
                                    padding: 10px 0 0;
                                }
                            }
                        }
                        &.row_reverse{
                            flex-direction: row-reverse;
                            @media screen and (max-width:999px) {
                                flex-direction: column-reverse;
                            }
                            .text{
                                padding-#{$start}: 0;
                                padding-#{$end}: 40px;
                                @media screen and (max-width:999px) {
                                    padding-#{$end}: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
}
