.single_page{
    .section_item{
        .content_gallary{
            display: flex;
            padding: 60px 0 200px;
            @media screen and (max-width:999px) {
              display: block;
              padding: 30px 0 50px;
            }
            .sec_gallary{
                width: 650px;
                @media screen and (max-width:999px) {
                  width: 100%;
                }
                .gallary{
                  display: flex;
                  @media screen and (max-width:999px) {
                    flex-direction: column-reverse;
                  }
                  .product-slider {
                    // position: relative;
                    display: block;
                    width: 100%;
                    height: 625px;
                    text-align: left;
                    // opacity: 0;
                    @include transition(0.3s);
                    @media screen and (max-width:999px) {
                        object-fit: cover;
                    }
                    @media screen and (max-width:767px) {
                        height: 400px;
                    }
                    &.active {
                      opacity: 1;
                    }
                    & > .item:not(:first-child) {
                      display: none;
                    }
                    .slick-list {
                      width: 100%;
                      height: 100%;
                      overflow: inherit;
                      .slick-track {
                        width: 100% !important;
                        height: 100%;
                        .slick-slide {
                          width: 100% !important;
                          height: 100%;
                          position: relative !important;
                          position: absolute !important;
                          left: 0 !important;
                          right: 0 !important;
                          background-position: center center;
                          @media screen and (max-width:999px) {
                            object-fit: cover;
                          } 
                          &.not-clickable-js{
                            display: block;
                          }
              
                          img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-radius: 4px;
                          }
                        }
                      }
                    }
                    .slide-item {
                      @media (max-width: 992px) {
                        display: inline-block;
                        opacity: 1 !important;
                        flex: 0 0 400px;
                        margin-#{$end}: 20px;
                        body.ltr & {
                          margin-#{$end}: 0;
                          margin-right: 20px;
                        }
                        .icon {
                          display: none;
                        }
                      }
                      @media (max-width: 600px) {
                        flex: 0 0 80%;
                        &:last-child {
                          margin-left: 0;
                          body.ltr & {
                            margin-right: 0;
                          }
                        }
                      }
                    }
                    .next-arrow {
                        right: 0;
                        position: relative;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                        @include transition(all, 0.2s, ease);
                        span {
                            display: block;
                            &::before{
                              content: "chevron_right";
                              font-family: "Material Icons";
                              display: flex;
                              align-items: center;
                              position: absolute;
                              top: 0;
                              bottom: 0;
                              right: 3px;
                              font-size: 32px;
                              font-weight: 100;
                                color: white;
                            }
                        }
                        &:hover{
                        //   background-color: $BaseColor;
                          span{
                            &::before{
                              color: #fff;
                            }
                          }
                          @include transition(all, 0.2s, ease);
                        }
                      }
                      .prev-arrow {
                        left: 0;
                        position: relative;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                        z-index: 9;
                        @include transition(all, 0.2s, ease);
                        span {
                            display: block;
                            &::before{
                                content: "chevron_left";
                                font-family: "Material Icons";
                                display: flex;
                                align-items: center;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 3px;
                                font-size: 32px;
                                font-weight: 100;
                                color: white;
                            }
                        }
                        &:hover{
                        //   background-color: $BaseColor;
                          span{
                            &::before{
                              color: #fff;
                            }
                          }
                          @include transition(all, 0.2s, ease);
                        }
                      }
                   
                  }
                }
                .slider-nav {
                    display: inline-block;
                    overflow: hidden;
                    width: 80px;
                    margin-right: 5px;
                    margin-top: -3px;
                    @media screen and (max-width:999px) {
                      max-height: 80px;
                      margin-top: 5px;
                      width: 100%;
                    }
                    // opacity: 0;
                    .slick-slide {
                        width: 100% !important;
                        height: 85px !important;
                        margin-bottom: 3px;
                        cursor: pointer;
                        opacity: .5;
                        @include transition(0.3s);
                        @media (max-width: 999px) {
                        width: 75px !important;
                        height: 75px !important;
                        margin-right: 10px;
                        }
                        img {
                        display: block;
                        width: 100% !important;
                        height: 100%;
                        // border-radius: 2px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                        &.active{
                            opacity: 1;
                        }
                    }
                    .slick-list {
                        padding: 0 !important;
                        .slick-track {
                          width: 100% !important;
                          @media screen and (max-width:999px) {
                            display: flex;
                            overflow: scroll;
                          }
                        }
                    }
                    &.active {
                        opacity: 1;
                    }
                    .slick-arrow{
                        position: relative;
                        font-size: 0;
                        border: none;
                        width: 100%;
                        height: 22px;
                        background-color: #33c2de;
                        opacity: .5;
                        color: #fff;
                        font-size: 0;
                        margin: 0 auto;
                        position: absolute;
                        left: 0;
                        right: 0;
                        z-index: 10;
                        transition: .3s all ease-in-out;
                        @media screen and (max-width:999px) {
                          width: 5%;
                          height: 100%;
                          margin: 0;
                        }
                          &::before{
                              content: 'keyboard_arrow_down';
                              @include MaterialFamily;
                              position: absolute;
                              font-size: 20px;
                              color: #fff;
                              left: 0;
                              right: 0;
                              top: 0;
                              bottom: 0;
                              @media screen and (max-width:999px) {
                                content: 'keyboard_arrow_left';
                                margin: auto;
                                max-height: 22px;
                              }
                          }
                          &.slick-next{
                            bottom: 0;
                          }
                          &.slick-prev{
                            top: 0;
                            @media screen and (max-width:999px) {
                             left: auto;
                            }
                            &::before{
                                content: "keyboard_arrow_up";
                                @media screen and (max-width:999px) {
                                  content: 'keyboard_arrow_right';
                                }
                            }
                          }
                          &:hover{
                            opacity: 1;
                          }
                          &.slick-disabled{
                            opacity: 0;
                            pointer-events: none;
                          }
                    }
                }
            }
            .sec_info{
                width: calc(100% - 650px);
                padding-left: 20px;
                @media screen and (max-width:999px) {
                  width: 100%;
                  padding-left: 0;
                  padding-top: 20px;
                }
                .breadcramb {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    li {
                      display: inline-block;
                      position: relative;
                      margin-right: 15px;
                      line-height: 20px;
                      font-size: 14px;
                      color: #737373;
                      @media screen and (max-width:999px) {
                        font-size: 12px;
                      }
                      &::before {
                        content: "chevron_right";
                        position: absolute;
                        font-family: "Material Icons";
                        font-size: 14px;
                        right: -8px;
                        top: 0;
                        color: #c0c0c0;
                        bottom: 0;
                        display: inline-flex;
                        align-items: center;
                      }
                  
                      a {
                        color: #32c2de;
                        font-weight: 500;
                        padding-right: 10px;
                        vertical-align: top;
                        text-decoration: underline;
                        letter-spacing: 1px;
                        &:hover {
                          text-decoration: underline;
                        }
                      }
                      &:last-child {
                          a{
                              color: #c0c0c0;
                              pointer-events: none;
                          }
                        &::before {
                          display: none;
                        }
                      }
                    }
                }
                .top{
                    padding-bottom: 20px;
                    border-bottom: 1px solid #8080807d;
                    @media screen and (max-width:999px) {
                      padding-bottom: 0;
                    }
                    .single_title_item{
                        font-size: 40px;
                        font-weight: bold;
                        padding: 30px 0 28px;
                        @media screen and (max-width:999px) {
                          font-size: 24px;
                          line-height: 28px;
                          padding: 20px 0 0;
                        }
                    }
                    
                    .description{
                        color: rgb(93, 91, 91);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 24px;
                        padding-top: 20px;
                    }
                }
                .middle{
                    padding-top: 25px;
                    border-bottom: 1px solid #8080807d;
                    .section_info{
                       padding-bottom: 25px;
                       max-width: 300px;
                        &.time_slots{
                            max-width: 600px;
                        }
                        label{
                            font-size: 14px;
                            font-weight: normal;
                            padding-bottom: 5px;
                        }
                        .select_arrow{
                            position: relative;
                            width: 100%;
                            select{
                                // background: black;                      
                                // border-radius: 5px;
                                border: 1px solid #D3D3D3;
                                width: 100%;
                                font-size: 16px;
                                font-weight: 500;
                                padding: 18px 10px;
                                cursor: pointer;
                                @media screen and (max-width:999px) {
                                 padding: 10px;
                                 font-size: 12px;
                                }  
                            }
                            &::before {
                                content: "arrow_drop_down";
                                @include MaterialFamily;
                                font-size: 20px;
                                position: absolute;
                                color: black;
                                top: 18px;
                                right: 10px;
                                cursor: pointer;
                                pointer-events: none; 
                                @media screen and (max-width:999px) {
                                  top: 10px;
                                }    
                            }
                        }
                        .time-slots-content{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin: 0 -5px;
                            .single{
                                width: calc(100% / 5);
                                padding: 0 5px 5px;
                                @media screen and (max-width:767px) {
                                  width: calc(100% / 3);
                                }
                                &.not_available{
                                    .box{
                                        background: #d3d3d3;
                                        pointer-events: none;
                                        label{
                                            color: #777777;
                                            &::before{
                                                color: #777777;
                                            }
                                        }
                                    }
                                }
                                &.select{
                                    .box{
                                        background: #32c2de;
                                        border: 2px solid #32c2de;
                                        label{
                                            color: white;
                                            &::before{
                                                content: 'check_box';
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                .box{
                                    border: 2px solid #d3d3d3;
                                    padding: 15px 0;
                                    text-align: center;
                                    cursor: pointer;
                                    position: relative;
                                    input{
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        top: 0;
                                        bottom: 0;
                                        cursor: pointer;
                                    }
                                    label{
                                        font-size: 14px;
                                        position: relative;
                                        padding-bottom: 0;
                                        cursor: pointer;
                                        &::before {
                                            content: "check_box_outline_blank";
                                            @include MaterialFamily;
                                            font-size: 18px;
                                            display: inline-block;
                                            vertical-align: middle;
                                            margin-top: -3px;
                                            margin-right: 5px;
                                            cursor: pointer;
                                            pointer-events: none; 
                                        }
                                    }
                                    // &:hover{
                                    //     background: #32c2de;
                                    //     border: 2px solid #32c2de;
                                    //     label{
                                    //         color: white;
                                    //         &::before{
                                    //             content: 'check_box';
                                    //             color: white;
                                    //         }
                                    //     }
                                    // }
                                }
                            }
                        }
                        .single_radio{
                            // border-top: 1px solid #ffffff3d;
                            // padding-top: 20px;
                            // padding-bottom: 20px;
                            // line-height: 8px;
                            // max-width: 480px;
                            padding-right: 18px;
                            display: inline-block;
                            input[type="radio"]{
                              appearance: none;
                              padding: 0;
                              border: 0;
                            }
                            label{
                                cursor: pointer;
                                position: relative;
                                padding: 0 0 0 30px;
                                line-height: 30px;
                                font-size: 12px;
                                font-weight: normal;
                                letter-spacing: 0.21px;
                                @media screen and (max-width:999px) {
                                  padding: 0 0 0 25px;
                                 }    
                              &::before{
                                content: "";
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                border: 1px solid black;
                                border-radius: 50%;
                                position: absolute;
                                right: auto;
                                left: 0;
                                top: 4px;
                                opacity: 1;
                                transition: all 0.3s;
                              }
                              &::after{
                                content: "";
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border: 1px solid black;
                                background: black;
                                border-radius: 50%;
                                position: absolute;
                                right: auto;
                                left: 4px;
                                top: 8px;
                                opacity: 0;
                                transition: all 0.3s;
                              }
                            }
                            input[type="radio"]:checked + label::after{
                              opacity: 1;
                            }
                        }
                    } 
                    .col{
                        padding-bottom: 25px;
                        max-width: 300px;
                        label,p{
                            font-size: 14px;
                            font-weight: normal;
                            padding-bottom: 5px;
                            @media screen and (max-width:999px) {
                             font-size: 12px;
                            }
                        }
                        input{
                            border: 1px solid #D3D3D3;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 500;
                            padding: 15px 15px;
                            cursor: pointer;  
                            @media screen and (max-width:999px) {
                              padding: 10px 15px;
                              font-size: 12px;
                             }   
                             &.disable{
                               border: 1px solid red;
                             }                    
                        }
                        &.date{
                            input{
                              position: relative;
                              cursor: auto;
                              &::before{
                                content: 'date_range';
                                @include MaterialFamily;
                                color: black;
                                font-size: 18px;
                                position: absolute;
                                #{$start}: 10px;
                                top: 15px;
                                @media screen and (max-width:999px) {
                                  font-size: 14px;
                                  top: 10px;
                                }
                              }
                            }
                            input[type="date"]::-webkit-inner-spin-button,
                            input[type="date"]::-webkit-calendar-picker-indicator {
                                // display: none;
                                // -webkit-appearance: none;
                                opacity: 0;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                right: 0;
              
                            }
                        }
                    }
                }
                .min_middle{
                    padding-top: 25px;
                    .price{
                        font-size: 24px;
                        font-weight: bold;
                        letter-spacing: 0.2px;
                        line-height: 27.72px;
                        padding-bottom: 20px;
                    }
                    button{
                        display: block;
                        width: 330px;
                        opacity: .5;
                        cursor: not-allowed;
                        background: #007fa8;
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 20px 0;
                        text-transform: uppercase;
                        letter-spacing: 0.8px;
                        transition: all 0.3s;
                        text-align: center;
                        &:hover{
                            background: #016b8d;
                        }
                    }
                }   
                .note{
                    color: #5d5b5b;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    padding-top: 25px;
                    span{
                        color: $Aqua;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.section_reviews{
  background: #eaf8fb;
  padding: 100px 0 50px;
  @media screen and (max-width:999px) {
    padding: 50px 0 30px;
  }
  .content{
      display: flex;
      @media screen and (max-width:999px) {
        flex-direction: column;
      }
      .sec_slider{
          width: 50%;
          @media screen and (max-width:999px) {
            width: 100%;
          }
          .slider_img{
            height: 430px;
            @media screen and (max-width:999px) {
             height: 255px;
            }
              .arrow{
                  right: 0;
                  position: relative;
                  position: absolute;
                  background: #32c2de;
                  width: 60px;
                  height: 50px;
                  bottom: 50px;
                  cursor: pointer;
                  z-index: 9;
                  @include transition(all, 0.2s, ease);
                  @media screen and (max-width:999px) {
                    width: 40px;
                    height: 40px;
                    bottom: 0;
                  }
                  &.slick-disabled{
                      pointer-events: none;
                  }
                  &.next{
                      right: -60px;
                      @media screen and (max-width:999px) {
                        right: 0;
                      }
                      span {
                          display: block;
                              &::before{
                                  content: "chevron_right";
                                  @include MaterialFamily;
                                  color: white;
                                  position: absolute;
                                  font-size: 24px;
                                  top: 12px;
                                  left: 15px;
                                  @media screen and (max-width:999px) {
                                   top: 10px;
                                   left: 10px;
                                  }
                              }
                      }
                  }
                  &.prev{
                    @media screen and (max-width:999px) {
                      right: 40px;
                    }
                      span {
                          display: block;
                              &::before{
                                  content: "chevron_left";
                                  @include MaterialFamily;
                                  color: white;
                                  position: absolute;
                                  font-size: 24px;
                                  top: 12px;
                                  left: 15px;
                                  @media screen and (max-width:999px) {
                                    top: 10px;
                                    left: 10px;
                                   }
                              }
                      }
                  }
                  &:hover{
                      background: #2db8d3;
                  }
              }
          }
          .text{
              padding-top: 20px;
              h3{
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 47px;
                  @media screen and (max-width:999px) {
                    font-size: 22px;
                    line-height: 32px;
                  }
              }
              p{
                  color: #737373;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 36px;
                  padding: 15px 0 35px;
                  @media screen and (max-width:999px) {
                    padding: 8px 0 15px;
                    font-size: 14px;
                    line-height: 28px;
                  }
              }
              .link{
                  display: block;
                  max-width: 300px;
                  background: #007fa8;
                  color: white;
                  font-size: 18px;
                  font-weight: 500;
                  padding: 20px 0;
                  text-transform: uppercase;
                  letter-spacing: 0.8px;
                  transition: all 0.3s;
                  text-align: center;
                  font-family: 'Barlow Semi Condensed', sans-serif;
                  &:hover{
                      background: #016b8d;
                  }
              }
          }
      }
      .sec_reviews{
          width: 50%;
          padding-left: 150px;
          @media screen and (max-width:999px) {
            width: 100%;
            padding-left: 0;
            padding-top: 100px;
          }
          .all_reviews{
              max-height: 850px;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                  width: 10px;
                  height: 20px;
              }
              &::-webkit-scrollbar-track {
                  background-color: #c5ecf4;
                  border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb {
                  background-color: #007fa8;
                  border-radius: 10px;
              }
              .single_reviews{
                  padding-bottom: 50px;
                  padding-right: 30px;
                  @media screen and (max-width:999px) {
                    padding-bottom: 35px;
                  }
                  &:last-child{
                      padding-bottom: 0;
                  }
                  .info{
                      display: flex;
                      align-items: center;
                      padding-bottom: 18px;
                      @media screen and (max-width:999px) {
                       padding-bottom: 10px;
                      }
                      img{
                          border-radius: 50px;
                          @media screen and (max-width:999px) {
                            max-width: 50px;
                          }
                      }
                      h5{
                          font-size: 16px;
                          font-weight: bold;
                          line-height: 30px;
                          padding-#{$end}: 20px;
                          @media screen and (max-width:999px) {
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 26px;
                            padding-#{$end}: 12px;
                          }
                          span{
                              display: block;
                              color: #212121;
                              font-size: 14px;
                              font-weight: normal;
                              @media screen and (max-width:999px) {
                                font-size: 12px;
                              }
                          }
                      }
                  }
                  .review_desc{
                      position: relative;
                      &::before{
                          content: '';
                          background-image: url('../img/icons/left-quotes-sign.png');
                          background-repeat: no-repeat;
                          background-size: 15px;
                          width: 20px;
                          height: 20px;
                          position: absolute;
                          left: 0;
                          top: 9px;
                          @media screen and (max-width:999px) {
                            background-size: 11px;
                          }
                      }
                      p{
                          color: rgb(33, 33, 33);
                          font-size: 15px;
                          font-weight: normal;
                          line-height: 32px;
                          padding-left: 22px;
                          @media screen and (max-width:999px) {
                            font-size: 14px;
                            line-height: 29px;
                          }
                      }
                  }
                 
              }
          }
          .new_reviews{
              padding-top: 40px;
              margin-top: 40px;
              border-top: 1px solid #007fa854;
              @media screen and (max-width:999px) {
                padding-top: 20px;
              }
              a{
                  font-size: 18px;
                  color: #007fa8;
                  @media screen and (max-width:999px) {
                    font-size: 14px;
                  }
                  &:hover{
                      text-decoration: underline;
                  }
              }
          }
      }
  }
}
.single_book_beach{
  .section_reviews,.product{
    display: none !important;
  }
}