.the_beach_landing{
    .section_sub_hero{
        text-align: center;
        padding: 200px 0;
        max-width: 1000px;
        margin: 0 auto;
        @media screen and (max-width:999px) {
          padding: 50px 0;
          .grid{
              padding: 0;
          }
       }
    }
    .video-box {
        position: relative;
        // max-width: 575px;
        margin: 15px auto 100px 0;
        &::before {
          content: "";
          display: block;
          padding-top: percentage(430/800);
        }
        .bg {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 3;
          border-radius: 2px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            opacity: 0.3;
            z-index: 1;
          }
          .player {
            width: 70px;
            height: 70px;
            // background-image: url(../../assets/img/icons/play-icon.png);
            background-size: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            background: #32c2de;
            border-radius: 50%;
            @include transform(translate(-50%, -50%));
            &::before {
              content: "";
              position: absolute;
              background-image: url(../../assets/img/play-icon.png);
              background-size: cover;
              background-size: 30px;
              background-repeat: no-repeat;
              top: 16px;
              left: 27px;
              bottom: 0;
              right: 0;
            }
          }
        }
        .youtube-video {
          position: relative;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          .videoIframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border-radius: 2px;
          }
        }
        &.active {
          .bg {
            opacity: 0;
            pointer-events: none;
          }
        }
    }
    .section_info{
        display: flex;
        padding: 80px 0;
        @media screen and (max-width:999px) {
          flex-direction: column-reverse;
          padding: 0 0 50px;
        }
        .img{
            width: 900px;
            // display: flex;
            padding-left: 40px;
            @media screen and (max-width:999px) {
              width: 100%;
              padding-left: 0;
            }
            img{
                width: 100%;
                @media screen and (max-width:999px) {
                 height: 450px;
                }
            }
            // .full_img{
            //     width: calc(100% - 300px);
            //     img{
            //         height: 100%;
            //     }
            // }
            // .half_img{
            //     padding: 0 2px;
            //     width: 300px;
            //     display: flex;
            //     flex-direction: column;
            //     img{
            //         // height: 100%;
            //         padding-bottom: 2px;
            //         &:last-child{
            //             padding-bottom: 0;
            //         }
            //     }
            // }
        }
        .text{
            width: calc(100% - 800px);
            width: 600px;
            @media screen and (max-width:999px) {
              width: 100%;
              padding-top: 20px;
            }
            h3{
                font-size: 36px;
                font-weight: bold;
                line-height: 47px;
                @media screen and (max-width:999px) {
                  font-size: 22px;
                  line-height: 32px;
                }
            }
            p{
                color: #737373;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                padding: 25px 0;
                @media screen and (max-width:999px) {
                  font-size: 14px;
                  line-height: 26px;
                  padding: 10px 0;
                }
            }
            .link{
                display: block;
                max-width: 250px;
                background: #007fa8;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 20px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                text-align: center;
                @media screen and (max-width:999px) {
                  max-width: 200px;
                  font-size: 14px;
                  padding: 15px 0;
                }
                &:hover{
                    background: #016b8d;
                }
            }
        }
    }
    .hero_single_img{
        width: 100%;
        margin: 80px 0;
        @media screen and (max-width:999px) {
          margin: 30px 0 80px;
        }
        img{
            height: 720px;
            @media screen and (max-width:999px) {
              height: 450px;
            }
        }
        .slick-dots{
            position: absolute;
            bottom: 20px;
            #{$end}: 50px;
            top: auto;
            display: flex;
            justify-content: center;
            z-index: 9;
            // direction: ltr;
            @media (max-width:1025px) {
              bottom: 18px;
            }
            @media (max-width:779px) {
             #{$end}: 20px;
            }
            li{
              button {
                // border: 1px solid #ffffff;
                width: 25px;
                height: 25px;
                background: #ffffffc9;
                font-size: 0;
                margin: 0 3px;
                @media (max-width:779px) {
                  width: 15px;
                  height: 15px;
                 }
              }
              &.slick-active{
                button {
                  background: #32c2de;
                }
              }
            }
        }
    }
}