// /* helpers */
* {
  box-sizing: border-box;
  // max-width: 100%;
  outline: none;
}

.no-scroll {
  overflow: hidden !important;
  position: fixed;
  top: 0;
  #{$end}: 0;
  bottom: 0;
  #{$start}: 0;
}

body,
html {
  background: #fff;
  font: 400 16px/1 "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  direction: #{$direction};
  font-family: 'Poppins', sans-serif;
  &.sticky-header {
    padding-top: 49px;
  }
}
.site-main {
  margin: 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  &:focus {
    outline: none !important;
  }
}

body {
  ul,
  ol {
    margin: 0;
  }
  input,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  button,
  select,
  textarea {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    // font-family: inherit;
    &:focus {
      outline: none !important;
    }
    &:hover {
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }

    &:-webkit-autofill {
      background-color: transparent !important;
    }
    &::-webkit-input-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &::-moz-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:-ms-input-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:-moz-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:focus {
      &::-webkit-input-placeholder {
        color: transparent !important;
      }
      &::-moz-placeholder {
        color: transparent !important;
      }
      &:-ms-input-placeholder {
        color: transparent !important;
      }
      &:-moz-placeholder {
        color: transparent !important;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: black;
  }
  .button,
  .btn {
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: White;
    background-color: Green;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 30px;
    letter-spacing: -0.5px;
    @include transition(all, 0.3s, ease);
    white-space: nowrap;
    &:hover {
      // background-color: $GreenHover;
      color: White;
    }
  }
  img {
    border-radius: 0;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
}

.tbl {
  display: table;
  width: 100%;
  height: 100%;
}

.tcl {
  display: table-cell;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.alert-danger{
  display: flex;
  flex-direction: column;
  border: 2px solid #df4759;
  border-radius: 6px;
  background: #df475936 !important;
  margin-bottom: 30px !important;
  span{
    color: black;
    padding-bottom: 10px;
    &:last-child{
      padding-bottom: 0;
    }
  }
}

.sticky_logo {
  position: fixed;
  z-index: 999999;
  bottom: 50px;
  right: 20px;
  // padding: 2px;
  left: auto;
  transform: translateX(45px);
  // background: black;
  @include transition(all, 0.3s, ease);
  @media screen and (max-width: 767px) {
    right: 5px;
    img{
      max-width: 15px;
    }
  }
  &.start{
    transform: translateX(0);
  }
}






// overlay
.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  #{$end}: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @include transition(all, 0.3s, ease);
}

.overlay_visible {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.page-404 {
  padding: 75px 20px 120px;
  text-align: center;
  min-height: calc(100vh - 96px - 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 270px;
    font-weight: 900;
    margin: 0;
    color: #007FA8;
    span {
      display: block;
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 80px;
      text-transform: capitalize;
    }
  }
  p {
    font-size: 18px;
    max-width: 100%;
    margin: 25px auto 0;
    line-height: 40px;
    width: 800px;
    color: #2a2a2a;
    font-weight: 300;
  }
  a{
    width: 300px;
    display: block;
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #007FA8;
    color: white;
    transition: all .3s ease;
    &:hover{
      background: #016a8d;
    }
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 80px;
      span {
        font-size: 38px;
      }
    }
    p {
      font-size: 22px;
    }
  }
}

.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  #{$start}: 0;
  bottom: 0;
  #{$end}: 0;
  padding: 1.5rem;
  overflow: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @media screen and (max-width: 999px) {
      max-width: 100vw;
      .tbl {
          max-width: 100vw;
          display: block;
          .tcl {
              max-width: 100vw;
              display: block;
          }
      }
  }
  &_visible {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
  }

  &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #737373;
      font-size: 22px !important;
  }

  &__window {
      position: relative;
      border-radius: 4px;
      @media screen and (max-width: 999px) {
          max-width: calc(100vw - 20px);
          padding-top: 30px;
          margin-bottom: 30px;
      }
      @media screen and (max-width: 767px) {
          padding-bottom: 10px;
      }
      &.reviews{
        max-width: 800px;
        background: white;
        border-radius: px;
        margin: 0 auto;
        .form-content{
          padding: 70px;
          @media screen and (max-width: 767px) {
            padding: 20px;
          }
          h3{
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            line-height: 34px;
            padding: 20px 0 50px;
            @media screen and (max-width: 767px) {
              font-size: 22px;
              padding: 10px 0 20px;
            }
          }
          p{
            font-size: 21px;
            font-weight: 300;
            text-align: center;
            @media screen and (max-width: 767px) {
              font-size: 11px;
            }
          }
          #reviews_form{
            font-size: 0;
            .field{
              display: inline-block;
              width: 100%;
              padding: 0 5px 25px;
              &:last-child{
                  padding-bottom: 0;
              }
              &.half{
                  width: calc(100% / 2);
                  @media screen and (max-width: 767px) {
                    width: 100%;
                  }
              }
              &.select_arrow{
                position: relative;
                select{
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 8px 10px;
                    cursor: pointer;
                    background: white;
                    border: 1px solid #c1c9d2;
                    border-radius: 4px;
                    height: 44px;
                }
                &::before {
                    content: "arrow_drop_down";
                    @include MaterialFamily;
                    font-size: 20px;
                    position: absolute;
                    color: #414241;
                    top: 32px;
                    right: 15px;
                    cursor: pointer;
                    pointer-events: none; 
                }
              .rate:not(:checked) > input {
                  position:absolute;
                  background: transparent;
                  padding: 0;
                  border: 0;
              }
              .rate:not(:checked) > label {
                  float:left;
                  width:36px;
                  overflow:hidden;
                  white-space:nowrap;
                  cursor:pointer;
                  font-size:36px;
                  color: #007fa8;
              }
              .rate:not(:checked) > label:before {
                content: "star_outline";
                 @include MaterialFamily;
              }
              .rate > input:checked ~ label::before {
                content: "star";    
              }
              .rate:not(:checked) > label:hover,
              .rate:not(:checked) > label:hover ~ label::before {
                  content: "star"; 
              }
              .rate > input:checked + label:hover,
              .rate > input:checked + label:hover ~ label,
              .rate > input:checked ~ label:hover,
              .rate > input:checked ~ label:hover ~ label,
              .rate > label:hover ~ input:checked ~ label::before {
                content: "star";
              }
                // .new_stars{
                //   display: flex;
                //   align-items: center;
                //   flex-direction: row-reverse;
                //   justify-content: flex-end;
                //   .single_star{
                //     width: 28px;
                //     height: 28px;
                //     position: relative;
                //     cursor: pointer;
                //     &::before {
                //       content: "star_outline";
                //       @include MaterialFamily;
                //       font-size: 24px;
                //       position: absolute;
                //       color: #ac9058;
                //       top: 0;
                //       left: 0;
                //       right: 0;
                //       bottom: 0;
                //       cursor: pointer;
                //       pointer-events: none;
                //     }
                //     &:hover{
                //         &::before {
                //           content: "star";
                //         }
                //     }
                //     &.active{
                //       &::before {
                //         content: "star";
                //       }
                //     }
                //   }
                //   .single_star, .single_star:hover ~ .single_star::before{
                //     content: "star";
                //   }
                //   .single_star, .single_star.active ~ .single_star::before{
                //     content: "star";
                //   }
                // }
              }
              &.select_stars{
                position: relative;
                .rate{
                  flex-direction: row-reverse;
                  display: inline-flex;
                }
                select{
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 8px 10px;
                    cursor: pointer;
                    background: white;
                    border: 1px solid #c1c9d2;
                    border-radius: 4px;
                    height: 44px;
                }
                .rate:not(:checked) > input {
                    position:absolute;
                    background: transparent;
                    padding: 0;
                    border: 0;
                }
                .rate:not(:checked) > label {
                    float:right;
                    width:36px;
                    overflow:hidden;
                    white-space:nowrap;
                    cursor:pointer;
                    font-size:36px;
                    color: #007fa8;
                    @media screen and (max-width:999px) {
                      width: 26px;
                      font-size: 26px;
                  }
                }
                .rate:not(:checked) > label:before {
                  content: "star_outline";
                  @include MaterialFamily;
                }
                .rate > input:checked ~ label::before {
                  content: "star";    
                }
                .rate:not(:checked) > label:hover,
                .rate:not(:checked) > label:hover ~ label::before {
                    content: "star"; 
                }
                .rate > input:checked + label:hover,
                .rate > input:checked + label:hover ~ label,
                .rate > input:checked ~ label:hover,
                .rate > input:checked ~ label:hover ~ label,
                .rate > label:hover ~ input:checked ~ label::before {
                  content: "star";
                }
              }
              label{
                  color: #414241;
                  font-size: 13px;
                  font-weight: bold;
                  padding-bottom: 6px;
                  @media screen and (max-width: 767px) {
                    font-size: 11px;
                  }
                  span{
                      color: red;
                      font-size: 12px;
                  }
              }
              input{
                  background: #ffffff;
                  border: 1px solid #c1c9d2;
                  border-radius: 4px;
                  color: #414241;
                  font-size: 14px;
                  width: 100%;
                  padding: 10px;
                  
              }
              textarea{
                width: 100%;
                border: 1px solid #c1c9d2;
                border-radius: 4px;
                font-size: 16px;
                resize: none;
                padding: 15px !important;
                height: 120px !important;
                // &:focus{
                //     box-shadow: inset 0 1px 1px #ffffff, 0 0 4px #af9854;
                //     border: 0;
                // }
              }
              
            }
            .btn{
              background: #007fa8;
              border-radius: 4px;
              width: 100%;
              padding: 8px 0 5px;
              color: #fff;
              font-size: 18px;
              text-transform: uppercase;
              font-weight: bold;
              transition: all .3s ease;
              line-height: 46px;
              border: 0;
              // max-width: 170px;
              margin: 0 auto;
              display: block;
              &:hover{
                background: #016b8d;
              }
              @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 36px;
              }
            }
          }
        }
      }
     
  }
  &.reviews{
    top: 100px;
    @media screen and (max-width: 767px) {
      top: 20px;
    }
  }
  &.min_cart{
    #{$end}: auto;
    background: white;
    transform: translate(100%, 0);
    transition: 0.3s all ease-in-out;
    width: 410px;
    padding: 0;
    z-index: 999999;
    @media screen and (max-width:999px) {
      width: 320px;
    }
    .popup__window{
      height: 100%;
      @media screen and (max-width:999px) {
       padding: 0;
       max-width: 100%;
      }
    }
   
    &.popup_visible{
      transform: translate(0, 0);
      overflow: unset;
    } 
    .popup__close{
      top: 0px;
      left: -50px;
      right: auto;
      font-size: 20px !important;
      font-weight: normal;
      // background: #32C2DE;
      background: #007FA8;
      padding: 15px;
      color: white;
      transition: all 0.3s;
      // &:hover{
      //   background: #2aacc5;
      // }
      &:hover{
        background: #016a8d;
      }
      // top: 5px;
      // // #{$end}: 20px;
      // #{$start}: auto;
      // font-size: 30px !important;
      // font-weight: normal;
      // padding: 20px 30px;
      @media screen and (max-width:999px) {
        left: -36px;
        padding: 8px;
      }
    }
    .form-content{
      // padding: 70px 0 0;
      position: relative;
      height: 100%;    
      .top{
        .cart_info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 25px 0 35px;
          @media screen and (max-width:999px) {
            padding: 0 15px 0;
          }
          .title_min_cart{
            position: relative;
            display: flex;
            align-items: center;
            h2{
                color: #414241;
                font-size: 21px;
                font-weight: bold;
                padding-#{$end}: 5px;
                padding-top: 5px;
                @media screen and (max-width:999px) {
                  font-size: 16px;
                  padding-top: 0;
                }
                .count{
                    background: #007fa8;
                    color: white;
                    display: inline-block;
                    padding: 5px 8px;
                    border-radius: 50px;
                    font-size: 13px;
                    vertical-align: bottom;
                }
            }
            img{
              width: 30px;
              @media screen and (max-width:999px) {
                width: 22px;
              }
            }
            // &::before {
            //     content: "shopping_cart";
            //     font-family: "Material Icons";
            //     font-size: 35px;
            //     #{$end}: 0;
            //     top: 0;
            //     color: black;
            // }
          }
          .info_min_cart{
            @media screen and (max-width:999px) {
             display: none;
            }
            h4{
              color: #707070;
              font-size: 14px;
              font-weight: 500;
              .price{
                color: #000104;
                font-size: 18px;
                font-weight: bold;
                padding: 8px 0 3px;
              }
            }
          }
        }
        .cart_action{
          display: flex;
          justify-content: space-between;
          padding: 20px 30px 0;
          @media screen and (max-width:999px) {
           padding: 20px 15px 0;
          }
          a{
            width: calc(100% / 2 - 9px);
            padding: 20px 0;
            border: 1px solid #231F20;
            // border-radius: 4px;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            @media screen and (max-width:999px) {
              padding: 12px 0;
              font-size: 14px;
            }
            &.open_checkout{
              background: #007FA8;
              border: 1px solid transparent;
              transition: all .3s ease;
              &:hover{
                background: #016a8d;
              } 
              button{
                color: white;
                text-transform: uppercase;
              }
            }
            &.open_cart{                  
              transition: all .3s ease;
              @media screen and (max-width:999px) {
                font-size: 13px;
                width: 150px;
               }
              &:hover{
                  background: #007FA8;
                  border: 1px solid #007FA8;
                  button{
                    color: white;
                  }
              }
            }
        
            button{
              width: 100%;
              color: #231F20;
              text-transform: uppercase;
            }
          }
        }
      }
      .all_item{
        padding: 0 30px 0;
        height: calc(100% - 320px);
        overflow: scroll;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        &.height{
          height: calc(100% - 390px);
        }
        @media screen and (max-width:999px) {
          padding: 20px 15px 0;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        .single_item{
          position: relative;
          padding: 15px 0;
          border-bottom: 1px solid #007fa83b;
          &:last-child{
            padding: 0px 0 15px;
          }
          &:first-child{
            padding: 15px 0 0;
            border-bottom: 0;
          }
          .sec_item{
            display: flex;
            .img{
              width: 100px;
              @media screen and (max-width:999px) {
                width: 80px;
              }
              img{
                width: 100%;
                height: 125px;
                @media screen and (max-width:999px) {
                  height: 105px;
                }
              }
            }
            .info{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: calc(100% - 100px);
              padding-left: 15px;
              @media screen and (max-width:999px) {
                width: calc(100% - 80px);
              }
              .info_top{
                display: flex;
                justify-content: space-between;
                .text{
                  width: 75%;
                  @media screen and (max-width:999px) {
                    width: 70%;
                  }
                  h4{
                      color: #121212;
                      font-size: 13px;
                      font-weight: normal;
                      line-height: 20px;
                      @media screen and (max-width:999px) {
                        font-size: 12px;
                      }
                  }
                  ul{
                    padding: 8px 0 0;
                    @media screen and (max-width:999px) {
                      padding: 8px 0 0;
                    }
                    &:last-child{
                      padding: 8px 0 10px;
                    }
                    li{
                        color: #6c707d;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 17px;
                        @media screen and (max-width:999px) {
                         font-size: 11px;
                        }
                        &:first-child{
                            padding: 0 3px 0 0;
                        }
                        &:last-child{
                            padding: 0 3px 0 0;
                        }
                    }
                  }
                }
                .total_price{
                  color: #000104;
                  font-size: 13px;
                  font-weight: bold;
                  @media screen and (max-width:999px) {
                    font-size: 11px;
                  }
                }
              }
             .info_bottom{
               display: flex;
               justify-content: space-between;
               align-items: flex-end;
                .section_count{
                  position: relative;
                  label{
                    font-size: 12px;
                    color: #6c707d;
                    padding-bottom: 5px;
                  }
                  &::before {
                      content: "expand_more";
                      @include MaterialFamily;
                      font-size: 16px;
                      color: inherit;
                      position: absolute;
                      color: #6c757d;
                      #{$start}: 15px;
                      bottom: 13px;
                      pointer-events: none;
                  }
                  select{
                      width: 100px;
                      padding: 13px 15px;
                      color: #6c757d;
                      cursor: pointer;
                      border: 1px solid #6c757d;
                  }                    
                }
                .remove_min_cart{
                  color: #6c707d;
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 20px;
                  opacity: .7;
                  #{$start}:0;
                  @media screen and (max-width:999px) {
                    font-size: 10px;
                  }
                  // &::before {
                  //     content: "delete_forever";
                  //     @include MaterialFamily;
                  //     font-size: 18px;
                  //     color: #6c707d;
                  //     opacity: .4;
                  //     cursor: pointer;
                  //     pointer-events: none; 
                  //     font-weight: 500;
                  //     @media screen and (max-width:999px) {
                  //       font-size: 12px;
                  //     }
                  // }
                }
             }
              
            }
          }
        }
      }
      .bottom{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 85%;
        border-top: 1px solid #97979761;
        padding-top: 20px;
        background: white;
        .bottom_info{
          padding-bottom: 10px;
          text-align: right;
          .coupon_cart{
            .open-coupon{
              // display: inline-block;
              color: #6c757d;
              font-size: 12px;
              font-weight: 500;
              cursor: pointer;
              text-align: left;
              &:hover{
                  text-decoration: underline;
              }
              &.active{
                      opacity: 0;
              }
          }
          .close-coupon{
              position: absolute;
              top: -20px;
              right: 0;
              z-index: 1;
              border: none;
              i{
                  font-size: 14px;
              }
          }
          .discount-form{
              display: none !important;
              width: 100%;
              position: relative;
              margin-bottom: 20px;
              &.active{
                display: block !important;
              }
              .coupon{
                  position: relative;
                  display: flex;
                  label{
                      position: absolute;
                      top: -19px;
                      font-size: 13px;
                      font-weight: 500;
                      color: #6c757d;                                
                  }
                  input{
                      width: 100%;
                      padding: 0px 10px;
                      height: 46px;
                      border: 1px solid #6c757d;
                      font-size: 14px;
                      color: #000;
                      &::placeholder{
                          opacity: 0;
                      }
                  }
                  .btn{
                      width: 45%;
                      font-size: 14px;
                      padding: 0 25px;
                      background: #007fa8;
                      color: white;
                      line-height: 34px;
                      font-weight: 500;
                      margin-#{$end}: 10px; 
                      @include transition (all, 0.3s, ease-in-out);
                      &:hover{
                          background: #026e91;
                      }
                      @media screen and (max-width:999px) {
                        font-size: 12px;
                        padding: 0 15px;
                      }
                  }
              }
          }
          }
          .info_min_cart{
            h4{
              color: #707070;
              font-size: 14px;
              font-weight: 500;
              .price{
                color: #000104;
                font-size: 18px;
                font-weight: bold;
                padding: 8px 0 3px;
              }
            }
          }
        }
        a{
          width: 100%;
          display: block;
          padding: 20px 0;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          background: #007FA8;
          transition: all .3s ease;
          &:hover{
            background: #016a8d;
          }
          button{
            width: 100%;
            color: white;
            text-transform: uppercase;
          }
        }
      }

      .section_emty{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          max-width: 50px;
        }
        p{
          color: #414241;
          font-size: 14px;
          line-height: 24px;
          font-weight: 500;
          padding: 15px 0;
          text-align: center;
        }
        a{
          width: 100%;
          display: block;
          padding: 20px 0;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          background: #007FA8;
          transition: all .3s ease;
          @media screen and (max-width:999px) {
           padding: 18px 0;
           font-size: 15px;
          }
          &:hover{
            background: #016a8d;
          }
          button{
            width: 100%;
            color: white;
            text-transform: uppercase;
          }
        }
      }
      
      .min_cart{
        height: 100%;
        padding-top: 30px;
      }
      .empty_min_cart{
        height: 100%;
        padding-top: 30px;
        .top{
          display: none;
          .cart_info{
            padding: 0 20px 20px;
            .info_min_cart{
              display: none;
            }
          }
          .cart_action{
            display: none;
          }
        }
        .all_item{
          height: calc(100% - 150px);
        }
        .bottom{
          display: none;
        }
      }
     
    }
  }
  &.phase{
    #{$end}: auto;
    background: white;
    transform: translate(100%, 0);
    transition: 0.3s all ease-in-out;
    width: 800px;
    padding: 0;
    @media screen and (max-width:999px) {
      top: 0;
      width: 320px;
    }
    .popup__window{
      height: 100%;
      @media screen and (max-width:999px) {
       padding: 15px 15px 0;
       max-width: 100%;
      }
    }
    &.popup_visible{
      transform: translate(0, 0);
      overflow: unset;
      // @media screen and (max-width:999px) {
      //   overflow: scroll;
      // }
    } 
    .popup__close{
      top: 0px;
      left: -50px;
      right: auto;
      font-size: 20px !important;
      font-weight: normal;
      // background: #32C2DE;
      background: #007FA8;
      padding: 15px;
      color: white;
      transition: all 0.3s;
      // &:hover{
      //   background: #2aacc5;
      // }
      &:hover{
        background: #016a8d;
      }
    }
    .form-content{
      position: relative;
      height: 100%;    
      padding: 0 50px;
      overflow: scroll;
      // @media screen and (max-width:999px) {
      //   overflow: unset;
      // }
      &::-webkit-scrollbar {
        display: none;
      }
      @media screen and (max-width:999px) {
        padding: 10px 15px;
      }
      .title{
        padding: 100px 0 80px;
        @media (max-width:999px) {
            padding: 0 0 20px;
        }
        p{
          color: #212121;
          font-size: 36px;
          line-height: 43px;
          font-weight: 200;
          @media (max-width:999px) {
           font-size: 16px;
           line-height: 22px;
          }
        }
        h3{
          font-weight: 600;
          font-size: 60px;
          line-height: 73px;
          @media (max-width:999px) {
            font-size: 24px;
            line-height: 36px;
          }
        }
      }
      #phases_form{
        .fade-content{
          .field{
            width: 100%;
            padding-bottom: 22px;
            @media (max-width:999px) {
              padding-bottom: 15px;
            }
            label{
              font-size: 12px;
              font-weight: 500;
              line-height: 20px;
              padding-bottom: 5px;
              @media (max-width:999px) {
               font-size: 10px;
               line-height: 15px;
              }
            }
            input{
              border: 1px solid #D3D3D3;
              width: 100%;
              font-size: 16px;
              font-weight: 500;
              padding: 15px 15px;
              @media (max-width:999px) {
                padding: 8px;
                font-size: 12px;
              }
            }
            &.radio_button{
              display: flex;
              align-items: center;
              .form-checkbox-content{
                position: relative;
                padding-right: 15px;
                @media (max-width:999px) {
                 padding-right: 10px;
                }
                  label{
                    padding-left: 25px;
                    @media (max-width:999px) {
                      padding-left: 20px;
                    }
                  }
                  .checkbox-box {
                      border: 2px solid black;
                      border-radius: 50px;
                      width: 24px;
                      height: 24px;
                      padding: 2px;
                      margin: 0 0 0 8px;
                      cursor: pointer;
                      &:not(:checked),
                      &:checked {
                          position: absolute;
                          #{$start}: 0;
                          opacity: 1;
                          background: transparent;
                          z-index: 99999;
                          border: none;
                          width: 100%;
                      }
                      &:not(:checked) + label:before,
                      &:checked + label:before {
                          font-family: "Material Icons";
                          content: "radio_button_unchecked";
                          position: absolute;
                          left:  0;
                          top: 0;
                          width: 20px;
                          height: 20px;
                          font-size: 20px;
                          transition: all 0.275s;
                          @media (max-width:999px) {
                           background-size: 16px;
                          }
                      }
                      &:checked + label:before {
                          content: "radio_button_checked";
                      }
                      // &:not(:checked) + label:after,
                      // &:checked + label:after {
                      //     font-family: "Material Icons";
                      //     content: "radio_button_checked";
                      //     position: absolute;                            
                      //     top: 7px;
                      //     right: -20px;
                      //     font-size: 11px;
                      //     font-weight: bold;
                      //     color: white;
                      //     line-height: 0;
                      //     -webkit-transition: all 0.2s;
                      //     transition: all 0.2s;
                      //     body.ltr & {
                      //     #{$start}: 2px;
                      //     }
                      // }
                      // &:not(:checked) ~ label:after {
                      //     opacity: 0;
                      // }
                      // &:checked + label:after {
                      //     opacity: 1;
                      // }
                      // &:disabled:not(:checked) + label:before,
                      // &:disabled:checked + label:before {
                      //     box-shadow: none;
                      //     border-color: #bbb;
                      //     background-color: #e9e9e9;
                      // }
                  }
              }
            }
            &.half{
              display: flex;
              justify-content: space-between;
              .col{
                width: 48%;
              }
            }
            &.select_arrow{
              position: relative;
              width: 100%;
              select{
                  // background: black;                      
                  // border-radius: 5px;
                  border: 1px solid #D3D3D3;
                  width: 100%;
                  font-size: 16px;
                  font-weight: 500;
                  padding: 18px 10px;
                  cursor: pointer;
                  @media (max-width:999px) {
                    padding: 10px;
                    font-size: 12px;
                  }
              }
              &::before {
                  content: "arrow_drop_down";
                  @include MaterialFamily;
                  font-size: 20px;
                  position: absolute;
                  color: black;
                  top: 41px;
                  right: 10px;
                  cursor: pointer;
                  pointer-events: none; 
                  @media (max-width:999px) {
                    top: 28px;
                  }
              }
              
            }
            &.date{
              input{
                position: relative;
                &::before{
                  content: 'date_range';
                  @include MaterialFamily;
                  color: black;
                  font-size: 18px;
                  position: absolute;
                  #{$start}: 10px;
                  top: 15px;
                  @media (max-width:999px) {
                    font-size: 14px;
                    top: 8px;
                  }
                }
              }
              input[type="date"]::-webkit-inner-spin-button,
              input[type="date"]::-webkit-calendar-picker-indicator {
                  // display: none;
                  // -webkit-appearance: none;
                  opacity: 0;
                  width: 100%;
                  position: absolute;
                  left: 0;
                  right: 0;

              }
            }
            &.time_slots{
              .time-slots-content{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 0 -5px;
                .single{
                    width: calc(100% / 5);
                    @media (max-width:999px) {
                      width: calc(100% / 3);
                    }
                    padding: 0 5px 5px;
                    &.not_available{
                        .box{
                            background: #d3d3d3;
                            pointer-events: none;
                            label{
                                color: #777777;
                                &::before{
                                    color: #777777;
                                }
                            }
                        }
                    }
                    &.select{
                        .box{
                            background: #32c2de;
                            border: 2px solid #32c2de;
                            label{
                                color: white;
                                &::before{
                                    content: 'check_box';
                                    color: white;
                                }
                            }
                        }
                    }
                    .box{
                        border: 2px solid #d3d3d3;
                        padding: 15px 0;
                        text-align: center;
                        cursor: pointer;
                        position: relative;
                        input{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            cursor: pointer;
                            border: 0;
                        }
                        label{
                            font-size: 14px;
                            position: relative;
                            padding-bottom: 0;
                            cursor: pointer;
                            &::before {
                                content: "check_box_outline_blank";
                                @include MaterialFamily;
                                font-size: 18px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-top: -3px;
                                margin-right: 5px;
                                cursor: pointer;
                                pointer-events: none; 
                                display: none;
                            }
                        }
                        // &:hover{
                        //     background: #32c2de;
                        //     border: 2px solid #32c2de;
                        //     label{
                        //         color: white;
                        //         &::before{
                        //             content: 'check_box';
                        //             color: white;
                        //         }
                        //     }
                        // }
                    }
                }
              }
            }
          }
          .btn-primary{
            display: block;
            max-width: 330px;
            width: 100%;
            background: #007fa8;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin: 25px 0 50px;
            padding: 10px 0;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            transition: all 0.3s;
            text-align: center;
            &:hover{
                background: #016b8d;
            }
            @media (max-width:999px) {
              font-size: 16px;
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}

.product.related{
  background: white;
  padding: 0 0 100px;
  @media screen and (max-width:767px) {
    padding: 0 0 30px;
  }
  &.bk{
      background: #eaf8fb;
      padding: 150px 0 ;
      @media screen and (max-width:767px) {
        padding: 100px 0;
      }
  }
  .grid{
      max-width: 1300px;
  }
  .section_title{
      text-align: center;
      h2{
          font-size: 36px;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 1.05px;
          line-height: 42px;
          @media screen and (max-width:767px) {
            font-size: 26px;
            line-height: 32px;
          }
      }
      p{
          font-size: 21px;
          font-weight: 300;
          line-height: 32px;
          padding-top: 5px;
          @media screen and (max-width:767px) {
            font-size: 16px;
            line-height: 28px;
          }
      }
  } 
  .product_container{
      .products_list{
          display: flex;
          margin: 50px -15px 0;
          @media screen and (max-width:767px) {
            margin: 25px -15px 0;
            flex-wrap: wrap;
          }
          .product_widget{
              width: calc(100% / 3);
              padding: 0 15px;
              @media screen and (max-width:767px) {
                width: 100%;
                padding: 0 15px 30px;
              }
              .product_widget_box{
                  display: block;
                  .img{
                      position: relative;
                      img{
                          width: 400px;
                          height: 300px;
                          object-fit: cover;
                          @media screen and (max-width:767px) {
                           width: 100%;
                          }
                      }
                      span{
                          position: absolute;
                          top: 20px;
                          left: 20px;
                          color: white;
                          font-size: 12px;
                          font-weight: bold;
                          text-transform: uppercase;
                          z-index: 9;
                      }
                  }
                  .text{
                      padding: 15px 0 0;
                      .sec_info{
                          .title{
                              font-size: 23px;
                              font-weight: bold;
                              text-transform: uppercase;
                              letter-spacing: 0.3px;
                              line-height: 34px;
                              @media screen and (max-width:767px) {
                                 font-size: 18px;
                              }
                          }
                          .desc{
                              font-size: 14px;
                              font-weight: normal;
                              line-height: 26px;
                              padding: 5px 0 15px;
                          }
                          .price{
                              font-size: 16px;
                              font-weight: bold;
                              letter-spacing: 0.13px;
                              line-height: 27.72px;
                          }
                      }
                  }
              }
            
          }
      }
     
  }
}

.video-box {
  position: relative;
  // max-width: 575px;
  margin: 15px auto 80px 0;
  &::before {
    content: "";
    display: block;
    padding-top: percentage(430/800);
    @media (max-width:779px) {
      padding-top: percentage(400/600);
    }
  }
  .bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    border-radius: 2px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      opacity: 0.3;
      z-index: 1;
    }
    .player {
      width: 70px;
      height: 70px;
      // background-image: url(../../assets/img/icons/play-icon.png);
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      background: #32c2de;
      border-radius: 50%;
      transition: all 0.3s;
      @include transform(translate(-50%, -50%));

      @media (max-width:779px) {
          width: 50px;
          height: 50px;
      }
      &::before {
        content: "";
        position: absolute;
        background-image: url(../../assets/img/play-icon.png);
        background-size: cover;
        background-size: 25px;
        background-repeat: no-repeat;
        top: 20px;
        left: 28px;
        bottom: 0;
        right: 0;
        @media (max-width:779px) {
          background-size: 15px;
          top: 16px;
          left: 22px;
        } 
      }
      &:hover{
        background: #2caec7;
      }
    }
  }
  .youtube-video {
    position: relative;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
    }
    .videoIframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }
  }
  &.active {
    .bg {
      opacity: 0;
      pointer-events: none;
    }
  }
}



.page_experience_almaza{
  .section_title_hero{
    text-align: center;
    padding: 50px 0;
    @media (max-width:779px) {
     padding: 35px;
    }
    h1{
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 73px;
        @media (max-width:779px) {
        font-size: 24px;
        line-height: 32px;
        }
        @media (max-width:479px) {
         font-size: 20px;
         }
    }
    span{ 
        display: block;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 20px 0 30px;
        @media (max-width:779px) {
          font-size: 16px;
          padding: 10px 0 0;
        }
        @media (max-width:479px) {
          font-size: 12px;
        }
    }
  }
  .hero_single_img{
    width: 100%;
    .slick-dots{
        position: absolute;
        bottom: 20px;
        #{$end}: 50px;
        top: auto;
        display: flex;
        justify-content: center;
        z-index: 9;
        // direction: ltr;
        @media (max-width:1025px) {
          bottom: 18px;
        }
        @media (max-width:779px) {
         #{$end}: 20px;
        }
        li{
          button {
            // border: 1px solid #ffffff;
            width: 25px;
            height: 25px;
            background: #ffffffc9;
            font-size: 0;
            margin: 0 3px;
            @media (max-width:779px) {
              width: 15px;
              height: 15px;
             }
          }
          &.slick-active{
            button {
              background: #32c2de;
            }
          }
        }
    }
  }
  .grid_list{
    max-width: 1120px;
    margin: 0 auto;
  }
}

