.page_about{
    .video-box {
        position: relative;
        // max-width: 575px;
        margin-top: 100px;
        @media screen and (max-width: 999px) {
           margin-top: 30px;
           margin-bottom: 30px;
        }
        &::before {
          content: "";
          display: block;
          padding-top: percentage(430/800);
        }
        .bg {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 3;
          border-radius: 2px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            opacity: 0.3;
            z-index: 1;
          }
          .player {
            width: 70px;
            height: 70px;
            // background-image: url(../../assets/img/icons/play-icon.png);
            background-size: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            background: #32c2de;
            border-radius: 50%;
            @include transform(translate(-50%, -50%));
            &::before {
              content: "";
              position: absolute;
              background-image: url(../../assets/img/play-icon.png);
              background-size: cover;
              background-size: 30px;
              background-repeat: no-repeat;
              top: 16px;
              left: 27px;
              bottom: 0;
              right: 0;
            }
          }
        }
        .youtube-video {
          position: relative;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          .videoIframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border-radius: 2px;
          }
        }
        &.active {
          .bg {
            opacity: 0;
            pointer-events: none;
          }
        }
    }
    .section_sub_hero{
        text-align: center;
        padding: 100px 0;
        max-width: 1000px;
        margin: 0 auto;
        @media screen and (max-width: 999px) {
            padding: 30px 0;
        }
        .num{
            display: block;
            font-size: 138px;
            font-weight: bold;
            color: #32C2DE;
            @media screen and (max-width: 999px) {
                font-size: 50px;
            }
        }
        h3{
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 1.05px;
            color: #32C2DE;
            padding: 12px 0;
            @media screen and (max-width: 999px) {
                font-size: 18px;
                padding: 0;
            }
        }
        p{
            font-size: 21px;
            font-weight: 300;
            line-height: 42px;
            padding-top: 8px;
            color: #212121b0;
            @media screen and (max-width: 999px) {
                font-size: 14px;
                line-height: 30px;
            }
        }
    }
    .section_info{
        display: flex;
        align-items: center;
        padding: 80px 0;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 999px) {
           padding: 20px 0;
           flex-direction: column-reverse;
         }
        .img{
            width: 600px;
            display: flex;
            padding-left: 40px;
            @media screen and (max-width: 999px) {
                width: 100%;
                padding: 0;
             }
             .all_img{
                width: 100%;
            }
            img{
                width: 100%;
                @media screen and (max-width: 999px) {
                   height: 450px;
                 }
            }
        }
        .text{
            width: calc(100% - 600px);
            @media screen and (max-width: 999px) {
               width: 100%;
               padding-top: 15px;
            }
            span{
                color: #212121;
                font-size: 25px;
                letter-spacing: 0.73px;
                line-height: 56px;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    line-height: 32px;
                }
            }
            h3{
                font-size: 36px;
                font-weight: bold;
                line-height: 47px;
                @media screen and (max-width: 999px) {
                    font-size: 22px;
                    line-height: 32px;
                 }
                 @media screen and (max-width: 767px) {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            p{
                color: #737373;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                padding: 25px 0;
                @media screen and (max-width: 999px) {
                   font-size: 14px;
                   line-height: 26px;
                   padding: 15px 0;
                 }
                 @media screen and (max-width: 767px) {
                    line-height: 24px;
                    padding: 12px 0;
                }
            }
            .link{
                display: block;
                max-width: 190px;
                color: black;
                font-size: 16px;
                font-weight: 500;
                padding: 12px 0;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                transition: all 0.3s;
                text-align: center;
                border: 2px solid #212121;
                font-family: 'Barlow Semi Condensed', sans-serif;
                &:hover{
                    background: black;
                    color: white;
                }
            }
        }
        &.row_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width: 999px) {
               flex-direction: column-reverse;
            }
            .img{
                padding-left: 0;
                padding-right: 40px;
                @media screen and (max-width: 999px) {
                    padding-right: 0;
                 }
            }   
            // .text{
            //     padding-#{$start}: 40px;
            //     padding-#{$end}: 0;
            //     @media screen and (max-width: 999px) {
            //         padding-#{$start}: 0;
            //         padding-top: 15px;
            //     }
            // }
        }
    }
    .section_hero_about{
        padding: 180px 0;
        @media screen and (max-width: 999px) {
           padding: 50px 0;
         }
        &.bottom{
            padding: 100px 0 0;
            @media screen and (max-width: 767px) {
                padding: 20px 0 0;
            }
        }
        .hero_image{
            position: relative;
            // max-width: 1680px;
            // margin: 0 auto;
            font-size: 0;
            &::before{
                content: '';
                position: absolute;
                // background: linear-gradient(180deg, #F2EDE0 -31.08%, rgba(200, 154, 109, 0) 128.78%);
                // background: linear-gradient(90deg, #32C2DE 0%, rgba(50,194,222,0) 100%);
                background: linear-gradient(-180deg, hsla(0, 0%, 0%, 0.18) 100%, black 100%);
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                display: block;
                z-index: 9;
            }
            img{
                width: 100%;
                @media screen and (max-width: 999px) {
                   height: 320px;
                }
            }
            .hero_text{
                position: absolute;
                left: 8%;
                top: 35%;
                max-width: 1000px;
                z-index: 99;
                @media screen and (max-width:999px) {
                    top: 38%;
                }
                h1{
                    color: white;
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 73px;
                    @media screen and (max-width:999px) {
                        font-size: 20px;
                        line-height: 30px;
                        max-width: 400px;
                    }
                }
                p{
                    color: #FFFFFF;
                    font-size: 30px;
                    line-height: 38px;
                    font-weight: 400;
                    padding-bottom: 10px;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                        padding-bottom: 10px;
                        line-height: 20px;
                    }
                }
                .link{
                    display: block;
                    max-width: 190px;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 0;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                    transition: all 0.3s;
                    text-align: center;
                    border: 2px solid white;
                    margin-top: 50px;
                    font-family: 'Barlow Semi Condensed', sans-serif;
                    @media screen and (max-width:999px) {
                       max-width: 150px;
                       margin-top: 25px;
                       font-size: 12px;
                    }
                    &:hover{
                        background: white;
                        color: black;
                    }
                }
            }
        }
    }
    .section_title{
        text-align: center;
        padding-top: 80px;
        @media screen and (max-width: 767px) {
            padding-top: 30px;
        }
        p{
            color: #737373;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            padding-bottom: 10px;
            @media screen and (max-width: 999px) {
               font-size: 16px;
               padding-bottom: 5px;
            }
        }
        h4{         
            color: #212121;
            font-size: 48px;
            line-height: 73px;
            font-weight: 300;
            @media screen and (max-width: 999px) {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
}