.blog{
    .section_blog{
        .grid{
            // max-width: 950px;
            .section_title{
                padding: 50px 0 20px;
                border-bottom: 1px solid #007fa81f;
                @media screen and (max-width:999px) {
                    padding: 20px 0 10px;
                }
                h2{
                  color: #414241;
                  font-size: 28px;
                  font-weight: bold;
                     @media screen and (max-width:999px) {
                        font-size: 18px;
                    }
                }
            }
            .blog_list{
                padding-bottom: 80px;
                .list{
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 40px;
                    margin: 0 -10px;
                    .single_blog{
                        width: calc(100% / 2);
                        padding: 0 10px 20px;
                        @media screen and (max-width:767px) {
                            width: 100%;
                            padding: 0 0 20px;
                        }
                        .blog_link{
                            position: relative;
                            display: block;
                            .img{
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    background: #00000047;
                                    top: 0;
                                    bottom: 2px;
                                    right: 0;
                                    left: 0;
                                    display: block;
                                    z-index: 9;
                                    @include transition(all, 0.4s, ease);
                                } 
                                img{
                                    width: 100%;
                                }
                            }
                            .text{
                                position: absolute;
                                bottom: 30px;
                                left: 20px;
                                z-index: 99;
                                @media screen and (max-width:767px) {
                                    position: relative;
                                    bottom: 0;
                                    left: 0;
                                    padding-top: 15px;
                                }
                                h3{
                                    color: white;
                                    font-size: 42px;
                                    font-weight: bold;
                                    line-height: 50px;
                                    max-width: 450px;
                                    padding: 5px 0 10px;
                                    @media screen and (max-width:999px) {
                                        font-size: 16px;
                                        line-height: 22px;
                                        color: black;
                                    }
                                }
                                p{
                                    color: white;
                                    font-size: 13px;
                                    line-height: 21px;
                                    @media screen and (max-width:999px) {
                                        color: black;
                                    }
                                }
                                .read_more{
                                    color: #32c2de;
                                    font-size: 15px;
                                    letter-spacing: 0.29px;
                                    position: relative;
                                    max-width: 100px;
                                    @media screen and (max-width:999px) {
                                        font-size: 12px;
                                        &::before{
                                            display: none;
                                        }
                                    }
                                    &::before{
                                        content: 'east';
                                        @include MaterialFamily;
                                        position: absolute;
                                        right: 2px;
                                        top: 1px;
                                        opacity: 0;
                                        transform: translate(-15px, 0px);
                                        @include transition(all, 0.3s, ease); 
                                        
                                    }
                                }
                            }
                            &:hover{
                                .read_more{
                                    &::before{
                                        opacity: 1;
                                        transform: translate( 0px, 0px);
                                    }
                                }
                               
                            }
                        }
                    }
                }
            }
        }
       
    }
    .section_single_blog{
        .section_title{
            padding: 30px 0 20px;
            border-bottom: 1px solid #007fa81f;
            @media screen and (max-width:999px) {
                padding: 20px 0 10px;
            }
            .breadcramb{
                display: flex;
                align-items: center;
                padding-bottom: 15px;
                li{
                    a{
                        color: #737373;
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: 0.75px;
                        padding-left: 5px;
                        @include transition(all, 0.3s, ease); 
                    }
                    &:hover{
                        a{
                            text-decoration: underline;
                        }
                    }
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        pointer-events: none;
                        opacity: .7;
                    }
                }
            }
            h2{
              color: #414241;
              font-size: 28px;
              font-weight: bold;
                 @media screen and (max-width:999px) {
                    font-size: 18px;
                }
            }
        }
        img{
            width: 100%;
            padding-top: 20px;
            height: 380px;
        }
        .content_single_blog{
            padding: 40px 0;
            @media screen and (max-width:999px) {
               padding: 20px 0;
            }
            .section_title{
                text-align: center;
                padding-bottom: 20px;
                @media screen and (max-width:999px) {
                   padding-bottom: 10px;
                }
                h3{
                    color: #000000;
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 62px;
                    @media screen and (max-width:999px) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                p{
                    color: #000000;
                    font-size: 18px;
                    line-height: 26px;
                    padding-bottom: 10px;
                    @media screen and (max-width:999px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
            .content{
                max-width: 900px;
                margin: 0 auto;
                h2{
                    font-size: 20px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 16px;
                    }
                }
                h3{
                    font-size: 18px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 14px;
                    }
                }
                h4{
                    font-size: 16px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                h5{
                    font-size: 14px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                h6{
                    font-size: 12px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                p{
                    color: #414241;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 500;
                    padding: 10px 0;
                    @media screen and (max-width:999px) {
                        font-size: 12px;
                        line-height: 25px;
                        padding: 5px 0;
                    }
                    +p{
                        padding-top: 15px;
                    }
                }
                img{
                    display: block;
                    width: 100%;
                    margin: 10px 0;
                }
                strong{
                    font-weight: 700;
                }
                a{
                    display: inline-block;
                    color: #2075ff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                ul,
                ol {
                    padding: 10px 0;
                  li {
                    padding-#{$end}: 15px;
                    padding-bottom: 10px;
                    position: relative;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 28px;
                    color: #474747;
                    @media screen and (max-width:770px) {
                        font-size: 12px;
                        padding-#{$end}: 12px;
                        padding-bottom: 0;
                      }  
                    &::before {
                      content: "";
                      position: absolute;
                      #{$end}: 0;
                      width: 8px;
                      height: 8px;
                      background-color: $Aqua;
                      top: 9px;
                      border-radius: 50%;
                      @media screen and (max-width:770px) {
                        width: 5px;
                        height: 5px;
                        top: 10px;
                       }  
                    }
                  }
                }
                .video-box {
                    position: relative;
                    margin: 15px 0;
                    &::before {
                      content: "";
                      display: block;
                      padding-top: percentage(430/800);
                    }
                    .bg {
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-position: center;
                      position: relative;
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      z-index: 3;
                      border-radius: 2px;
                      &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: #000;
                        opacity: 0.3;
                        z-index: 1;
                      }
                      .player {
                        width: 70px;
                        height: 70px;
                        // background-image: url(../../assets/img/icons/play-icon.png);
                        background-size: cover;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        z-index: 2;
                        background: #1a191926;
                        border-radius: 50%;
                        @include transform(translate(-50%, -50%));
                        &::before {
                          content: "";
                          position: absolute;
                          background-image: url(../../assets/img/icons/play-icon.png);
                          background-size: cover;
                          background-size: 70px;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                        }
                      }
                    }
                    .youtube-video {
                      position: relative;
                      position: absolute;
                      z-index: 2;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      width: 100%;
                      height: 100%;
                      .videoIframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 2px;
                      }
                    }
                    &.active {
                      .bg {
                        opacity: 0;
                        pointer-events: none;
                      }
                    }
                  }
            }
        }
        
    }
}