.page_cart{
    .cart{
        padding: 70px 0 100px;
        @media screen and (max-width:479px) {
            padding: 30px 0 50px;              
        }
        .section_title_cart{
            position: relative;
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            h2{
                color: #414241;
                font-size: 21px;
                font-weight: bold;
                padding-#{$end}: 5px;
                padding-top: 5px;
                .count{
                    background: #007fa8;
                    color: white;
                    display: inline-block;
                    padding: 5px 8px;
                    border-radius: 50px;
                    font-size: 13px;
                    vertical-align: bottom;
                }
            }
            &::before {
                content: "shopping_bag";
                font-family: "Material Icons";
                font-size: 35px;
                #{$end}: 0;
                top: 0;
                color: black;
            }
        }
        .section_cart{
            .cart_list{
                .single_item{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border-top: 1px solid #c0c0c0;
                    padding: 20px 0;
                    @media screen and (max-width:479px) {
                        flex-direction: column;
                    }
                    &:first-child{
                        border-top: 0;
                        padding: 0;
                        padding-bottom: 15px;
                    }
                    &:last-child{

                        border-bottom: 1px solid #c0c0c0;
                    }
                    .sec_item{
                        display: flex;
                        width: calc(100% - 50%);
                        @media screen and (max-width:479px) {
                            width: 100%;
                        }
                        .img{
                            img{
                                border-radius: 2px;
                                height: 125px;
                                width: 100px;
                            }
                        }
                        .info{
                            display: flex;
                            justify-content: space-between;
                            // align-items: center;
                            padding-#{$end}: 15px;
                            width: calc(100% - 10%);
                            
                            .text{
                                position: relative;
                                @media screen and (max-width:479px) {
                                    width: 100%;
                                }
                                h4{
                                    color: #121212;
                                    font-size: 14px;
                                    font-weight: bold;
                                    line-height: 20px;
                                }
                                ul{
                                    // display: flex;
                                    padding: 10px 0;
                                    li{
                                        color: #6c707d;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 14px;
                                        padding-bottom: 8px;
                                    }
                                }
                                .remove_page_cart{
                                    color: #6c707d;
                                    font-size: 13px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    position: absolute;
                                    bottom: 0;
                                    @media screen and (max-width:479px) {
                                        font-size: 11px;
                                    }
                                }
                            }
                            p{
                                color: #000104;
                                font-size: 14px;
                                font-weight: bold;
                                @media screen and (max-width:479px) {
                                    display: none;
                                }
                            }
                        }
                    }
                    .section_count{
                        display: flex;
                        align-items: center;
                        border: 1px solid #6c757d;
                        position: relative;
                        &::before {
                            content: "expand_more";
                            @include MaterialFamily;
                            font-size: 16px;
                            color: inherit;
                            position: absolute;
                            color: #6c757d;
                            #{$start}: 15px;
                        }
                        select{
                            width: 100px;
                            padding: 13px 15px;
                            color: #6c757d;
                        }                    
                    }
                    .total_price{
                        color: #000104;
                        font-size: 14px;
                        font-weight: bold;
                        @media screen and (max-width:479px) {
                            align-self: flex-end;
                        }
                    }
                }
            }
           
            .cart_action{
                display: flex;
                justify-content: space-between;
                padding-top: 25px;
                @media screen and (max-width:479px) {
                    flex-direction: column;
                }
                .left{
                    .cart_total-item-coupon{   
                        margin-right: 20px;
                        display: inline-flex;
                        flex-direction: row;
                        align-items: flex-end;
                        width: 100%;
                        @media (max-width:1025px){
                            flex-direction: column-reverse;
                            align-items: flex-start;
                        }  
                        @media screen and (max-width:767px) {
                            margin-right: 0;
                        }
                    }
                    .open-coupon{
                        // display: inline-block;
                        color: #6c757d;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;
                        text-align: left;
                        &:hover{
                            text-decoration: underline;
                        }
                        &.active{
                                opacity: 0;
                        }
                    }
                    .close-coupon{
                        position: absolute;
                        top: -20px;
                        right: 0;
                        z-index: 1;
                        border: none;
                        i{
                            font-size: 14px;
                        }
                    }
                    .discount-form{
                        display: none !important;
                        width: 340px;
                        position: relative;
                        margin: 0 15px 0 0;
                        @media screen and (max-width:767px) {
                            margin-bottom: 20px;
                            width: 100%;
                        }
                        &.active{
                            display: block !important;
                        }
                        .coupon{
                            position: relative;
                            display: flex;
                            label{
                                position: absolute;
                                top: -19px;
                                font-size: 13px;
                                font-weight: 500;
                                color: #6c757d;                                
                            }
                            input{
                                width: 170px;
                                padding: 0px 10px;
                                height: 46px;
                                border: 1px solid #6c757d;
                                font-size: 14px;
                                color: #000;
                                @media screen and (max-width:767px) {
                                    width: 100%;
                                }
                                &::placeholder{
                                    opacity: 0;
                                }
                            }
                            .btn{
                                width: 170px;
                                font-size: 16px;
                                padding: 0 25px;
                                background: #007fa8;
                                color: white;
                                line-height: 34px;
                                font-weight: 500;
                                margin-#{$end}: 10px; 
                                @include transition (all, 0.3s, ease-in-out);
                                &:hover{
                                    background: #026e91;
                                }
                                @media screen and (max-width:767px) {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
                .right{
                    .total_price{
                        padding-bottom: 18px;
                        p{
                            font-size: 14px;
                            font-weight: 300;
                            text-align: right;
                            text-transform: uppercase;
                            letter-spacing: 0.5px;
                        }
                        .sec_price{
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            padding-top: 10px;
                            .cart_total{
                                font-size: 18px;
                                font-weight: bold;
                                text-transform: uppercase;
                                letter-spacing: 0.64px;
                                &.discount{
                                    font-size: 12px;
                                    text-decoration: line-through;
                                    font-weight: 300;
                                    padding-#{$start}: 10px;
                                }
                            }
                        }
                      
                      
                    }
                    a{
                        width: 350px;
                        display: block;
                        @media screen and (max-width:479px) {
                            width: 100%;
                        }
                        button{
                            background: #007fa8;
                            border-radius: 2px;
                            width: 100%;
                            padding: 15px 0;
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            font-weight: 500;
                            transition: all .3s ease;
                            &:hover{
                                background: #026e91;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .product.related{
        background: #eaf8fb;
       
    }
}