.page_checkout{
  padding: 50px 0 100px;
  @media screen and (max-width:770px) {
   padding: 25px 0;
  }
  .grid{
      max-width: 1100px;
      .checkout-content {
        display: flex;
        margin-top: 15px;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        @media (max-width:999px) {
            flex-direction: column;
            margin-top: 0;
        }
        .page-title{
          width: 100%;
          padding-bottom: 30px;
            h1{
                font-family: "Bosch Sans Bold";
                font-size: 28px;
                font-weight: bold;
                letter-spacing: 1.75px;
                line-height: 35px;
                padding-bottom: 20px;
                border-bottom: 1px solid #007fa83b;
            }
        }
        .checkout-form {
            background: #ffffff;
            // box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.1);
            border: 3px solid #32C2DE;
            width: calc(100% - 375px - 58px);
            @media screen and (max-width:999px) {
                width: 100%;
                order: 3;
            }
            .woocommerce-error{
                li{
                    padding-bottom: 15px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
            form{
              padding: 45px 50px;
                @media screen and (max-width:999px) {
                  padding: 45px 20px;
                }
            }
        }
        #customer_details{
          display: flex;
          flex-direction: column;
          float: none;
          width: 100%;

          .col-1,.col-2{
              float: none;
              width: 100%;
              margin: 0;
          }
          .woocommerce-shipping-fields,.woocommerce-additional-fields{
            display: none;
          }
          .billing-fileds-container{
            padding-bottom: 30px;
            width: 70%;
            @media screen and (max-width:999px) {
               width: 100%;
            }
            h2{
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.5px;
              line-height: 23px;
              padding-bottom: 35px;
            }
            h3{
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.44px;
              line-height: 20px;
              padding-bottom: 15px;
            }
            .form-row{
              &.form-row-first{
                width: 49% !important;
                @media screen and (max-width:999px) {
                   width: 100% !important;
                }
              }
            }
          }
          .form-row{
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
                @media screen and (max-width:999px) {
                    width: 100% !important;
                }
              label{
                  font-size: 12px;
                  color: #6C757D;
                  font-weight: 600;
                  line-height: 23px;
                  position: relative !important;
                  overflow: unset;
                  width: auto;
                  height: auto;
                  .optional{
                      display: none;
                  }
              }
              input.input-text {
                  background: white;
                  font-weight: 600;
                  font-size: 14px;
                  color: rgba(0,0,0,0.85);
                  border: 1px solid #6C757D;
                  line-height: 44px;
                  padding: 0 16px;
                  width: 100%;
                  box-shadow: none;
                  @include transition(0.3s);
              }
              .select2-container{
                  width: 100% !important;
                  z-index: auto !important;
              }
              &.property-type{

                  label{
                      font-size: 14px;
                      font-weight: 700;
                      margin-top: 10px;
                      margin-bottom: 3px;
                      color: #121212; 
                  }

                  span{
                      display: flex;
                      margin-top: 14px;
                      label {
                          padding-right: 25px;
                          position: relative;
                          display: flex;
                          align-items: center;
                          cursor: pointer;
                          font-size: 14px;
                          font-weight: 700;
                          user-select: none;
                          color: #454c51;
                          margin-top: 0;
                          margin-right: 0;
                          margin-left: 20px;
                          &::before {
                              content: "radio_button_unchecked" !important;
                              @include MaterialFamily;
                              font-size: 20px;
                              color: #000000 !important;
                              position: absolute;
                              top: 1px;
                              right: 0;
                              line-height: 20px;
                              @include transition(0.2s);
                          }
                      }

                      input {
                          display: none;
                          &:checked {
                              & + label {
                                  &::before {
                                      content: "radio_button_checked" !important;
                                  }
                              }
                          }
                      }
                  }
              }
              &.woocommerce-invalid{
                  label{
                      color: #121212 !important;
                  }
                  .input-text{
                      border: 1px solid #fd4960;
                  }
              }
          }
        }
        #payment {  
          background: none !important;
          border-radius: 0 !important;
          border-top: 1px solid #ECEDF0;
          padding-top: 30px;
          // .payemnt-fields{
          //     padding: 25px 17px 15px 20px;
          //     @media (max-width:767px){
          //         padding: 20px 15px 10px;

          //     }
          //     p{
          //         padding-top: 5px;
          //     }
          //     h3{
          //         font-size: 14px;
          //         font-weight: 700;
          //         margin-bottom: 15px;
          //         color: #121212;
          //     }
          // }
            h3{
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.44px;
              line-height: 20px;
              padding-bottom: 15px;
            }
          .payment_methods {
              border: none !important;
              padding: 0 !important;
              .wc_payment_method {
                  display: flex;
                  flex-direction: column;
                  background-color: transparent;
                  padding-bottom: 5px;
                  &:last-child{
                      padding-bottom: 0;
                  }
                  &>input {
                      display: none;
                      &:checked {
                          &~label {
                              &::before {
                                  content: "radio_button_checked" !important;
                              }
                          }
                      }
                  }
                  &>label {
                      padding: 0;
                      padding-left: 25px;
                      white-space: nowrap;
                      position: relative;
                      display: flex;
                      align-items: center;
                      cursor: pointer;
                      font-size: 14px;
                      font-weight: 700;
                      user-select: none;
                      margin-bottom: 10px;
                      color: #454c51;
                      &::before {
                          content: "radio_button_unchecked" !important;
                          @include MaterialFamily;
                          font-size: 20px;
                          color: #000000 !important;
                          position: absolute;
                          top: 4px;
                          left: 0;
                          line-height: 20px;
                          @include transition(0.2s);
                      }
                      img {
                          height: 28px;
                          margin: 0 0 0 10px;
                          border-radius: 5px;
                          body.rtl & {
                              margin: 0 10px 0 0;
                          }
                      }


                  }
                  &.payment_method_nodepayment{
                      label{
                            &::after{
                                content: '';
                                background-image: url('../img/icons/payment_icon.png');
                                background-repeat: no-repeat;
                                background-size: 120px;
                                width: 180px;
                                height: 24px;
                                margin: 0 8px;
                                body.rtl & {
                                   width: 130px;
                                }
                            }
                          p{
                              position: relative;
                              &::before{
                                  content: "";
                                  right: 100%;
                                  background: url(../img/icons/visaicon.png);
                                  background-repeat: no-repeat;
                                  position: absolute;
                                  top: 2px;
                                  width: 73px;
                                  height: 25px;
                                  margin-right: 8px;
                              }
                          }
                      }
                    
                  }
                  &.payment_method_mdm_gateway{
                      p{
                          position: relative;
                          &::before{
                              content: "";
                              right: 100%;
                              background: url(../img/footer/meza.png);
                              background-repeat: no-repeat;
                              position: absolute;
                              top: -4px;
                              width:40px;
                              height: 35px;
                              margin-right: 8px;
                              background-size: contain;
                              background-position: center right;
                          }
                      }
                  }
              }

              .payment_box {
                  background-color: transparent;
                  // text-align: right;
                  padding: 0;
                  margin: 0;
                  border-radius: 0;
                  max-width: 350px;
                  margin-top: 10px;
                  &::before{
                      display: none;
                  }
                  fieldset{
                      padding: 0;
                      margin: 0;
                    //   input{
                    //       direction: ltr !important;
                    //       text-align: right !important;
                    //   }
                  }
                  fieldset#wc-nodepayment-cc-form {
                      .form-row{
                          width: auto;
                          display: inline-block;
                          margin-bottom: 15px;
                          vertical-align: top;
                          padding: 0;
                          min-width: 90px;
                          float: none;
                          margin-left: 0;
                          &.form-row-wide{
                              width: 100%;
                          }
                      }
                  }
                  label {
                      font-size: 12px;
                      // color: $GrayBlue;
                      font-weight: 600;
                  }
                  .custom-rowI{
                      display: flex;
                  }
                  input#card-number,input#cardholder-name {
                      background: white;
                      border-radius: 4px;
                      font-weight: 500;
                      font-size: 14px;
                      color: rgba(0,0,0,0.85);
                      line-height: 44px;
                      padding: 0 16px;
                      width: 100%;
                      margin: 0;
                      border: 1px solid #6C757D;
                      @include transition(0.3s);
                  }
                  input#security-code {
                      width: 70px;
                      height: 44px;
                      background: white;
                      border-radius: 4px;
                      font-weight: 500;
                      font-size: 14px;
                      color: rgba(0,0,0,0.85);
                      line-height: 44px;
                      padding: 0 16px;
                      margin: 0;
                      border: 1px solid #6C757D;
                  }
                  select {
                      direction: ltr;
                      width: 90px;
                      height: 44px;
                      background: white;
                      border-radius: 4px;
                      font-weight: 700;
                      font-size: 14px;
                      padding: 10px 12px;
                      // text-align: center;
                      background-image: url(../img/icons/select-arrow.png);
                      background-repeat: no-repeat;
                      background-position: calc(100% - 8px) center;
                      -webkit-appearance: none;
                      cursor: pointer;
                      float: none;
                      margin-right: 10px;
                      border: 1px solid #6C757D;
                  }
              }
          }


          .woocommerce-terms-and-conditions-wrapper {
              margin-bottom: 15px;
              .woocommerce-privacy-policy-text{
                  display: none;
              }
              p {
                  padding: 0;
                  margin: 0;
                  font-size: 0;
              }
              .checkbox {
                  display: block;
                  color: #363636;
                  padding: 0;
                  margin: 0;
                  font-size: 0;
                  line-height: inherit;
                  input {
                      display: none;
                      // &:checked {
                      //     &~.woocommerce-terms-and-conditions-checkbox-text {
                      //         &::before {
                      //             content: "check_box";
                      //         }
                      //     }
                      // }
                  }
                  .required {
                      display: none;
                  }
                  // .woocommerce-terms-and-conditions-checkbox-text {
                  //     font-weight: 600;
                  //     display: block;
                  //     position: relative;
                  //     text-transform: none;
                  //     color: #231F20;
                  //     font-size: 12px;
                  //     letter-spacing: 0;
                  //     line-height: 21px;
                  //     a {
                  //       text-decoration: underline;
                  //         // color: $Blue;
                  //         // &::after {
                  //         //     content: "open_in_new";
                  //         //     @include MaterialFamily;
                  //         //     font-size: 16px;
                  //         //     // color: $Blue;
                  //         //     vertical-align: middle;
                  //         //     margin-right: 4px;
                  //         //     font-weight: 400;
                  //         //     color: red;
                  //         // }
                  //         // &:hover {
                  //         //     text-decoration: underline;
                  //         //     &::after{
                  //         //         color: black;
                  //         //     }
                  //         // }
                  //     } 
                  //     // &::before {
                  //     //     content: "check_box_outline_blank";
                  //     //     @include MaterialFamily;
                  //     //     font-size: 24px;
                  //     //     color: #4f5a65;
                  //     //     position: absolute;
                  //     //     right: 0;
                  //     //     top: -10px;
                  //     //     @include transition(0.2s);
                  //     // }
                  // }
              }
          }

          .place-order {
              margin: 0;
              background-color: transparent;
              padding: 30px 0 0;
              .button#place_order {
                  display: inline-block;
                  font-size: 17px;
                  font-weight: 700;
                  color: white !important;
                  background: #007FA8;
                  // background: linear-gradient(-180deg, #3bcd1b 0%, #1eb10d 100%);
                  // font-family: cairo;
                  line-height: 50px;
                  height: 50px;
                  text-transform: uppercase;
                  text-align: center;
                  border: none;
                  padding: 0 30px;
                  width: 100%;
                  max-width: 100%;
                  float: none;
                  @include transition(0.3s);
                  white-space: nowrap;
                  margin: 0;
                  &:hover {
                      background: #006a8d;
                  }
              }
          }
          .woocommerce-terms-and-conditions-checkbox-text {
            font-weight: 600;
            display: block;
            position: relative;
            text-transform: none;
            color: #231F20;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 21px;
            max-width: 400px;
            margin-top: 15px;
                a {
                text-decoration: underline;
                    // color: $Blue;
                    // &::after {
                    //     content: "open_in_new";
                    //     @include MaterialFamily;
                    //     font-size: 16px;
                    //     // color: $Blue;
                    //     vertical-align: middle;
                    //     margin-right: 4px;
                    //     font-weight: 400;
                    //     color: red;
                    // }
                    // &:hover {
                    //     text-decoration: underline;
                    //     &::after{
                    //         color: black;
                    //     }
                    // }
                } 
            }
        }

        .order_review-content {
            padding-left: 58px;
            width: 375px;
            box-sizing: content-box;
            @media screen and (max-width:999px) {
                width: 100%;
                padding: 0 0 20px 0;
                box-sizing: border-box;
            }
            #order_review {
                background: #ffffff;
                box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                padding: 20px 14px 12px;
                width: 375px !important;
                float: none !important;
                z-index: 9;
                @media (max-width:999px) {
                    width: 100% !important;
                    .order-title{
                        margin-bottom: 0;
                    }
                    .shop_table{
                        .t_body{
                            display: none !important;
                        }
                    }
                }
                .order-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(131, 131, 131, 0.18);
                    padding-bottom: 16px;
                    margin-bottom: 20px;
                    .right{
                        h3{
                            color: #121212;
                            font-size: 14px;
                            font-weight: bold;     
                            margin-bottom: 0;                   
                        }
                    }
                    .left{
                        a{
                            display: block;
                            position: relative;
                            color: #33c2de;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                            padding: 4px 30px;
                            background: white;
                            border: 1px solid #33c2de;
                            &:hover{
                                background: #33c2de;
                                color: white;
                            }
                            // &::before {
                            //   content: "arrow_back";
                            //   @include MaterialFamily;
                            //   font-size: 12px;
                            //   position: absolute;
                            //   color: #a7a7a7;
                            //   top: 0;
                            //   left: 0;
                            //   cursor: pointer;
                            //   pointer-events: none; 
                             
                            // }
                        }
                    }
                }
                .shop_table {
                    padding: 0;
                    border: none;
                    text-align: #{$end};
                    margin: 0;
                    tbody{
                        display: table-caption;
                        // padding-bottom: 20px;
                    }
                    tfoot {
                        tr.cart-subtotal{
                            th,td{
                                padding-top: 12px !important;
                            }
                        }
                        tr.cart-shipping{
                            th,td{
                                padding-bottom: 10px;
                            }
                        }
                        tr.order-total {
                            th,
                            td {
                                // border-top: 1px solid #e4e4e4;
                                font-weight: 700;
                                font-size: 18px;
                                vertical-align: top;
                                background-color: transparent;
                                padding-top: 12px;
                                color: #121212;
                            }
                            th{
                                font-size: 14px !important;
                            }
                        }
                        th {
                            text-align: left;
                            border: none;
                            font-size: 12px;
                            font-weight: 600;
                            color: #6c707d;
                            padding: 6px 0 !important;
                            background-color: transparent;
                            vertical-align: middle;
                        }
                        td {
                            border: none;
                            text-align: right;
                            font-size: 12px;
                            padding: 6px 0 !important;
                            color: #121212;
                            font-weight: 500;
                            .woocommerce-Price-amount.amount{
                                color: #000 !important;
                            }
                            .includes_tax {
                                display: none;
                            }
                        } 
                    }
                    tr.cart_item {
                        display: block;
                        width: 100%;
                        td{
                            width: 100%; 
                            display: block;
                            padding: 0 0 15px;
                            border-top: 1px solid #e3e3e3;
                        }
                        &:first-child{
                            td{
                                border-top: 0;
                            }
                        }
                        // &:last-child{
                        //     td{
                        //         padding: 15px 0 0 !important;
                        //     }
                        // }
                        // &~ .cart_item {
                        //     td {  
                        //         padding: 15px 0;
                        //         border-top: 1px solid #e3e3e3;
                        //     }
                        // }
                  
                        td {
                            width: 100%;      
                            // padding: 0;
                            border: none;
                            line-height: normal;
                            background-color: transparent;
                        }
                    }
                    .product-thumb-name {
                        display: flex;
                        padding: 0;
                        font-size: 0;
                        align-items: flex-start;
                        img {
                            display: block;
                            width: 70px;
                            float: none;
                            margin: 0;
                            height: auto;
                        }
                        .product-name-container {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: calc(100% - 70px);
                            padding-#{$end}: 10px;
                            position: relative;
                            .right{
                                width: 60%;
                                .product-title {
                                    margin-bottom: 0;
                                    text-decoration: none;
                                    font-size: 12px;
                                    color: #000;
                                    font-weight: 600;
                                    line-height: 20px;
                                }
                                .variation {
                                    padding: 0;
                                    border: none;
                                    margin-top: 4px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    dt,
                                    dd {
                                        font-weight: 400;
                                        font-size: 10px;
                                        color: #4F4F4F;
                                        padding: 0;
                                        display: inline-block;
                                        float: none;
                                        margin: 0;
                                        line-height: 12px;
                                        // color: $Gray;
                                        p {
                                            font-size: inherit;
                                        }
                                    }
                                    dt~dt {
                                        margin-#{$end}: 4px;
                                        border-#{$end}: 1px solid;
                                        padding-#{$end}: 8px;
                                    }
                                    dd {
                                        padding-#{$end}: 3px;
                                    }
                                }
                            }
                            .left{
                                width: calc(100% - 60%);
                                text-align: right;
                                .woocommerce-Price-amount.amount {
                                    color: black;
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                            }
                            .product-quantity {
                                width: 100%;
                                font-size: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 10px;
                                margin-top: 4px;
                            }
                        }
                    }
                    tr.coupon-section{
                        td{
                            .coupon-row {
                                position: relative;
                                overflow: hidden;
                                border-top: 1px solid #c9c9c9;
                                border-bottom: 1px solid #c9c9c9;
                                padding: 10px 0;
                                .open-coupon {
                                    color: #6c707d;
                                    font-size: 12px;
                                    font-weight: 500;
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    cursor: pointer;
                                    @include transition(0.3s);
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                    &.active {
                                        opacity: 0;
                                        pointer-events: none;
                                    }
                                }
                                .woocommerce-error,
                                .woocommerce-info,
                                .woocommerce-message {
                                    margin: 0 0 10px;
                                    padding: 0;
                                    background-color: transparent;
                                    border: none;
                                }
                                .woocommerce-message {
                                    color: #0ebfb2;
                                    margin: 0;
                                    font-weight: 400;
                                    &~ {
                                        form,
                                        .open-coupon {
                                            display: none !important;
                                        }
                                    }
                                }
                                .woocommerce-error {
                                    background: transparent !important;
                                    border: none !important;
                                    padding: 10px 0 !important;
                                    &~.open-coupon {
                                        padding-top: 43px;
                                    }
                                    li {
                                        color: red;
                                    }
                                }
                                form {
                                    margin: 0;
                                    border: none;
                                    // @include PoFull;
                                    padding: 0;
                                    background: #fff;
                                    opacity: 0;
                                    pointer-events: none;
                                    display: flex !important;
                                    &.active {
                                        opacity: 1;
                                        pointer-events: auto;
                                    }
                                    .close-coupon {
                                        line-height: 23px;
                                        margin-bottom: -7px;
                                        border: none;
                                        i {
                                            font-size: 15px;
                                            margin-right: 5px;
                                        }
                                    }
                                    .coupon {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;
                                        .input-text {
                                            font-size: 12px;
                                            height: 42px;
                                            line-height: 30px;
                                            padding: 0 12px;
                                            width: calc(100% - 35%);
                                            color: #121212;
                                            border: 1px solid #6c757d;
                                            &::placeholder{
                                                color: #121212;
                                                font-weight: 600;
                                            }
                                        }
                                        .btn {
                                            line-height: 30px;
                                            width: 33%;
                                            height: 42px;
                                            /* text-transform: uppercase; */
                                            font-size: 12px;
                                            padding: 0 10px;
                                            background: #007fa8;
                                            color: white;
                                            border-radius: 0;
                                            border: none;
                                            font-weight: 500;
                                            @include transition(0.3s);
                                            &:hover{
                                                background: #026e91;
                                            }
                                        }
                                    }
                                }
                                @media screen and (max-width:767px) {
                                    .open-coupon {
                                        font-size: 12px;
                                        img {
                                            width: 16px;
                                        }
                                        .btn {
                                            font-size: 12px;
                                            width: auto;
                                            padding: 0 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }
      
        .coupon-form-checkout{
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #121212;
            border-radius: 4px;
            padding: 10px 20px;
            span.close-form{
                position: absolute;
                top: -21px;
                right: 0;
                i{
                    font-size: 13px;
                    color: #121212;
                    cursor: pointer;
                }
            }
            .woocommerce-form-coupon-toggle{
                order: 2;
                .woocommerce-info{
                    border: none;
                    margin: 0;
                    padding: 0;
                }
                
            }
            form.checkout_coupon{
                margin: 0;
                background-color: #fbfcff;
                justify-content: space-between;
                align-items: center;
                order: 3;
                &.active{
                    display: flex !important;
                }
                p{
                    display: none;
                    &.form-row{
                        display: inline-block;
                        &.form-row-first{
                            width: 70%;
                            input{
                                width: 100%;
                                font-family: cairo;
                                font-size: 14px;
                                &:focus{
                                    background-color: #fbfcff;
                                }
                            }
                        }
                        &.form-row-last{
                            width: 30%;
                            text-align: left;
                            .button{
                                background-color: #2B2B2B;
                                font-family: cairo;
                                font-size: 14px;
                                padding: 0 16px;
                                &:hover{  
                                    background-color: #121212;
                                }
                            }
                        }
                    }
                }
            }
            .woocommerce-error{
                background-color: transparent !important;
                border: none !important;
                padding: 0 !important;
                color: red !important;
                order: 1;
            }
        }

      
      
       

        // hide
        .shipping-fileds-container{
            display: none;
            width: 100%;
            padding-top: 30px;
            margin-top: 20px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                height: 1px;
                background-color: #ecedf0;
                left: -20px;
                right: -17px;
            }
            select{
                -webkit-appearance: none;
                display: block;
                background-color: #f6f8fa;
                width: 100%;
                height: 44px;
                font-size: 14px;
                color: #000000;
                font-weight: 600;
                background-image: url(../img/icons/select-arrow.png);
                background-repeat: no-repeat;
                background-position: 5% 50%;
                padding: 0 12px;
                cursor: pointer;
            }
            .same-row{
                width: 84px !important;
                display: inline-block !important;
                &.require-build{
                    &.hide{
                        display: none !important;
                    }
                }

                &.woocommerce-invalid-required-field{
                    input{  
                        border: 1px solid #F44336;
                    }
                }

            }
            .form-row{
                &.woocommerce-invalid-required-field{
                    label{
                        color: #121212 !important;
                    }
                    .select2-selection__rendered{
                        border: 1px solid #fd4960;
                    }
                    .input-text {
                        border: 1px solid #fd4960 !important;
                    }
                }
            }
        }
        .login-top-part{
          display: none;
          padding: 23px 16px 19px;
          border-bottom: 1px solid #ecedf0;
          a.checkout-login{
              background-color: #fbf6f0;
              line-height: 30px;
              font-size: 12px;
              font-weight: bold;
              color: #121212;
              padding: 2px 12px;
              border-radius: 2px;
              display: table;
              margin-bottom: 10px;
              transition: .2s all ease-in-out;
              display: none;
              &:hover{
                  background-color: #f9ebdb;
              }
          }

          .checkout-login-tabs{
              display: none;
              .rows{
                  display: flex;
                  @media (max-width:767px){
                      flex-direction: column;
                  }
                  .row{
                      display: inline-flex;
                      align-items: center;
                      background-color: #ECEDF0;
                      transition: 0.2s all ease-in-out;
                      padding: 0 15px;
                      width: 50%;
                      cursor: pointer;
                      justify-content: center;
                      height: 50px;
                      border-radius: 4px 0 0 4px;
                      @media (max-width:767px) {
                          width: 100%;
                          max-width: 100%;
                          margin-bottom: 10px;
                      }
                      &:hover{
                          background-color: rgba(106, 109, 205, 0.20);
                      }
                      .image{
                          display: inline-block;
                      }
                      .content{
                          display: flex;
                          flex-direction: column;
                          width: 100%;
                          height: 100%;
                          justify-content: center;
                          align-items: center;
                          p{
                              font-size: 12px;
                              font-weight: bold;
                              letter-spacing: 0.21px;
                              color: #6C707D;
                              line-height: 1.5;
                          }
                          span{
                              display: block;
                              font-size: 11px;
                              font-weight: 600;
                              letter-spacing: 0.19px;
                              line-height: 1.3;
                              color: #fff;
                              text-align: center;
                              strong{
                                  display: table;
                                  position: relative;
                                  &::before{
                                      content: "";
                                      background-color: #ffc20a;
                                      opacity: 0.2;
                                      position: absolute;
                                      left: 0;
                                      right: 0;
                                      top: 50%;
                                      height: 12px;
                                      margin-top: -5px;
                                      pointer-events: none;
                                  }
                              }
                          }
                      }

                      &.guest{
                          background-color: red;
                          pointer-events: none;
                          color: #fff;
                          border-radius: 0px 4px 4px 0px;
                          .content{
                              p{
                                  color: #fff;
                              }
                          }
                      }
                  }
              }
          }

        
        }
    }
  }
}