.contact_us{
    .grid{
        max-width: 1450px;
        position: relative;
    }
   .sec_form{
        display: flex;
        padding: 60px 0 100px;
        justify-content: center;
        max-width: 1250px;
        margin: 0 auto;
        @media screen and (max-width:999px) {
            flex-direction: column;
            padding: 40px 0 50px;
         }
        .section_title{
            width: 50%;
            @media screen and (max-width:999px) {
               width: 100%;
               padding-bottom: 30px;
             }
            .sec_img_contact{
                // position: relative;
                height: 100%;
                @media screen and (max-width:999px) {
                    position: relative;
                }
                img{
                    width: 100%;
                    height: 622px;
                    @media screen and (max-width:999px) {
                        height: 420px;
                    }
                }
                .hover_box{
                    position: absolute;
                    top: 10%;
                    left: 0;
                    width: 380px;
                    background: #ffffffdb;
                    @media screen and (max-width:1025px) {
                        width: 270px;
                     }
                    .box{
                        padding: 30px 10px;
                        h2{
                            font-size: 21px;
                            font-weight: normal;
                            text-transform: uppercase;
                            letter-spacing: 0.61px;
                            padding-bottom: 10px;
                            @media screen and (max-width:1025px) {
                                font-size: 16px;
                            }
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                padding-bottom: 4px;
                            }
                        }
                        p{
                            font-size: 60px;
                            font-weight: bold;
                            line-height: 73px;
                            @media screen and (max-width:1025px) {
                                font-size: 40px;
                                font-weight: bold;
                                line-height: 50px;
                            }
                            @media screen and (max-width:999px) {
                                font-size: 34px;
                            }
                        }
                    }
                }
            }
        }
        .form_content{
            width: calc(100% - 60%);
            padding-left: 15px;
            @media screen and (max-width:999px) {
               width: 100%;
               padding-left: 0;
            }
            h3{
             font-weight: bold;
             font-size: 28px;
             line-height: 35px;
             @media screen and (max-width:999px) {
               font-size: 22px;
               line-height: 28px;
            }
            }
            p{
             color: #7E7E7E;
             font-weight: normal;
             font-size: 13px;
             line-height: 16px; 
             padding: 10px 0 25px;
             @media screen and (max-width:999px) {
                font-size: 11px;
            }
            }
            form{
             .row{
                 margin-right: 0 !important;
                 margin-left: 0 !important;
                 h2{
                     color: black;
                     font-size: 15px;
                     font-weight: 800;
                     text-align: center;
                     padding-bottom: 30px;
                 }
                 .col-sm-6{
                     padding-right: 0 !important;
                     padding-left: 0 !important;
                     &.first_col{
                         padding-#{$start}: 5px !important;
                     }
                     &.last_col{
                         padding-#{$end}: 5px !important;
                     }
                 }
                 .col-sm-12{
                     padding-right: 0 !important;
                     padding-left: 0 !important;
                 }
                 .form-group{
                     display: inline-block;
                     width: 100%;
                     padding-bottom: 25px;
                     label{
                         color: #414241;
                         font-size: 12px;
                         font-weight: bold;
                         padding-bottom: 6px;
                         margin-bottom: 0;
                         span{
                             color: red;
                             font-size: 12px;
                         }
                     }
                     .form-control{
                         background: #ffffff;
                         border: 1px solid #c1c9d2;
                         border-radius: 4px;
                         color: #414241;
                         font-size: 14px;
                         width: 100%;
                         padding: 10px;
                         height: auto;
                         box-shadow: none;
                     }
                     textarea{
                         width: 100%;
                         border: 1px solid #c1c9d2;
                         border-radius: 4px;
                         font-size: 16px;
                         resize: none;
                         padding: 15px !important;
                         height: 167px !important;
                     }
                     .btn{
                         background: #007FA8;
                         width: 100%;
                         padding: 12px 0 8px;
                         color: #fff;
                         font-size: 20px;
                         font-weight: bold;
                         transition: all .3s ease;
                         line-height: 38px;
                         text-transform: uppercase;
                         border: 0;
                         &:hover {
                             background: #006a8d;
                         }
                     }
                 }
                 
             }
             
             
         }
        }
   } 
  .section_branches{
      display: flex;
      padding-bottom: 100px;
      justify-content: center;
      max-width: 1250px;
      margin: 0 auto;
        @media screen and (max-width:999px) {
            flex-direction: column-reverse;
            padding-bottom: 50px;
        }
      .all_branches{
        width: 50%;
        @media screen and (max-width:999px) {
           width: 100%;
        }
        .branches{
            background: #32C2DE;
            padding: 100px;
            width: 100%;
            @media screen and (max-width:999px) {
                padding: 30px;
            }
            .col{
                padding-bottom: 50px;
                h6{
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 18px;
                    padding-bottom: 5px;
                    margin-left: -3px;
                    span{
                        font-family: "Material Icons" !important;
                        text-transform: none;
                        display: inline-block;
                        margin-right: 7px;
                        font-size: 15px;
                        vertical-align: bottom;
                    }
                }
                p{
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 18px;
                }
                a{
                    color: #FFFFFF;
                    font-size: 12px;
                    line-height: 18px;
                    padding-top: 8px;
                    display: block;
                    &:hover{
                        text-decoration: underline;
                    }
                    span{
                        font-family: "Material Icons" !important;
                        text-transform: none;
                        display: inline-block;
                        margin-right: 2px;
                        font-size: 13px;
                        vertical-align: sub;
                    }
                }
            }
            .single_branche{
                h4{
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 18px;
                    padding-bottom: 12px;
                    margin-left: -3px;
                    span{
                        font-family: "Material Icons" !important;
                        text-transform: none;
                        display: inline-block;
                        margin-right: 7px;
                        font-size: 15px;
                        vertical-align: bottom;
                    }
                }
                .pin_drop{
                    padding-bottom: 25px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    p{
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 18px;
                    }
                    a{
                        color: #FFFFFF;
                        font-size: 12px;
                        line-height: 18px;
                        padding-top: 4px;
                        display: block;
                        margin-left: -5px;
                        &:hover{
                            text-decoration: underline;
                        }
                        span{
                            font-family: "Material Icons" !important;
                            text-transform: none;
                            display: inline-block;
                            margin-right: 2px;
                            font-size: 13px;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
       
      }
      .section_image{
        width: calc(100% - 60%);
        padding-left: 15px;
        @media screen and (max-width:999px) {
            width: 100%;
            padding-left: 0;
            font-size: 0;
         }
        img{
            width: 100%;
            height: 100%;
            @media screen and (max-width:999px) {
               height: 420px;
             }
        }
      }
  }
}