.page_home{
    .section_hero_home{
        .hero_image{
            position: relative;
            // max-width: 1680px;
            // margin: 0 auto;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.349) 0%, hsla(0, 0%, 0%, 0) 100%);
                opacity: 0.3;
                z-index: 1;
            }
            img{
                width: 100%;
                @media screen and (max-width:767px) {
                    min-height: 350px;
                    object-fit: cover;
                }    
            }
            .hero_text{
                position: absolute;
                left: 8%;
                top: 40%;
                max-width: 600px;
                z-index: 8;
                @media screen and (max-width:999px) {
                    top: 42%;
                    left: 20px;
                    right: 20px;
                }
                p{
                    color: white;
                    font-size: 36px;
                    font-weight: 300;
                    @media screen and (max-width:999px) {
                        font-size: 20px;
                        padding-bottom: 10px;
                    }
                }
                h1{
                    color: white;
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 73px;
                    @media screen and (max-width:999px) {
                        font-size: 28px;
                        line-height: 36px;
                        max-width: 400px;
                    }
                }
            }
        }
    }
    .section_sub_hero{
        text-align: center;
        padding: 200px 0;
        max-width: 1000px;
        margin: 0 auto;
        @media screen and (max-width:999px) {
           padding: 100px 0;
        }
        @media screen and (max-width:767px) {
            padding: 50px 0 0;
        }    
        h3{
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 1.05px;
            @media screen and (max-width:999px) {
                font-size: 22px;
            }
        }
        p{
            font-size: 21px;
            font-weight: 300;
            line-height: 42px;
            padding-top: 15px;
            @media screen and (max-width:999px) {
               font-size: 14px;
               line-height: 29px;
               padding: 15px 15px 0;
            }
        }
    }
    .section_hotels{
        padding-bottom: 200px;
        @media screen and (max-width:999px) {
           padding-bottom: 100px;
        }
         @media screen and (max-width:767px) {
            padding: 50px 0;
        }    
        .grid{
            max-width: 1000px;
        }
        .col_hotels{
            display: flex;
            align-items: center;
            @media screen and (max-width:999px) {
                display: block;
            }
            .sec_img_hotel{
                position: relative;
                width: 620px;
                @media screen and (max-width:999px) {
                   width: 100%;
                   img{
                       width: 100%;
                       height: 480px;
                       object-fit: cover;
                   }
                }
                
                .slick-list{
                    overflow: visible;
                }
                .slick-dots{
                    position: absolute;
                    bottom: 35px;
                    #{$start}: 5%;
                    top: auto;
                    display: flex;
                    justify-content: center;
                    z-index: 9;
                    // direction: ltr;
                    @media (max-width:1025px) {
                      bottom: auto;
                      top: 20px;
                    }
                    li{
                      button {
                        // border: 1px solid #ffffff;
                        width: 20px;
                        height: 10px;
                        border-radius: 8px;
                        background: #ffffffc9;
                        font-size: 0;
                        margin: 0 3px;
                      }
                      &.slick-active{
                        button {
                          background: #d0470c;
                        }
                      }
                    }
                }
                .hover_box{
                    position: absolute;
                    top: 40%;
                    left: -200px;
                    width: 330px;
                    background: #ffffffdb;
                    @media screen and (max-width:999px) {
                        bottom: 0px;
                        top: auto;
                        left: 0;
                        right: 0;
                        max-width: 500px;
                        width: 100%;
                        margin: 0 auto;
                    }
                    @media screen and (max-width:479px) {
                        max-width: 280px;
                    }
                    .box{
                        padding: 30px 10px;
                        @media screen and (max-width:479px) {
                            padding: 20px 10px;
                        }
                        h6{
                            font-size: 21px;
                            font-weight: normal;
                            text-transform: uppercase;
                            letter-spacing: 0.61px;
                            padding-bottom: 10px;
                            @media screen and (max-width:999px) {
                              font-size: 16px;
                            }
                            @media screen and (max-width:479px) {
                                font-size: 12px;
                            }
                        }
                        p{
                            font-size: 60px;
                            font-weight: bold;
                            line-height: 73px;
                            @media screen and (max-width:999px) {
                               font-size: 24px;
                               line-height: 42px;
                            }
                            @media screen and (max-width:479px) {
                                font-size: 18px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
            .sec_info_hotels{
                margin-left: 45px;
                width: calc(100% - 620px);
                @media screen and (max-width:999px) {
                    width: 100%;
                    margin: 30px 0 0;
                }
                h4{
                    font-size: 48px;
                    font-weight: 300;
                    font-weight: bold;
                    @media screen and (max-width:999px) {
                        font-size: 28px;
                    }
                }
                p{
                    color: #737373;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;
                    max-width: 450px;
                    padding: 15px 0 25px;
                    @media screen and (max-width:999px) {
                        font-size: 14px;
                        padding: 10px 0 15px;
                        max-width: 100%;
                    }
                }
                ul{
                    li{
                        position: relative;
                        border-bottom: 1px solid #dedede;
                        padding: 15px 0;
                        transition: all 0.3s;
                        @media screen and (max-width:999px) {
                            padding: 10px 0;
                        }
                        &::before {
                            content: "chevron_right";
                            @include MaterialFamily;
                            font-size: 21px;
                            color: inherit;
                            position: absolute;
                            #{$start}: 0;
                            line-height: 40px;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                               font-size: 15px;
                            }
                        }
                        a{
                            display: block;
                            font-size: 21px;
                            line-height: 40px;
                            font-weight: normal;
                            transition: all 0.3s;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                line-height: 34px;
                            }
                        }
                        &:hover{
                            &::before{
                                color: $Aqua;
                            }
                            a{
                                color: $Aqua;
                            }
                        }
                    }
                }
            }
        }
    }
    .section_phases{
        padding: 0 0 150px 0;
        @media screen and (max-width:999px) {
            padding: 50px 0;
        }
        .grid{
            max-width: 1100px;
        }
       .section_title{
           text-align: center;
           h3{
            font-size: 48px;
            font-weight: 300;
            line-height: 73px;
            @media screen and (max-width:999px) {
                font-size: 22px;
                line-height: 32px;
            }
           }
           p{
            color: rgb(115, 115, 115);
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            max-width: 400px;
            margin: 0 auto;
            @media screen and (max-width:999px) {
                max-width: 100%;
                padding-top: 8px;
            }
           }
       } 
       .all_phases{
           display: flex;
           flex-wrap: wrap;
           padding-top: 60px;
            @media screen and (max-width:999px) {
                padding-top: 15px;
            }
            
           .single_phases{
               width: calc(100% / 3);
                @media screen and (max-width:999px) {
                    width: calc(100% / 2);
                }
                @media (max-width:779px) {
                    width:100%;
                }
               a{
                    display: block;
                    padding: 0 5px 35px;
                    cursor: pointer;
                    @media (max-width:779px) {
                       padding: 0 0 20px;
                    }
                    // @media screen and (max-width:999px) {
                    //     padding: 0 15px 30px;
                    // } 
                    // @media screen and (max-width:779px) {
                    //     padding: 0 5px 30px;
                    // }
                    .box{
                        position: relative;
                        font-size: 0;
                        @include transition(all, 0.4s, ease); 
                        // &::before{
                        //     content: '';
                        //     position: absolute;
                        //     background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
                        //     top: 320px;
                        //     bottom: 0;
                        //     right: 0;
                        //     left: 0;
                        //     display: block;
                        //     z-index: 9;
                        //     @include transition(all, 0.4s, ease);
                        // } 
                    
                        img{
                            width: 100%;
                            // height: 675px;
                            object-fit: cover;
                            // @media (max-width:779px) {
                            //     height: 500px;
                            // }
                        }
                        .info{
                            // position: absolute;
                            // bottom: 30px;
                            // left: 20px;
                            // right: 20px;
                            // z-index: 99;
                            // max-width: 280px;
                            // margin: 0 auto;
                            // word-wrap: break-word;
                            padding-top: 10px;
                            .title_phases{
                                font-size: 24px;
                                line-height: 50px;
                                font-weight: 400;
                                color: black;
                                @media screen and (max-width:999px) {
                                font-size: 20px;
                                line-height: 32px;
                                } 
                                @media screen and (max-width:479px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                            .position_phases{
                                font-size: 14px;
                                font-weight: 600;
                                color: #919292;
                                font-family: 'Barlow Semi Condensed', sans-serif;
                                position: relative;
                                @media screen and (max-width:999px) {
                                    font-size: 12px;
                                }
                                &::after{
                                    content: "chevron_right";
                                    @include MaterialFamily;
                                    color: #919292;
                                    vertical-align: bottom;
                                    margin-left: 2px;
                                    font-size: 14px;
                                    @media (max-width:779px) {
                                        vertical-align: sub;
                                     }
                                }
                            }
                        }
                        &:hover{
                            // .title_phases{
                            //     text-decoration: underline;
                            // }
                            .position_phases{
                                color: #32C2DE;
                                &::after{
                                    color: #32C2DE;
                                }
                            }
                        }
                    }
                }
           }
       }
    }
    .section_Activities{
        padding-bottom: 100px;
        @media screen and (max-width:999px) {
           padding-bottom: 50px;
        }
        .grid{
            display: flex;
            @media screen and (max-width:999px) {
               display: block;
            }
        }
        .side_left{
            width: 50%;
            @media screen and (max-width:999px) {
                width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-around;
            }
            @media screen and (max-width:767px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .sec_image{
                position: relative;
                // margin-left: -50px;
                // @media screen and (max-width:999px) {
                //     margin-left: 0;
                // }
                // &::before{
                //     content: '';
                //     background-image: url(../img/bk_yellow.png);
                //     background-repeat: no-repeat;
                //     width: 100%;
                //     height: 100%;
                //     position: absolute;
                //     left: -50px;
                //     top: 70px;
                //     @media screen and (max-width:999px) {
                //         left: 0;
                //         top: 20px;
                //         background-size: 300px;
                //     }
                //     @media screen and (max-width:767px) {
                //         background-size: 400px;
                //     }
                // }
                img{
                    position: relative;
                    @media screen and (max-width:999px) {
                        width: 100%;
                    }
                    // @media screen and (max-width:767px) {
                    //     max-width: 400px;
                    // }
                }
            }
            .text{
                padding-top: 20px;
                span{
                    color: rgb(33, 33, 33);
                    font-size: 28px;
                    font-weight: 300;
                    @media screen and (max-width:999px) {
                       font-size: 18px;
                    }
                    @media screen and (max-width:767px) {
                        width: 100%;
                    }
                }
                h3{
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 73px;
                    max-width: 350px;
                    padding: 10px 0 20px;
                    @media screen and (max-width:999px) {
                        font-size: 28px;
                        line-height: 42px;
                    }
                    @media screen and (max-width:767px) {
                        max-width: 100%;
                    }
                }
                p{
                    color: rgb(115, 115, 115);
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    max-width: 350px;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                        line-height: 26px;
                    }
                    @media screen and (max-width:767px) {
                        max-width: 100%;
                    }
                }
                &.sticky_text.fixed {
                    position: fixed;
                    top: 0;
                    left: 180px;
                    right: 0;
                    width: 100%;
                    z-index: 999;
                }
            }
        }
        .side_right{
            width: 50%;
            @media screen and (max-width:999px) {
                width: 100%;
            }
            .all_activity{
                display: flex;
                flex-wrap: wrap;
                padding-top: 60px;
                margin: 0 -5px;
                @media screen and (max-width:767px) {
                    padding-top: 10px;
                 }
                .single_activity{
                    width: calc(100% / 2);
                    padding: 0 5px 80px;
                    @media screen and (max-width:779px) {
                       padding: 0 10px 40px;
                    }
                    @media screen and (max-width:479px) {
                        width: 100%;
                        padding: 0 0 40px;
                    }
                     .box{
                         position: relative;
                         .image{
                            position: relative;
                            height: 380px;
                            &::before{
                                content: '';
                                position: absolute;
                                background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.17) 100%);
                                top: 0;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                display: block;
                                z-index: 9;
                                @include transition(all, 0.4s, ease);
                            }
                            @media screen and (max-width:779px) {
                                height: 280px;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .title_activity{
                                position: absolute;
                                bottom: 30px;
                                #{$end}: 20px;
                                z-index: 99;
                                // max-width: 180px;
                                @media screen and (max-width:779px) {
                                    bottom: 15px;
                                    left: 20px;
                                }
                                h4{
                                    font-size: 36px;
                                    line-height: 42px;
                                    font-weight: bold;
                                    color: white;
                                    position: relative;
                                    @media screen and (max-width:999px) {
                                       font-size: 28px;
                                    }
                                    @media screen and (max-width:779px) {
                                       font-size: 18px;
                                    }
                                }
                                // &::before{
                                //     content: '';
                                //     background: black;
                                //     width: 100%;
                                //     height: 33px;
                                //     display: block;
                                //     position: absolute;
                                // }
                            }
                         }
                        
                         .desc{
                            padding-top: 20px;
                             p{
                                color: #737373;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 30px;
                                padding: 15px 0;
                                @media screen and (max-width:779px) {
                                    font-size: 14px;
                                    line-height: 24px;
                                }
                             }
                             .link{
                                    display: block;
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: black;
                                    border: 2px solid black;
                                    width: 160px;
                                    text-align: center;
                                    padding: 10px 0;
                                    transition: all 0.3s;
                                    font-family: 'Barlow Semi Condensed', sans-serif;
                                &:hover{
                                    background: black;
                                    color: white;
                                }
                                @media screen and (max-width:779px) {
                                    font-size: 14px;
                                    // width: 100%;
                                }
                             }
                         }
                     }
                }
            }
        }
    }
    .section_banner{
        position: relative;
        font-size: 0;
        // max-width: 1680px;
        // margin: 0 auto;
        
        .single_banner{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.17) 100%);
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                display: block;
                z-index: 9;
                @include transition(all, 0.4s, ease);
            }
            img{
                width: 100%;
                @media screen and (max-width:767px) {
                    min-height: 350px;
                    object-fit: cover;
                }    
            }
            .text{
                position: absolute;
                top: 35%;
                left: 14%;
                z-index: 9;
                @media screen and (max-width:999px) {
                    top: 0;
                    left: -200px;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: inline-table;
                }
                @media screen and (max-width:600px) {
                    left: 20px;
                    right: 20px;
                }
                span{
                    color: white;
                    font-size: 36px;
                    font-weight: 300;
                    @media screen and (max-width:999px) {
                        font-size: 11px;
                    }
                }
                h4{
                    color: white;
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 73px;
                    max-width: 700px;
                    padding: 10px 0 20px;
                    @media screen and (max-width:999px) {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 6px 0 15px
                    }
                }
                p{
                    color: white;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    max-width: 320px;
                    padding-bottom: 40px;
                }
                a{
                    max-width: 250px;
                    background: white;
                    // border-radius: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                    display: block;
                    padding: 14px 0px;
                    @media screen and (max-width:999px) {
                        font-size: 10px;
                        max-width: 160px;
                        padding: 10px 0;
                    }
                }
            }
        }
        .arrow{
            right: 0;
            position: relative;
            position: absolute;
            background: #32c2de;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            top: 48%;
            cursor: pointer;
            z-index: 9;
            @include transition(all, 0.2s, ease);

            @media screen and (max-width:999px) {
                width: 25px;
                height: 25px;
            }
            &.slick-disabled{
                pointer-events: none;
                opacity: .5;
            }
            &.next{
                right: 100px;
                @media screen and (max-width:999px) {
                  right: 10px;
                }
                span {
                    display: block;
                        &::before{
                            content: "chevron_right";
                            @include MaterialFamily;
                            color: white;
                            position: absolute;
                            font-size: 36px;
                            top: 8px;
                            left: 9px;
                            @media screen and (max-width:999px) {
                                font-size: 16px;
                                top: 5px;
                                left: 5px;
                            }
                        }
                }
            }
            &.prev{
                left: 100px;
                @media screen and (max-width:999px) {
                    left: 10px;
                  }
                span {
                    display: block;
                        &::before{
                            content: "chevron_left";
                            @include MaterialFamily;
                            color: white;
                            position: absolute;
                            font-size: 36px;
                            top: 8px;
                            left: 9px;
                            @media screen and (max-width:999px) {
                                font-size: 16px;
                                top: 5px;
                                left: 5px;
                            }
                        }
                }
            }
            &:hover{
                background: #2db8d3;
            }
        }
        .slick-dots{
            position: absolute;
            bottom: 30px;
            #{$end}: 14%;
            top: auto;
            display: flex;
            justify-content: center;
            z-index: 9;
            // direction: ltr;
            @media (max-width:1025px) {
              bottom: 18px;
            }
            @media (max-width:479px) {
                bottom: 8px;
                left: 5%;
            }
            li{
              button {
                // border: 1px solid #ffffff;
                width: 20px;
                height: 10px;
                border-radius: 8px;
                background: #ffffffc9;
                font-size: 0;
                margin: 0 3px;
                @media (max-width:1025px) {
                    width: 15px;
                    height: 8px;
                }
              }
              &.slick-active{
                button {
                  background: #d0470c;
                }
              }
            }
        }
    }
    .section_news{
        padding:200px 0 100px;
        display: none;
        @media screen and (max-width:999px) {
           padding: 50px 0;
        }
       .section_title{
           text-align: center;
           h3{
            font-size: 48px;
            font-weight: 300;
            line-height: 73px;
            @media screen and (max-width:999px) {
                font-size: 30px;
                line-height: 38px;
             }
           }
           p{
            color: rgb(115, 115, 115);
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            max-width: 400px;
            margin: 0 auto;
            @media screen and (max-width:999px) {
                font-size: 14px;
                line-height: 22px;
                padding-top: 10px;
            }
           }
       } 
       .all_news{
           display: flex;
           flex-wrap: wrap;
           padding-top: 60px;
           .single_news{
               width: calc(100% / 2);
                @media screen and (max-width:479px) {
                    width: 100%;
                    padding-bottom: 15px;
                }
               a{
                display: block;
                padding: 0 25px 50px;
                cursor: pointer;
                @media screen and (max-width:999px) {
                    padding: 0 8px 16px;
                } 
                .box{
                    position: relative;
                    @include transition(all, 0.4s, ease); 
                    
                   .img{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            display: block;
                            z-index: 9;
                            @include transition(all, 0.4s, ease);
                        } 
                        img{
                            width: 100%;
                            height: 675px;
                            object-fit: cover;
                            @media screen and (max-width:999px) {
                               height: 330px;
                            }
                        }
                        span{
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            color: rgb(33, 33, 33);
                            font-size: 18px;
                            font-weight: bold;
                            text-transform: uppercase;
                            @media screen and (max-width:779px) {
                                top: 15px;
                                left: 15px;
                                font-size: 12px;
                             }
                        }
                    }
                    
                    .info{
                        .title_news{
                            font-size: 36px;
                            font-weight: bold;
                            line-height: 44px;
                            padding: 15px 0;
                            @media screen and (max-width:999px) {
                                font-size: 20px;
                                line-height: 32px;
                                padding: 10px 0 8px;
                            }
                        }
                        .date_news{
                            color: rgb(33, 33, 33);
                            font-size: 21px;
                            font-weight: normal;
                            text-transform: uppercase;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
           }
       }
    }
}