.style_page_form{
    position: relative;
    padding: 50px 0;
    @media screen and (max-width:770px) {
       padding: 30px 0;
     }
    .grid{
        // max-width: 1200px;
        // margin: 0 auto;
        // z-index: 9;
        // position: relative;
        .section_title{
            border-bottom: 1px solid #007fa81f;
            h1{
                color: #000000;
                font-size: 28px;
                font-weight: bold;
                padding: 15px 0;
                // text-align: center;
                @media screen and (max-width:770px) {
                   font-size: 18px;
                   padding: 8px 0 20px;
                  }
            }
        }
        .content{
            
            h2{
                font-size: 20px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 16px;
                }
            }
            h3{
                font-size: 18px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 14px;
                }
            }
            h4{
                font-size: 16px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            h5{
                font-size: 14px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            h6{
                font-size: 12px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            p{
                color: #414241;
                font-size: 14px;
                line-height: 30px;
                font-weight: 500;
                @media (max-width:770px) {
                    font-size: 12px;
                    line-height: 25px;
                }
            }
            img{
                display: block;
                width: 100%;
            }
            strong{
                font-weight: 700;
            }
            a{
                display: inline-block;
                color: #2075ff;
                &:hover{
                    text-decoration: underline;
                }
            }
            ul,
            ol {
              li {
                padding-right: 15px;
                position: relative;
                font-size: 14px;
                line-height: 28px;
                color: #121212;
                @media screen and (max-width:770px) {
                    font-size: 12px;
                    padding-#{$end}: 12px;
                    padding-bottom: 0;
                  } 
                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 8px;
                  height: 8px;
                  background-color: $Aqua;
                  top: 9px;
                  border-radius: 50%;
                  @media screen and (max-width:770px) {
                    width: 5px;
                    height: 5px;
                    top: 10px;
                   } 
                }
              }
            }
        }
        .page_faq{
            .section_title{
                h1{
                    text-align: #{$end};
                }
            }
            .faq_content{
                display: flex;
                padding-top: 30px;
                @media screen and (max-width:770px) {
                   flex-wrap: wrap;
                } 
                .nav_menu{
                    width: 250px;
                    @media screen and (max-width:770px) {
                        width: 100%;
                    } 
                    h5{
                        color: #c0c0c0;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        padding-bottom: 20px;
                    }
                    .nav_single_title{
                        display: block;
                        color: black;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 24px;
                        padding-bottom: 20px;
                        cursor: pointer;
                        &:last-child{
                            padding-bottom: 0;
                        }
                        &.active{
                            color: $Aqua;
                        }
                    }
                }
                .section_faq{
                    width: calc(100% - 160px);
                    padding-#{$end}: 40px;
                    padding-bottom: 50px;
                    @media screen and (max-width:770px) {
                        width: 100%;
                        padding-#{$end}: 0;
                        padding-top: 35px;
                    } 
                    .single_faq{
                        display: none;
                        &.active{
                            display: block;
                        }
                        .faq{
                            border-bottom: 1px solid #a7aaac4d;
                            &.active{
                                .question{
                                    color: $Aqua;
                                    &::after{
                                        content: 'remove';
                                        color: $Aqua;
                                    }
                                }
                                .answer{
                                    display: block;
                                }
                            }
                            .question{
                                color: #414241;
                                font-size: 17px;
                                font-weight: bold;
                                line-height: 22px;
                                display: flex;
                                justify-content: space-between;
                                padding: 18px 0px;
                                cursor: pointer;  
                                &::after{
                                    content: 'add';
                                    @include MaterialFamily;
                                    font-size: 20px;
                                    color: black;
                                    font-weight: bold;
                                }
                            }
                            .answer{
                                display: none;
                                padding: 0 0 16px;
                                max-width: 900px;
                            }                  
                        }
                    }
                }
            }
          
        }
        .section_career{
            padding-top: 35px;
            .single_career{
                margin-bottom: 20px;
                background: #f6f6f6;
                border-radius: 4px;
                &.active{
                    .title_career{
                        color: $Aqua;
                        &::after{
                            content: 'remove';
                            color: $Aqua;
                        }
                    }
                    .career{
                        display: block;
                    }
                }
                .title_career{
                    color: #414241;
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 22px;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 24px 18px;
                    cursor: pointer;  
                    &::after{
                        content: 'add';
                        @include MaterialFamily;
                        font-size: 20px;
                        color: black;
                        font-weight: bold;
                    }
                }
                .career{
                    display: none;
                    padding: 0 16px 16px;
                    max-width: 900px;
                }
            }
        }
        .privacy_and_terms{
            padding-top: 40px;
            .min_box{
                padding: 30px 0;
                @media screen and (max-width:770px) {
                   padding: 20px 10px;
                } 
                h3{
                    color: #555555;
                    font-weight: bold;
                }
            }
        }
    }
}