.thanks_page{
    max-width: 1010px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 999px) {
       flex-direction: column;
    }
    .left{
        width: 600px;
        @media screen and (max-width: 999px) {
           width: 100%;
        }
        .title{
            color: #00AB84;
            font-size: 42px;
            font-family: bold;
            letter-spacing: 1.23px;
            line-height: 54px;
        }
        .subtitle{
            color: #121212;
            font-size: 28px;
            font-family: normal;
            letter-spacing: 0;
            line-height: 34px;
            padding: 20px 0;
        }
        .desc{
            color: #231F20;
            font-size: 12px;
            font-family: 300;
            letter-spacing: 0;
            line-height: 24px;
        }
        .woocommerce-customer-details{
            width: 100%;
            margin-top: 30px;
            border: 3px solid #32C2DE;
            padding: 40px;
            .row{
                padding-bottom: 10px;
                &:last-child{
                    padding-bottom: 0;
                }
                label{
                    color: #6C757D;
                    font-size: 12px;
                    line-height: 24px;
                }
                p{
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;                  
                }
            }
        }
    }
    .order_review-content {
        width: calc(100% - 630px);
        border: 1px solid #007fa838;
        padding: 20px;
        @media screen and (max-width: 999px) {
            width: 100%;
         }
        #order_review_thanks {
            .order-title{
                padding-bottom: 15px;
                border-bottom: 1px solid #007fa838;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    color: #00AB84;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 27px;
                }
                a{
                    display: block;
                    color: #00AB84;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 27px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .shop_table {
                padding: 0;
                border: none;
                text-align: #{$end};
                margin: 0;
                position: relative;
                tbody{
                    display: table-caption;
                    padding: 25px 0 0;
                    margin-bottom: 20px;
                }
                tfoot {
                    border-top: 1px solid #007fa838;
                    display: flex;
                    justify-content: space-between;
                    tr.cart-subtotal{
                        th,td{
                            padding-top: 12px !important;
                        }
                    }
                    tr.cart-shipping{
                        th,td{
                            padding-bottom: 10px;
                        }
                    }
                    tr.order-total {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding-top: 20px;
                        // position: absolute;
                        // bottom: -48px;
                        th,
                        td {
                            // border-top: 1px solid #e4e4e4;
                            font-weight: 700;
                            font-size: 18px;
                            vertical-align: top;
                            background-color: transparent;
                            padding-top: 12px;
                            color: #121212;
                        }
                        th{
                            font-size: 14px !important;
                            font-weight: normal;
                            text-transform: uppercase;
                        }
                    }
                    th {
                        text-align: left;
                        border: none;
                        font-size: 12px;
                        font-weight: 600;
                        color: #6c707d;
                        padding: 6px 0 !important;
                        background-color: transparent;
                        vertical-align: middle;
                    }
                    td {
                        border: none;
                        text-align: right;
                        font-size: 12px;
                        padding: 6px 0 !important;
                        color: #121212;
                        font-weight: 500;
                        .woocommerce-Price-amount.amount{
                            color: #000 !important;
                        }
                        .includes_tax {
                            display: none;
                        }
                    } 
                }
                tr.cart_item {
                    display: block;
                    width: 100%;
                    // height: 370px;
                    min-height: 300px;
                    overflow: scroll;
                    @media screen and (max-width: 999px) {
                        min-height: 100%;
                     }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    td{
                        width: 100%; 
                        display: block;
                        padding: 0 0 15px;
                        border-top: 1px solid #e3e3e3;
                    }
                    &:first-child{
                        td{
                            border-top: 0;
                        }
                    }
                    td {
                        width: 100%;      
                        border: none;
                        line-height: normal;
                        background-color: transparent;
                    }
                }
                .product-thumb-name {
                    display: flex;
                    padding: 0;
                    font-size: 0;
                    align-items: flex-start;
                    img {
                        display: block;
                        width: 70px;
                        float: none;
                        margin: 0;
                        height: auto;
                    }
                    .product-name-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: calc(100% - 70px);
                        padding-#{$end}: 10px;
                        position: relative;
                        .right{
                            width: 60%;
                            .product-title {
                                margin-bottom: 0;
                                text-decoration: none;
                                font-size: 12px;
                                color: #000;
                                font-weight: 600;
                                line-height: 20px;
                            }
                            .variation {
                                padding: 0;
                                border: none;
                                margin-top: 4px;
                                display: inline-block;
                                vertical-align: middle;
                                dt,
                                dd {
                                    font-weight: 400;
                                    font-size: 10px;
                                    color: #4F4F4F;
                                    padding: 0;
                                    display: inline-block;
                                    float: none;
                                    margin: 0;
                                    line-height: 12px;
                                    // color: $Gray;
                                    p {
                                        font-size: inherit;
                                    }
                                }
                                dt~dt {
                                    margin-#{$end}: 4px;
                                    border-#{$end}: 1px solid;
                                    padding-#{$end}: 8px;
                                }
                                dd {
                                    padding-#{$end}: 3px;
                                }
                            }
                        }
                        .left{
                            width: calc(100% - 60%);
                            text-align: right;
                            .woocommerce-Price-amount.amount {
                                color: black;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                        .product-quantity {
                            width: 100%;
                            font-size: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 10px;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}
